trunk/Projects/Lodel/RomaResults/lodel.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:xlink="http://www.w3.org/1999/xlink" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.tei-c.org/ns/1.0">
  <!--
Schema generated from ODD source 2013-09-16T22:28:56Z. 
Edition: 2.5.0. Last updated on
	26th July 2013.
Edition Location: http://www.tei-c.org/Vault/P5/2.5.0/
  
-->
  <!---->
  <define name="TEI">
    <element name="TEI">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(TEI document) contains a single TEI-conformant document, comprising a TEI header and a text, either in isolation or as part of a teiCorpus element. [4.  15.1. ]</a:documentation>
      <group>
        <ref name="teiHeader"/>
        <choice>
          <group>
            <optional>
              <ref name="text"/>
            </optional>
          </group>
          <ref name="text"/>
        </choice>
      </group>
      <ns xmlns="http://purl.oclc.org/dsdl/schematron" prefix="tei" uri="http://www.tei-c.org/ns/1.0"/>
      <ns xmlns="http://purl.oclc.org/dsdl/schematron" prefix="rng" uri="http://relaxng.org/ns/structure/1.0"/>
      <optional>
        <attribute name="version">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the major version number of the TEI Guidelines against which this document is valid.</a:documentation>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="back">
    <element name="back">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(back matter) contains any appendixes, etc. following the main part of a text. [4.7.  4. ]</a:documentation>
      <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
    </element>
  </define>
  <define name="body">
    <element name="body">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(text body) contains the whole body of a single unitary text, excluding any front or back matter. [4. ]</a:documentation>
      <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
    </element>
  </define>
  <define name="cell">
    <element name="cell">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains one cell of a table.  [14.1.1. ]</a:documentation>
      <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
    </element>
  </define>
  <define name="extent">
    <element name="extent">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">describes the approximate size of a text stored on some carrier medium or of some other object, digital or non-digital, specified in any convenient units. [2.2.3.  2.2.  3.11.2.4.  10.7.1. ]</a:documentation>
      <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
    </element>
  </define>
  <define name="fileDesc">
    <element name="fileDesc">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(file description) contains a full bibliographic description of an electronic file. [2.2.  2.1.1. ]</a:documentation>
      <group>
        <group>
          <ref name="titleStmt"/>
          <optional>
            <ref name="extent"/>
          </optional>
          <ref name="publicationStmt"/>
          <optional>
            <ref name="notesStmt"/>
          </optional>
        </group>
        <oneOrMore>
          <ref name="sourceDesc"/>
        </oneOrMore>
      </group>
    </element>
  </define>
  <define name="front">
    <element name="front">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(front matter) contains any prefatory matter (headers, title page, prefaces, dedications, etc.) found at the start of a document, before the main body. [4.6.  4. ]</a:documentation>
      <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
    </element>
  </define>
  <define name="idno">
    <element name="idno">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identifier) supplies any form of identifier used to identify some object, such as a bibliographic item, a person, a title, an organization, etc. in a standardized way. [2.2.4.  2.2.5.  3.11.2.4. ]</a:documentation>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="idno"/>
        </choice>
      </zeroOrMore>
      <optional>
        <attribute name="type">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">categorizes the identifier, for example as an ISBN, Social Security number, etc. </a:documentation>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="item">
    <element name="item">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains one component of a list. [3.7.  2.5. ]</a:documentation>
      <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
    </element>
  </define>
  <define name="keywords">
    <element name="keywords">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a list of keywords or phrases identifying the topic or nature of a text. [2.4.3. ]</a:documentation>
      <choice>
        <ref name="list"/>
      </choice>
      <optional>
        <attribute name="scheme">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the controlled vocabulary within which the set of keywords concerned is defined. </a:documentation>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="label">
    <element name="label">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains any label or heading used to identify part of a text, typically but not exclusively in a list or glossary. [3.7. ]</a:documentation>
      <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
    </element>
  </define>
  <define name="language">
    <element name="language">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes a single language or sublanguage used within a text. [2.4.2. ]</a:documentation>
      <attribute name="ident">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identifier) Supplies a language code constructed as defined in BCP 47 which is used to identify the language documented by this element, and which is referenced by the global xml:lang attribute.</a:documentation>
      </attribute>
      <optional>
        <attribute name="usage">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the approximate percentage (by volume) of the text which uses this language. </a:documentation>
          <data type="nonNegativeInteger">
            <param name="maxInclusive">100</param>
          </data>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="list">
    <element name="list">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(list) contains any sequence of items organized as a list. [3.7. ]</a:documentation>
      <group>
        <zeroOrMore>
          <empty/>
        </zeroOrMore>
        <choice>
          <oneOrMore>
            <ref name="item"/>
          </oneOrMore>
          <group>
            <oneOrMore>
              <ref name="label"/>
              <ref name="item"/>
            </oneOrMore>
          </group>
        </choice>
        <zeroOrMore>
          <empty/>
        </zeroOrMore>
      </group>
      <optional>
        <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" name="type" a:defaultValue="simple">
          <a:documentation>describes the form of the list.
Suggested values include: 1] ordered; 2] bulleted; 3] simple; 4] gloss</a:documentation>
          <choice>
            <value>ordered</value>
            <a:documentation>list items are numbered or lettered. </a:documentation>
            <value>bulleted</value>
            <a:documentation>list items are marked with a bullet or other typographic device. </a:documentation>
            <value>simple</value>
            <a:documentation>list items are not numbered or bulleted. </a:documentation>
            <value>gloss</value>
            <a:documentation>each list item glosses some term or concept, which is given by a label element preceding the list item.</a:documentation>
            <data type="Name"/>
          </choice>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="notesStmt">
    <element name="notesStmt">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(notes statement) collects together any notes providing information about a text additional to that recorded in other parts of the bibliographic description. [2.2.6.  2.2. ]</a:documentation>
      <oneOrMore>
        <choice>
          <ref name="relatedItem"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="publicationStmt">
    <element name="publicationStmt">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(publication statement) groups information concerning the publication or distribution of an electronic or other text.  [2.2.4.  2.2. ]</a:documentation>
      <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
    </element>
  </define>
  <define name="relatedItem">
    <element name="relatedItem">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains or references some other bibliographic item which is related to the present one in some specified manner, for example as a constituent or alternative version of it. [3.11.2.7. ]</a:documentation>
      <optional>
        <empty/>
      </optional>
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="relatedItem-constraint-targetorcontent11">
        <rule context="tei:relatedItem">
          <sch:report xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns="http://www.tei-c.org/ns/1.0" test="@target and count( child::* ) &gt; 0">
If the @target attribute on <sch:name/> is used, the
relatedItem element must be empty</sch:report>
        </rule>
      </pattern>
      <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="relatedItem-constraint-targetorcontent11">
        <rule context="tei:relatedItem">
          <sch:assert xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns="http://www.tei-c.org/ns/1.0" test="@target or child::*">A relatedItem element should have either a 'target' attribute
        or a child element to indicate the related bibliographic item</sch:assert>
        </rule>
      </pattern>
      <optional>
        <attribute name="target">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to the related bibliographic element by means of an absolute or relative URI reference</a:documentation>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="rendition">
    <element name="rendition">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies information about the rendition or appearance of one or more elements in the source text. [2.3.4. ]</a:documentation>
      <optional>
        <attribute name="scope">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">where CSS is used, provides a way of defining pseudo-elements, that is, styling rules applicable to specific sub-portions of an element.
Sample values include: 1] first-line; 2] first-letter; 3] before; 4] after</a:documentation>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="resp">
    <element name="resp">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(responsibility) contains a phrase describing the nature of a person's intellectual responsibility, or an organization's role in the production or distribution of a work. [3.11.2.2.  2.2.1.  2.2.2.  2.2.5. ]</a:documentation>
      <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
    </element>
  </define>
  <define name="row">
    <element name="row">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains one row of a table.  [14.1.1. ]</a:documentation>
      <oneOrMore>
        <ref name="cell"/>
      </oneOrMore>
    </element>
  </define>
  <define name="sourceDesc">
    <element name="sourceDesc">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(source description) describes the source from which an electronic text was derived or generated, typically a bibliographic description in the case of a digitized text, or a phrase such as "born digital" for a text which has no previous existence. [2.2.7. ]</a:documentation>
      <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
    </element>
  </define>
  <define name="teiHeader">
    <element name="teiHeader">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(TEI header) supplies the descriptive and declarative information making up an electronic title page prefixed to every TEI-conformant text. [2.1.1.  15.1. ]</a:documentation>
      <group>
        <ref name="fileDesc"/>
      </group>
      <optional>
        <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" name="type" a:defaultValue="text">
          <a:documentation>specifies the kind of document to which the header is attached, for example whether it is a corpus or individual text.
Sample values include: 1] text; 2] corpus</a:documentation>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="text">
    <element name="text">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a single text of any kind, whether unitary or composite, for example a poem or drama, a collection of essays, a novel, a dictionary, or a corpus sample. [4.  15.1. ]</a:documentation>
      <group>
        <optional>
          <ref name="front"/>
        </optional>
        <choice>
          <ref name="body"/>
        </choice>
        <optional>
          <ref name="back"/>
        </optional>
      </group>
    </element>
  </define>
  <define name="title">
    <element name="title">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a title for any kind of work. [3.11.2.2.  2.2.1.  2.2.5. ]</a:documentation>
      <optional>
        <attribute name="level">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the bibliographic level for a title, that is, whether it identifies an article, book, journal, series, or unpublished material.</a:documentation>
          <choice>
            <value>a</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(analytic) the title applies to an analytic item, such as an article, poem, or other work published as part of a larger item. </a:documentation>
            <value>m</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(monographic) the title applies to a monograph such as a book or other item considered to be a distinct publication, including single volumes of multi-volume works </a:documentation>
            <value>j</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(journal) the title applies to any serial or periodical publication such as a journal, magazine, or newspaper </a:documentation>
            <value>s</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(series) the title applies to a series of otherwise distinct publications such as a collection </a:documentation>
            <value>u</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(unpublished) the title applies to any unpublished material (including theses and dissertations unless published by a commercial press)</a:documentation>
          </choice>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="titleStmt">
    <element name="titleStmt">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(title statement) groups information about the title of a work and those responsible for its content. [2.2.1.  2.2. ]</a:documentation>
      <group>
        <oneOrMore>
          <ref name="title"/>
        </oneOrMore>
      </group>
    </element>
  </define>
  <start>
    <choice>
      <ref name="TEI"/>
    </choice>
  </start>
</grammar>
