Talks/2014-02-lyon/stuffodd.xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <!-- Schema generated from ODD source 2014-01-31T15:38:53Z.   -->
  <!---->
  <xs:element name="stuff">
    <xs:annotation>
      <xs:documentation>élément racine d'un schéma simplissime</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="bit"/>
        <xs:element ref="bob"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="bob">
    <xs:annotation>
      <xs:documentation>élément pointeur du schéma simplissime</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="href" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation>fournit l' URI de l'objet cible</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="bit">
    <xs:annotation>
      <xs:documentation>élément textuel du schéma simplissime (peut contenir des bobs) </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="bob"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
