Projects/Difdepo/difdepo.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="fr">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>DiFDePo Markup</title>
         </titleStmt>
         <publicationStmt>
            <p>Brouillon de travail </p>
         </publicationStmt>
         <sourceDesc>
            <p>Derived from an analysis of 1 files from
               file:/home/lou/Public/tei-fr/Projects/Difdepo/2015-02-seminaire/</p>
         </sourceDesc>
      </fileDesc>
      <revisionDesc>
         <listChange>
            <change when="2015-10-15">hand edited extensively</change>
            
            <change when="2015-02-10">first draft generated</change>
         </listChange>
      </revisionDesc>
   </teiHeader>
   <text>
      <body>
         <schemaSpec ident="difdepo" start="TEI teiCorpus" docLang="fr">
            <moduleRef key="tei"/>
            <!-- manually deleted these classes -->
            <classSpec type="atts" ident="att.global.responsibility" mode="delete"/>
            <classSpec type="atts" ident="att.declaring" mode="delete"/>
            <classSpec type="atts" ident="att.global.linking" mode="delete"/>
            <classSpec type="atts" ident="att.declarable" mode="delete"/>
            <classSpec type="atts" ident="att.editLike" mode="delete"/>
            <classSpec type="atts" ident="att.datcat" mode="delete"/>
            <classSpec type="atts" ident="att.cReferencing" mode="delete"/>
            <classSpec type="atts" ident="att.edition" mode="delete"/>
            <classSpec type="atts" ident="att.source" mode="delete"/>
            <classSpec type="atts" ident="att.internetMedia" mode="delete"/>
            <classSpec ident="att.pointing" type="atts" mode="change">
               <attList>
                  <attDef ident="targetLang" mode="delete"/>
                  <attDef ident="evaluate" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.global.rendition" type="atts" mode="change">
               <attList>
                         <attDef ident="rendition" mode="delete"/>
               </attList>
            </classSpec>
              <!--Checking module textcrit-->

            <!--Checking module namesdates-->
            <classRef key="model.persNamePart"/>
      <!--      <moduleRef key="namesdates" include="orgName persName placeName"/>-->

            <elementRef key="orgName"/>
           
            <elementRef key="placeName"/>
            
            <elementSpec ident="persName"  mode="change">
               <attList>
                  <attDef ident="role" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="invité"/>
                        <valItem ident="président"/>
                        <valItem ident="secrétaire"/>
                        <valItem ident="expéditeur"/>
                        <valItem ident="destinataire"/>
                     </valList>
                  </attDef>
               </attList>
               <exemplum>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <p><label type="locuteur">IC</label> : Il faudrait prendre contact avec un
                        homme de lettres Mexicain qui travaille à « <title>Vuelta</title> » (revue
                           d’<persName>Octavio Paz</persName>) et qui fait une rubrique oulipienne :
                           <persName>José de la Collina</persName>.</p></egXML>
               </exemplum>
            </elementSpec>

            <elementSpec ident="orgName" mode="change">
               <exemplum>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <p><label type="locuteur">PF</label>: <orgName>Gallimard</orgName> veut un plan
                        du volume 2</p>
                  </egXML>
               </exemplum>
            </elementSpec>

            <!--Checking module dictionaries-->

            <!--Checking module tagdocs-->
            <macroRef key="macro.anyXML"/>
            <macroRef key="macro.schemaPattern"/>

            <!-- <classRef key="att.identified"/>
            <classRef key="model.contentPart"/>
            <classSpec ident="att.combinable" type="atts" mode="delete"/>
               -->
            <classSpec ident="att.identified" type="atts" mode="change">
               <attList>
                  <attDef ident="ident" mode="delete"/>
                  <attDef ident="predeclare" mode="delete"/>
                  <attDef ident="module" mode="delete"/>
                  <attDef ident="status" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.canonical" type="atts" mode="change">
               <attList>
                  <attDef ident="key" mode="delete"/>
                  <!-- wise? -->
               </attList>
            </classSpec>
            <classSpec ident="att.dimensions" type="atts" mode="change">
               <attList>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="precision" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable" type="atts" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
               </attList>
            </classSpec>
          <!--  <classSpec ident="att.datable.w3c" type="atts" mode="change">
               <attList>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
               </attList>
            </classSpec>-->
            <classSpec ident="att.damaged" type="atts" mode="change">
               <attList>
                  <attDef ident="hand" mode="delete"/>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="degree" mode="delete"/>
                  <attDef ident="group" mode="delete"/>
               </attList>
            </classSpec>

            <classSpec ident="att.divLike" type="atts" mode="change">
               <attList>
                  <attDef ident="org" mode="delete"/>
                  <attDef ident="sample" mode="delete"/>
               </attList>
            </classSpec>


            <classSpec ident="att.editLike" type="atts" mode="change">
               <attList>
                  <attDef ident="evidence" mode="delete"/>
                  <attDef ident="instant" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.media" type="atts" mode="change">
               <attList>
                  <attDef ident="width" mode="delete"/>
                  <attDef ident="height" mode="delete"/>
                  <attDef ident="scale" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.interpLike" type="atts" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="inst" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.naming" type="atts" mode="change">
               <attList>
                  <attDef ident="nymRef" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing.group" type="atts" mode="change">
               <attList>
                  <attDef ident="domains" mode="delete"/>
                  <attDef ident="targFunc" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.segLike" type="atts" mode="change">
               <attList>
                  <attDef ident="function" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.timed" type="atts" mode="change">
               <attList>
                  <attDef ident="start" mode="delete"/>
                  <attDef ident="end" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.transcriptional" type="atts" mode="change">
               <attList>
                  <attDef ident="hand" mode="delete"/>
                  <attDef ident="status" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="seq" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.personal" type="atts" mode="change">
               <attList>
                  <attDef ident="full" mode="delete"/>
                  <attDef ident="sort" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module core-->
            <moduleRef key="core"
               include="p hi term unclear name date ref label pb respStmt resp teiCorpus title bibl meeting list item"/>

            <elementSpec ident="bibl" mode="change">
                      <content >
                     <alternate>
                        <elementRef key="meeting"/>
                        <elementRef key="p"/>
                     </alternate>
                  </content><attList>
                     <attDef ident="type" mode="delete"/>
                  </attList>
                  

               <exemplum>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples"><bibl><meeting><date
                              when="1977-11-03"/><placeName> chez FLL</placeName><list
                              type="present">
                              <item><persName ref="#FLL"/></item>
                              <item><persName ref="#HM"
                     /></item></list></meeting></bibl><bibl/></egXML>
               </exemplum>
               <exemplum>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples"><bibl><idno type="cote">DM-4
                           (9)</idno><ptr target="http://gallica.bnf.fr/ark:/12148/btv1b10010200q"/>
                        <title>Compte rendu autographe(s) de Paul Fournel de la réunion du 3
                           novembre.</title></bibl></egXML>
               </exemplum>
               <exemplum>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples"> <bibl>Encodé a partir du scan 10010200 pp. 1 à 2</bibl>
                  </egXML>
               </exemplum>
            </elementSpec>

            <elementSpec ident="term" mode="change">
               <attList>
                  <attDef ident="ref" mode="delete"/>
               </attList>
               <exemplum>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples"><p><label type="locuteur"
                           >CB</label> : <term>poèmes numériques</term> de <persName>Bobby
                           Lapointe</persName>. </p></egXML>
               </exemplum>
            </elementSpec>

            <elementSpec ident="label" mode="change">
               <attList>
                  <attDef ident="type" mode="replace">
                     <valList type="closed">
                        <valItem ident="locuteur">
                           <desc>indique le nom d'une personne associee avec le texte qui
                              suit</desc>
                        </valItem>
                        <valItem ident="rubrique">
                           <desc>caracterise la fonction du texte qui suit</desc>
                        </valItem>
                     </valList>
                 </attDef>
                  <attDef ident="subtype" mode="delete"/> 
               </attList>
               <exemplum>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples"><p><label type="rubrique">Erudition</label> :
                        un article d’<persName>E. Sanguineti </persName>( ?) cet été sur l’Oulipo et
                        la <term>littérature définitionnelle</term> (il présente un <term>plagiaire
                           par anticipation</term>).</p> </egXML>
               </exemplum>
            </elementSpec>

            <elementSpec ident="meeting" mode="change">
               <content>
                  <elementRef key="date"/>
                  <elementRef key="placeName" minOccurs="0"/>
                  <elementRef key="list"/>
               </content>
               <exemplum>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <bibl><meeting><date when="1977-03-11"/><placeName>chez
                              FLL</placeName><list type="present"><item><persName ref="#FLL"
                                    /><persName ref="#HM"/><persName ref="#CB"/><persName ref="#IC"
                                    /><persName ref="#PF"/><persName ref="#MB"/><persName ref="#JR"
                                    /><persName ref="#NA"/><persName role="invité">Jacques
                                    Rigaud</persName><persName role="président"
                                    >FLL</persName><persName role="secretaire"
                              >PF</persName></item></list></meeting></bibl>
                  </egXML>
               </exemplum>

            </elementSpec>
            <elementSpec ident="unclear" mode="change">
               <attList>
                  <attDef ident="reason" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
                  <attDef ident="agent" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="name" mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="respStmt" mode="change">
               <attList>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="resp" mode="change">
               <attList>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="title" mode="change">
               <attList>
                  <attDef ident="level" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module header-->
            <moduleRef key="header"
               include="teiHeader fileDesc titleStmt publicationStmt sourceDesc revisionDesc listChange change"/>
            <elementSpec ident="teiHeader" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="sourceDesc" mode="change">
               <content>
                  <elementRef key="bibl"/>
               </content>
            </elementSpec>
            
            <!--Checking module verse-->
            <!--Checking module msdescription-->
            <!--Checking module transcr-->
            <!--Checking module linking-->
           <!-- <moduleRef key="linking" include="seg"/>
            <elementSpec ident="seg" mode="change">
               <attList>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
     -->       <!--Checking module analysis-->
            <!--Checking module textstructure-->
            <!-- added div manually -->
            <moduleRef key="textstructure" include="TEI text body div front"/>
            <elementSpec ident="TEI" mode="change">
               <attList>
                  <attDef ident="version" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="text" mode="change">
               <attList>
                  <attDef ident="type" mode="replace">
                     <valList type="closed">
                        <valItem ident="CR"><desc>compte rendu d'une reunion</desc></valItem>
                        <valItem ident="CV"><desc>convocation a une reunion</desc></valItem>
                        <valItem ident="OJ"><desc>ordre du jour d'une reunion</desc></valItem>
                        <valItem ident="AUTRE"><desc>autre document</desc></valItem>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <!--Checking module corpus-->
            <moduleRef key="corpus" include="particDesc"/>
         </schemaSpec>
      </body>
   </text>
</TEI>
