Projects/Lodel/RomaResults/lodel.dtd


<!--
DTD Generated 2013-09-16T22:29:00Z. 
Edition: 2.5.0. Last updated on
	26th July 2013.
Edition Location: http://www.tei-c.org/Vault/P5/2.5.0/

-->

<!-- start datatypes -->

<!-- end datatypes -->

<!-- start predeclared patterns -->

<!-- end predeclared patterns -->

<!-- start rest of patterns -->

<!-- end patterns -->

<!-- start classes -->

<!-- stop classes -->

<!-- start elements -->

<!--doc:(TEI document) contains a single TEI-conformant document, comprising a TEI header and a text, either in isolation or as part of a teiCorpus element. [4.  15.1. ] -->
<!ELEMENT TEI (teiHeader,(text?|text))>
<!ATTLIST TEI xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST TEI
version %data.version;  #IMPLIED >
<!ATTLIST TEI xsi:schemaLocation CDATA #IMPLIED
 xmlns:xsi CDATA #FIXED 'http://www.w3.org/2001/XMLSchema-instance'
 >
<!--doc:(anonymous block) contains any arbitrary component-level unit of text, acting as an anonymous container for phrase or inter level elements analogous to, but without the semantic baggage of, a paragraph. [16.3. ] -->
<!ELEMENT ab  EMPTY>
<!ATTLIST ab xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(abbreviation) contains an abbreviation of any sort. [3.5.5. ] -->
<!ELEMENT abbr  EMPTY>
<!ATTLIST abbr xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(affiliation) contains an informal description of a person's present or past affiliation with some organization, for example an employer or sponsor. [15.2.2. ] -->
<!ELEMENT affiliation  EMPTY>
<!ATTLIST affiliation xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(anchor point) attaches an identifier to a point within a text, whether or not it corresponds with a textual element. [8.4.2.  16.4. ] -->
<!ELEMENT anchor EMPTY>
<!ATTLIST anchor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(application information) records information about an application which has edited the TEI file.  [2.3.10. ] -->
<!ELEMENT appInfo  EMPTY>
<!ATTLIST appInfo xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:provides information about an application which has acted upon the document. [2.3.10. ] -->
<!ELEMENT application  EMPTY>
<!ATTLIST application xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST application
ident %data.name;  #REQUIRED
version %data.versionNumber;  #REQUIRED >
<!--doc:in a bibliographic reference, contains the name(s) of an author, personal or corporate, of a work; for example in the same form as that provided by a recognized bibliographic name authority.  [3.11.2.2.  2.2.1. ] -->
<!ELEMENT author  EMPTY>
<!ATTLIST author xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:supplies information about the availability of a text, for example any restrictions on its use or distribution, its copyright status, any licence applying to it, etc. [2.2.4. ] -->
<!ELEMENT availability  EMPTY>
<!ATTLIST availability xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST availability
status (free|unknown|restricted) "unknown"  >
<!--doc:(back matter) contains any appendixes, etc. following the main part of a text. [4.7.  4. ] -->
<!ELEMENT back  EMPTY>
<!ATTLIST back xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(bibliographic citation) contains a loosely-structured bibliographic citation of which the sub-components may or may not be explicitly tagged.  [3.11.1.  2.2.7.  15.3.2. ] -->
<!ELEMENT bibl (#PCDATA)*>
<!ATTLIST bibl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(fully-structured bibliographic citation) contains a fully-structured bibliographic citation, in which all components of the TEI file description are present. [3.11.1.  2.2.  2.2.7.  15.3.2. ] -->
<!ELEMENT biblFull ((titleStmt,extent?,publicationStmt,notesStmt?),sourceDesc*)>
<!ATTLIST biblFull xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(scope of bibliographic reference) defines the scope of a bibliographic reference, for example as a list of page numbers, or a named subdivision of a larger work. [3.11.2.4. ] -->
<!ELEMENT biblScope  EMPTY>
<!ATTLIST biblScope xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST biblScope
unit %data.enumerated;  #IMPLIED
type %data.enumerated;  #IMPLIED
from %data.word;  #IMPLIED
to %data.word;  #IMPLIED >
<!--doc:(text body) contains the whole body of a single unitary text, excluding any front or back matter. [4. ] -->
<!ELEMENT body  EMPTY>
<!ATTLIST body xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains one cell of a table.  [14.1.1. ] -->
<!ELEMENT cell  EMPTY>
<!ATTLIST cell xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains literal code from some formal language such as a programming language. [22.1.1. ] -->
<!ELEMENT code  (#PCDATA)>
<!ATTLIST code xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST code
lang %data.word;  #IMPLIED >
<!--doc:contains a date in any format. [3.5.4.  2.2.4.  2.5.  3.11.2.4.  15.2.3.  13.3.6. ] -->
<!ELEMENT date (#PCDATA)*>
<!ATTLIST date xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(description) contains a brief description of the object documented by its parent element, including its intended usage, purpose, or application where this is appropriate. [22.4.1. ] -->
<!ELEMENT desc  EMPTY>
<!ATTLIST desc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(text division) contains a subdivision of the front, body, or back of a text. [4.1. ] -->
<!ELEMENT div  EMPTY>
<!ATTLIST div xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(edition) describes the particularities of one edition of a text. [2.2.2. ] -->
<!ELEMENT edition  EMPTY>
<!ATTLIST edition xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains a secondary statement of responsibility for a bibliographic item, for example the name of an individual, institution or organization, (or of several such) acting as editor, compiler, translator, etc.  [3.11.2.2. ] -->
<!ELEMENT editor  EMPTY>
<!ATTLIST editor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(electronic mail address) contains an e-mail address identifying a location to which e-mail messages can be delivered.  [3.5.2. ] -->
<!ELEMENT email  EMPTY>
<!ATTLIST email xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(encoding description) documents the relationship between an electronic text and the source or sources from which it was derived. [2.3.  2.1.1. ] -->
<!ELEMENT encodingDesc  EMPTY>
<!ATTLIST encodingDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:describes the approximate size of a text stored on some carrier medium or of some other object, digital or non-digital, specified in any convenient units. [2.2.3.  2.2.  3.11.2.4.  10.7.1. ] -->
<!ELEMENT extent  EMPTY>
<!ATTLIST extent xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:groups elements representing or containing graphic information such as an illustration, formula, or figure. [14.4. ] -->
<!ELEMENT figure  EMPTY>
<!ATTLIST figure xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(file description) contains a full bibliographic description of an electronic file. [2.2.  2.1.1. ] -->
<!ELEMENT fileDesc ((titleStmt,extent?,publicationStmt,notesStmt?),sourceDesc+)>
<!ATTLIST fileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains a forename, given or baptismal name. [13.2.1. ] -->
<!ELEMENT forename  EMPTY>
<!ATTLIST forename xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(front matter) contains any prefatory matter (headers, title page, prefaces, dedications, etc.) found at the start of a document, before the main body. [4.6.  4. ] -->
<!ELEMENT front  EMPTY>
<!ATTLIST front xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:indicates the location of an inline graphic, illustration, or figure. [3.9. ] -->
<!ELEMENT graphic  EMPTY>
<!ATTLIST graphic xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(heading) contains any type of heading, for example the title of a section, or the heading of a list, glossary, manuscript description, etc. [4.2.1. ] -->
<!ELEMENT head (#PCDATA)*>
<!ATTLIST head xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(highlighted) marks a word or phrase as graphically distinct from the surrounding text, for reasons concerning which no claim is made.  [3.3.2.2.  3.3.2. ] -->
<!ELEMENT hi  EMPTY>
<!ATTLIST hi xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(identifier) supplies any form of identifier used to identify some object, such as a bibliographic item, a person, a title, an organization, etc. in a standardized way. [2.2.4.  2.2.5.  3.11.2.4. ] -->
<!ELEMENT idno (#PCDATA|idno)*>
<!ATTLIST idno xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST idno
type %data.enumerated;  #IMPLIED >
<!--doc:contains one component of a list. [3.7.  2.5. ] -->
<!ELEMENT item  EMPTY>
<!ATTLIST item xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains a list of keywords or phrases identifying the topic or nature of a text. [2.4.3. ] -->
<!ELEMENT keywords (list)>
<!ATTLIST keywords xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST keywords
scheme %data.pointer;  #IMPLIED >
<!--doc:contains any label or heading used to identify part of a text, typically but not exclusively in a list or glossary. [3.7. ] -->
<!ELEMENT label  EMPTY>
<!ATTLIST label xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(language usage) describes the languages, sublanguages, registers, dialects, etc. represented within a text. [2.4.2.  2.4.  15.3.2. ] -->
<!ELEMENT langUsage (language)+>
<!ATTLIST langUsage xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:characterizes a single language or sublanguage used within a text. [2.4.2. ] -->
<!ELEMENT language  EMPTY>
<!ATTLIST language xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST language
ident %data.language;  #REQUIRED
usage CDATA #IMPLIED >
<!--doc:(line break) marks the start of a new (typographic) line in some edition or version of a text. [3.10.3.  7.2.5. ] -->
<!ELEMENT lb EMPTY>
<!ATTLIST lb xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(list) contains any sequence of items organized as a list. [3.7. ] -->
<!ELEMENT list (item+|(label,item)+)>
<!ATTLIST list xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST list
type %data.enumerated;  "simple"  >
<!--doc:(citation list) contains a list of bibliographic citations of any kind.  [3.11.1.  2.2.7.  15.3.2. ] -->
<!ELEMENT listBibl  EMPTY>
<!ATTLIST listBibl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains the formalized descriptive title for a meeting or conference, for use in a bibliographic description for an item derived from such a meeting, or as a heading or preamble to publications emanating from it. [3.11.2.2. ] -->
<!ELEMENT meeting  EMPTY>
<!ATTLIST meeting xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(name, proper noun) contains a proper noun or noun phrase. [3.5.1. ] -->
<!ELEMENT name  EMPTY>
<!ATTLIST name xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains a note or annotation. [3.8.1.  2.2.6.  3.11.2.8.  9.3.5.4. ] -->
<!ELEMENT note  EMPTY>
<!ATTLIST note xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST note
anchored %data.truthValue;  "true" 
targetEnd CDATA  #IMPLIED >
<!--doc:(notes statement) collects together any notes providing information about a text additional to that recorded in other parts of the bibliographic description. [2.2.6.  2.2. ] -->
<!ELEMENT notesStmt (relatedItem)+>
<!ATTLIST notesStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(organization name) contains an organizational name.  [13.2.2. ] -->
<!ELEMENT orgName  EMPTY>
<!ATTLIST orgName xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(paragraph) marks paragraphs in prose. [3.1.  7.2.5. ] -->
<!ELEMENT p  EMPTY>
<!ATTLIST p xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(page break) marks the start of a new page in a paginated document. [3.10.3. ] -->
<!ELEMENT pb EMPTY>
<!ATTLIST pb xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(personal name) contains a proper noun or proper-noun phrase referring to a person, possibly including one or more of the person's forenames, surnames, honorifics, added names, etc. [13.2.1. ] -->
<!ELEMENT persName  EMPTY>
<!ATTLIST persName xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(text-profile description) provides a detailed description of non-bibliographic aspects of a text, specifically the languages and sublanguages used, the situation in which it was produced, the participants and their setting. [2.4.  2.1.1. ] -->
<!ELEMENT profileDesc  EMPTY>
<!ATTLIST profileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(project description) describes in detail the aim or purpose for which an electronic file was encoded, together with any other relevant information concerning the process by which it was assembled or collected. [2.3.1.  2.3.  15.3.2. ] -->
<!ELEMENT projectDesc  EMPTY>
<!ATTLIST projectDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(pointer) defines a pointer to another location. [3.6.  16.1. ] -->
<!ELEMENT ptr EMPTY>
<!ATTLIST ptr xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(publication place) contains the name of the place where a bibliographic item was published. [3.11.2.4. ] -->
<!ELEMENT pubPlace  EMPTY>
<!ATTLIST pubPlace xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(publication statement) groups information concerning the publication or distribution of an electronic or other text.  [2.2.4.  2.2. ] -->
<!ELEMENT publicationStmt  EMPTY>
<!ATTLIST publicationStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:provides the name of the organization responsible for the publication or distribution of a bibliographic item. [3.11.2.4.  2.2.4. ] -->
<!ELEMENT publisher  EMPTY>
<!ATTLIST publisher xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(quoted) contains material which is distinguished from the surrounding text using quotation marks or a similar method, for any one of a variety of reasons including, but not limited to: direct speech or thought, technical terms or jargon, authorial distance, quotations from elsewhere, and passages that are mentioned but not used. [3.3.3. ] -->
<!ELEMENT q  EMPTY>
<!ATTLIST q xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST q
type %data.enumerated;  #IMPLIED >
<!--doc:(reference) defines a reference to another location, possibly modified by additional text or comment. [3.6.  16.1. ] -->
<!ELEMENT ref  EMPTY>
<!ATTLIST ref xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains or references some other bibliographic item which is related to the present one in some specified manner, for example as a constituent or alternative version of it. [3.11.2.7. ] -->
<!ELEMENT relatedItem  EMPTY>
<!ATTLIST relatedItem xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST relatedItem
target %data.pointer;  #IMPLIED >
<!--doc:supplies information about the rendition or appearance of one or more elements in the source text. [2.3.4. ] -->
<!ELEMENT rendition  EMPTY>
<!ATTLIST rendition xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST rendition
scope %data.enumerated;  #IMPLIED >
<!--doc:(responsibility) contains a phrase describing the nature of a person's intellectual responsibility, or an organization's role in the production or distribution of a work. [3.11.2.2.  2.2.1.  2.2.2.  2.2.5. ] -->
<!ELEMENT resp  EMPTY>
<!ATTLIST resp xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(statement of responsibility) supplies a statement of responsibility for the intellectual content of a text, edition, recording, or series, where the specialized elements for authors, editors, etc. do not suffice or do not apply. May also be used to encode information about individuals or organizations which have played a role in the production or distribution of a bibliographic work. [3.11.2.2.  2.2.1.  2.2.2.  2.2.5. ] -->
<!ELEMENT respStmt (resp+|resp+)>
<!ATTLIST respStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains a name component which indicates that the referent has a particular role or position in society, such as an official title or rank. [13.2.1. ] -->
<!ELEMENT roleName  EMPTY>
<!ATTLIST roleName xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains one row of a table.  [14.1.1. ] -->
<!ELEMENT row (cell)+>
<!ATTLIST row xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(s-unit) contains a sentence-like division of a text. [17.1.  8.4.1. ] -->
<!ELEMENT s  EMPTY>
<!ATTLIST s xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(source description) describes the source from which an electronic text was derived or generated, typically a bibliographic description in the case of a digitized text, or a phrase such as "born digital" for a text which has no previous existence. [2.2.7. ] -->
<!ELEMENT sourceDesc  EMPTY>
<!ATTLIST sourceDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains a family (inherited) name, as opposed to a given, baptismal, or nick name. [13.2.1. ] -->
<!ELEMENT surname  EMPTY>
<!ATTLIST surname xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains text displayed in tabular form, in rows and columns. [14.1.1. ] -->
<!ELEMENT table (row+)>
<!ATTLIST table xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST table
rows %data.count;  #IMPLIED
cols %data.count;  #IMPLIED >
<!--doc:(tagging declaration) provides detailed information about the tagging applied to a document. [2.3.4.  2.3. ] -->
<!ELEMENT tagsDecl (rendition*)>
<!ATTLIST tagsDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(TEI header) supplies the descriptive and declarative information making up an electronic title page prefixed to every TEI-conformant text. [2.1.1.  15.1. ] -->
<!ELEMENT teiHeader (fileDesc)>
<!ATTLIST teiHeader xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST teiHeader
type %data.enumerated;  "text"  >
<!--doc:contains a single text of any kind, whether unitary or composite, for example a poem or drama, a collection of essays, a novel, a dictionary, or a corpus sample. [4.  15.1. ] -->
<!ELEMENT text (front?,body,back?)>
<!ATTLIST text xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:(text classification) groups information which describes the nature or topic of a text in terms of a standard classification scheme, thesaurus, etc. [2.4.3. ] -->
<!ELEMENT textClass (keywords)*>
<!ATTLIST textClass xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!--doc:contains a title for any kind of work. [3.11.2.2.  2.2.1.  2.2.5. ] -->
<!ELEMENT title  EMPTY>
<!ATTLIST title xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST title
level (a|m|j|s|u) #IMPLIED >
<!--doc:(title statement) groups information about the title of a work and those responsible for its content. [2.2.1.  2.2. ] -->
<!ELEMENT titleStmt (title+)>
<!ATTLIST titleStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!-- end elements -->
