Talks/2019-06-caen/work/oddex-3.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Mon premier ODD</title>
         </titleStmt>
         <publicationStmt>
            <p>[informations sur l'edition]</p>
         </publicationStmt>
         <sourceDesc>
            <p>[informations sur la source]</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <p>Dans ce schéma simplissime, l'élément de racine s'appelle <gi>book</gi> et il peut
            contenir les éléments suivants: <specList>
               <specDesc key="para"/>
               <specDesc key="image" atts="href"/>
            </specList></p>
         <schemaSpec ns="" start="book" ident="bookSchema">
            <classSpec ident="bookPart" type="model">
               <desc>éléments qui ont la possibilité de figurer dans un <gi>book</gi></desc>
            </classSpec>
            
            <classSpec ident="bookAtts" type="atts">
               <desc>attributs applicables aux objets contenus par des <gi>book</gi></desc>
               <attList>
                  <attDef ident="xml:id">
                     <desc>fournit un identifiant unique pour le composant</desc>
                     <datatype>
                        <dataRef name="ID"/>
                     </datatype>
                  </attDef>
                  <attDef ident="status">
                     <desc>indique le statut de l'élément </desc>
                     <valList type="closed">
                        <valItem ident="red"/>
                        <valItem ident="green"/>
                        <valItem ident="unknown"/>
                     </valList>
                  </attDef>
               </attList>
            </classSpec>
            
            <elementSpec ident="book">
               <desc>Elément racine d'un schéma simplissime pour encoder les livres</desc>
               <content>
                  <classRef key="bookPart" minOccurs="1" maxOccurs="unbounded"/>
               </content>
            </elementSpec>
            
            <elementSpec ident="para">
               <desc>une paragraph de text </desc>
               <classes>
                  <memberOf key="bookPart"/>
               </classes>
               <content>
                  <textNode/>
               </content>
            </elementSpec>
            
            <elementSpec ident="para" ns="http://myNamespace.org" prefix="extra">
               <desc>une paragraph contenant de text et facultativement des images </desc>
               <classes>
                  <memberOf key="bookPart"/>
               </classes>
               <content>
                  <alternate maxOccurs="unbounded" minOccurs="0">
                     <textNode/>
                     <elementRef key="image"/>
                  </alternate>
               </content>
            </elementSpec>
            
            <elementSpec ident="image">
               <desc>un élément vide qui pointe sur un fichier graphique</desc>
               <classes>
                  <memberOf key="bookPart"/>
               </classes>
               <content/>
               <attList>
                  <attDef ident="href">
                     <desc>fournit l' URI de l'objet ciblé</desc>
                     <datatype>
                        <dataRef name="anyURI"/>
                     </datatype>
                  </attDef>
               </attList>
            </elementSpec>
         </schemaSpec>
      </body>
   </text>
</TEI>
