trunk/Projects/ISOmulti/RomaResults/ISOmulti.dtd


<!--
DTD Generated 2013-06-08T23:42:13Z. This template file is freely available and you are hereby authorised to copy, modify, and redistribute it in any way without further reference or permissions. When making such modifications, you are strongly recommended to change the present text to include an accurate statement of the licencing conditions applicable to your modified text.
Edition: 2.3.0. Last updated on 17th January 2013.
Edition Location: http://www.tei-c.org/Vault/P5/2.3.0/

-->

<!-- start datatypes -->

<!ENTITY % data.certainty '(high|medium|low|unknown)' >

<!ENTITY % data.probability ' CDATA ' >

<!ENTITY % data.numeric ' CDATA' >

<!ENTITY % data.count ' CDATA ' >

<!ENTITY % data.temporal.w3c ' CDATA' >

<!ENTITY % data.duration.w3c ' CDATA ' >

<!ENTITY % data.truthValue ' CDATA ' >

<!ENTITY % data.xTruthValue ' CDATA' >

<!ENTITY % data.language ' CDATA' >

<!ENTITY % data.namespace ' CDATA ' >

<!ENTITY % data.outputMeasurement ' CDATA ' >

<!ENTITY % data.pattern ' CDATA ' >

<!ENTITY % data.pointer ' CDATA ' >

<!ENTITY % data.version ' CDATA ' >

<!ENTITY % data.word ' CDATA ' >

<!ENTITY % data.text ' CDATA ' >

<!ENTITY % data.name ' CDATA ' >

<!ENTITY % data.enumerated '%data.name;' >

<!ENTITY % data.temporal.iso ' CDATA' >

<!ENTITY % data.duration.iso ' CDATA ' >

<!-- end datatypes -->

<!--predeclared classes -->

<!ENTITY % att.duration.w3c.attribute.dur '
dur %data.duration.w3c;  #IMPLIED'>
<!ENTITY % att.duration.w3c.attributes '
 %att.duration.w3c.attribute.dur;'> 
<!ENTITY % att.duration.iso.attribute.dur-iso '
dur-iso %data.duration.iso;  #IMPLIED'>
<!ENTITY % att.duration.iso.attributes '
 %att.duration.iso.attribute.dur-iso;'> 
<!ENTITY % model.resourceLike ""> 
<!ENTITY % model.resourceLike_sequence ""> 
<!ENTITY % model.resourceLike_sequenceOptional ""> 
<!ENTITY % model.resourceLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.resourceLike_sequenceRepeatable ""> <!ENTITY % att.duration.attributes ' %att.duration.w3c.attributes; %att.duration.iso.attributes;'> 
<!ENTITY % model.global.spoken "pause |vocal |kinesic |incident |writing |shift"> 
<!ENTITY % model.global.spoken_sequence "pause, vocal, kinesic, incident, writing, shift"> 
<!ENTITY % model.global.spoken_sequenceOptional "pause?, vocal?, kinesic?, incident?, writing?, shift?"> 
<!ENTITY % model.global.spoken_sequenceOptionalRepeatable "pause*, vocal*, kinesic*, incident*, writing*, shift*"> 
<!ENTITY % model.global.spoken_sequenceRepeatable "pause+, vocal+, kinesic+, incident+, writing+, shift+"> 
<!ENTITY % model.divPart.spoken "u |annotatedU"> 
<!ENTITY % model.divPart.spoken_sequence "u, annotatedU"> 
<!ENTITY % model.divPart.spoken_sequenceOptional "u?, annotatedU?"> 
<!ENTITY % model.divPart.spoken_sequenceOptionalRepeatable "u*, annotatedU*"> 
<!ENTITY % model.divPart.spoken_sequenceRepeatable "u+, annotatedU+"> 
<!ENTITY % att.global.linking.attribute.synch '
synch CDATA  #IMPLIED'>
<!ENTITY % att.global.linking.attributes '
 %att.global.linking.attribute.synch;'> 
<!--end of predeclared classes -->

<!ENTITY % att.ascribed.attribute.who '
who CDATA  #IMPLIED'>
<!ENTITY % att.ascribed.attributes '
 %att.ascribed.attribute.who;'> 
<!ENTITY % att.canonical.attribute.key '
key %data.text;  #IMPLIED'>

<!ENTITY % att.canonical.attribute.ref '
ref CDATA  #IMPLIED'>
<!ENTITY % att.canonical.attributes '
 %att.canonical.attribute.key;
 %att.canonical.attribute.ref;'> 
<!ENTITY % att.ranging.attribute.atLeast '
atLeast %data.numeric;  #IMPLIED'>

<!ENTITY % att.ranging.attribute.atMost '
atMost %data.numeric;  #IMPLIED'>

<!ENTITY % att.ranging.attribute.min '
min %data.numeric;  #IMPLIED'>

<!ENTITY % att.ranging.attribute.max '
max %data.numeric;  #IMPLIED'>

<!ENTITY % att.ranging.attribute.confidence '
confidence %data.probability;  #IMPLIED'>
<!ENTITY % att.ranging.attributes '
 %att.ranging.attribute.atLeast;
 %att.ranging.attribute.atMost;
 %att.ranging.attribute.min;
 %att.ranging.attribute.max;
 %att.ranging.attribute.confidence;'> 
<!ENTITY % att.dimensions.attribute.unit '
unit %data.enumerated;  #IMPLIED'>

<!ENTITY % att.dimensions.attribute.quantity '
quantity %data.numeric;  #IMPLIED'>

<!ENTITY % att.dimensions.attribute.extent '
extent %data.text;  #IMPLIED'>

<!ENTITY % att.dimensions.attribute.precision '
precision %data.certainty;  #IMPLIED'>

<!ENTITY % att.dimensions.attribute.scope '
scope %data.enumerated;  #IMPLIED'>
<!ENTITY % att.dimensions.attributes ' %att.ranging.attributes;
 %att.dimensions.attribute.unit;
 %att.dimensions.attribute.quantity;
 %att.dimensions.attribute.extent;
 %att.dimensions.attribute.precision;
 %att.dimensions.attribute.scope;'> 
<!ENTITY % att.datcat.attribute.datcat '
datcat CDATA  #IMPLIED'>

<!ENTITY % att.datcat.attribute.valueDatcat '
valueDatcat CDATA  #IMPLIED'>
<!ENTITY % att.datcat.attributes '
 %att.datcat.attribute.datcat;
 %att.datcat.attribute.valueDatcat;'> 
<!ENTITY % att.declarable.attribute.default '
default (true|false) "false" '>
<!ENTITY % att.declarable.attributes '
 %att.declarable.attribute.default;'> 
<!ENTITY % att.fragmentable.attribute.part '
part (Y|N|I|M|F) "N" '>
<!ENTITY % att.fragmentable.attributes '
 %att.fragmentable.attribute.part;'> 
<!ENTITY % att.divLike.attribute.org '
org (composite|uniform) "uniform" '>

<!ENTITY % att.divLike.attribute.sample '
sample (initial|medial|final|unknown|complete) "complete" '>
<!ENTITY % att.divLike.attributes ' %att.fragmentable.attributes;
 %att.divLike.attribute.org;
 %att.divLike.attribute.sample;'> 
<!ENTITY % att.docStatus.attribute.status '
status %data.enumerated;  "draft" '>
<!ENTITY % att.docStatus.attributes '
 %att.docStatus.attribute.status;'> 
<!ENTITY % att.duration.w3c.attribute.dur '
dur %data.duration.w3c;  #IMPLIED'>
<!ENTITY % att.duration.w3c.attributes '
 %att.duration.w3c.attribute.dur;'> 
<!ENTITY % att.duration.iso.attribute.dur-iso '
dur-iso %data.duration.iso;  #IMPLIED'>
<!ENTITY % att.duration.iso.attributes '
 %att.duration.iso.attribute.dur-iso;'> 
<!ENTITY % att.responsibility.attribute.cert '
cert %data.certainty;  #IMPLIED'>

<!ENTITY % att.responsibility.attribute.resp '
resp CDATA  #IMPLIED'>
<!ENTITY % att.responsibility.attributes '
 %att.responsibility.attribute.cert;
 %att.responsibility.attribute.resp;'> 
<!ENTITY % att.editLike.attribute.evidence '
evidence NMTOKENS  #IMPLIED'>

<!ENTITY % att.editLike.attribute.source '
source CDATA  #IMPLIED'>

<!ENTITY % att.editLike.attribute.instant '
instant %data.xTruthValue;  "false" '>
<!ENTITY % att.editLike.attributes ' %att.dimensions.attributes; %att.responsibility.attributes;
 %att.editLike.attribute.evidence;
 %att.editLike.attribute.source;
 %att.editLike.attribute.instant;'> 
<!ENTITY % att.global.attribute.xmlid '
xml:id ID #IMPLIED'>

<!ENTITY % att.global.attribute.n '
n CDATA  #IMPLIED'>

<!ENTITY % att.global.attribute.xmllang '
xml:lang %data.language;  #IMPLIED'>

<!ENTITY % att.global.attribute.rend '
rend CDATA  #IMPLIED'>

<!ENTITY % att.global.attribute.style '
style CDATA  #IMPLIED'>

<!ENTITY % att.global.attribute.rendition '
rendition CDATA  #IMPLIED'>

<!ENTITY % att.global.attribute.xmlbase '
xml:base %data.pointer;  #IMPLIED'>

<!ENTITY % att.global.attribute.xmlspace '
xml:space (default|preserve) #IMPLIED'>
<!ENTITY % att.global.attributes ' %att.global.linking.attributes;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.style;
 %att.global.attribute.rendition;
 %att.global.attribute.xmlbase;
 %att.global.attribute.xmlspace;'> 
<!ENTITY % att.handFeatures.attribute.scribe '
scribe %data.name;  #IMPLIED'>

<!ENTITY % att.handFeatures.attribute.scribeRef '
scribeRef CDATA  #IMPLIED'>

<!ENTITY % att.handFeatures.attribute.script '
script NMTOKENS  #IMPLIED'>

<!ENTITY % att.handFeatures.attribute.scriptRef '
scriptRef CDATA  #IMPLIED'>

<!ENTITY % att.handFeatures.attribute.medium '
medium %data.enumerated;  #IMPLIED'>

<!ENTITY % att.handFeatures.attribute.scope '
scope (sole|major|minor) #IMPLIED'>
<!ENTITY % att.handFeatures.attributes '
 %att.handFeatures.attribute.scribe;
 %att.handFeatures.attribute.scribeRef;
 %att.handFeatures.attribute.script;
 %att.handFeatures.attribute.scriptRef;
 %att.handFeatures.attribute.medium;
 %att.handFeatures.attribute.scope;'> 
<!ENTITY % att.internetMedia.attribute.mimeType '
mimeType CDATA  #IMPLIED'>
<!ENTITY % att.internetMedia.attributes '
 %att.internetMedia.attribute.mimeType;'> 
<!ENTITY % att.media.attribute.width '
width %data.outputMeasurement;  #IMPLIED'>

<!ENTITY % att.media.attribute.height '
height %data.outputMeasurement;  #IMPLIED'>

<!ENTITY % att.media.attribute.scale '
scale %data.numeric;  #IMPLIED'>
<!ENTITY % att.media.attributes ' %att.internetMedia.attributes;
 %att.media.attribute.width;
 %att.media.attribute.height;
 %att.media.attribute.scale;'> 
<!ENTITY % att.resourced.attribute.url '
url %data.pointer;  #REQUIRED'>
<!ENTITY % att.resourced.attributes '
 %att.resourced.attribute.url;'> 
<!ENTITY % att.interpLike.attribute.type '
type %data.enumerated;  #IMPLIED'>

<!ENTITY % att.interpLike.attribute.inst '
inst CDATA  #IMPLIED'>
<!ENTITY % att.interpLike.attributes ' %att.responsibility.attributes;
 %att.interpLike.attribute.type;
 %att.interpLike.attribute.inst;'> 
<!ENTITY % att.naming.attribute.role '
role %data.enumerated;  #IMPLIED'>

<!ENTITY % att.naming.attribute.nymRef '
nymRef CDATA  #IMPLIED'>
<!ENTITY % att.naming.attributes ' %att.canonical.attributes;
 %att.naming.attribute.role;
 %att.naming.attribute.nymRef;'> 
<!ENTITY % att.typed.attribute.type '
type %data.enumerated;  #IMPLIED'>

<!ENTITY % att.typed.attribute.subtype '
subtype %data.enumerated;  #IMPLIED'>
<!ENTITY % att.typed.attributes '
 %att.typed.attribute.type;
 %att.typed.attribute.subtype;'> 
<!ENTITY % att.pointing.attribute.targetLang '
targetLang %data.language;  #IMPLIED'>

<!ENTITY % att.pointing.attribute.target '
target CDATA  #IMPLIED'>

<!ENTITY % att.pointing.attribute.evaluate '
evaluate (all|one|none) #IMPLIED'>
<!ENTITY % att.pointing.attributes '
 %att.pointing.attribute.targetLang;
 %att.pointing.attribute.target;
 %att.pointing.attribute.evaluate;'> 
<!ENTITY % att.segLike.attribute.function '
function %data.enumerated;  #IMPLIED'>
<!ENTITY % att.segLike.attributes ' %att.datcat.attributes; %att.fragmentable.attributes;
 %att.segLike.attribute.function;'> 
<!ENTITY % att.sortable.attribute.sortKey '
sortKey %data.word;  #IMPLIED'>
<!ENTITY % att.sortable.attributes '
 %att.sortable.attribute.sortKey;'> 
<!ENTITY % att.edition.attribute.ed '
ed CDATA  #IMPLIED'>

<!ENTITY % att.edition.attribute.edRef '
edRef CDATA  #IMPLIED'>
<!ENTITY % att.edition.attributes '
 %att.edition.attribute.ed;
 %att.edition.attribute.edRef;'> 
<!ENTITY % att.styleDef.attribute.scheme '
scheme (css|xslfo|free|other) #IMPLIED'>
<!ENTITY % att.styleDef.attributes '
 %att.styleDef.attribute.scheme;'> 
<!ENTITY % att.timed.attribute.start '
start %data.pointer;  #IMPLIED'>

<!ENTITY % att.timed.attribute.end '
end %data.pointer;  #IMPLIED'>
<!ENTITY % att.timed.attributes ' %att.duration.attributes;
 %att.timed.attribute.start;
 %att.timed.attribute.end;'> 
<!ENTITY % att.translatable.attribute.versionDate '
versionDate %data.temporal.w3c;  #IMPLIED'>
<!ENTITY % att.translatable.attributes '
 %att.translatable.attribute.versionDate;'> 
<!ENTITY % model.nameLike.agent "persName"> 
<!ENTITY % model.nameLike.agent_sequence "persName"> 
<!ENTITY % model.nameLike.agent_sequenceOptional "persName?"> 
<!ENTITY % model.nameLike.agent_sequenceOptionalRepeatable "persName*"> 
<!ENTITY % model.nameLike.agent_sequenceRepeatable "persName+"> 
<!ENTITY % model.segLike "seg |w |pc"> 
<!ENTITY % model.segLike_sequence "seg, w, pc"> 
<!ENTITY % model.segLike_sequenceOptional "seg?, w?, pc?"> 
<!ENTITY % model.segLike_sequenceOptionalRepeatable "seg*, w*, pc*"> 
<!ENTITY % model.segLike_sequenceRepeatable "seg+, w+, pc+"> 
<!ENTITY % model.hiLike ""> 
<!ENTITY % model.hiLike_sequence ""> 
<!ENTITY % model.hiLike_sequenceOptional ""> 
<!ENTITY % model.hiLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.hiLike_sequenceRepeatable ""> 
<!ENTITY % model.highlighted ""> 
<!ENTITY % model.highlighted_sequence ""> 
<!ENTITY % model.highlighted_sequenceOptional ""> 
<!ENTITY % model.highlighted_sequenceOptionalRepeatable ""> 
<!ENTITY % model.highlighted_sequenceRepeatable ""> 
<!ENTITY % model.dateLike ""> 
<!ENTITY % model.dateLike_sequence ""> 
<!ENTITY % model.dateLike_sequenceOptional ""> 
<!ENTITY % model.dateLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.dateLike_sequenceRepeatable ""> 
<!ENTITY % model.graphicLike "media"> 
<!ENTITY % model.graphicLike_sequence "media"> 
<!ENTITY % model.graphicLike_sequenceOptional "media?"> 
<!ENTITY % model.graphicLike_sequenceOptionalRepeatable "media*"> 
<!ENTITY % model.graphicLike_sequenceRepeatable "media+"> 
<!ENTITY % model.pPart.editorial "choice |abbr"> 
<!ENTITY % model.pPart.editorial_sequence "choice, abbr"> 
<!ENTITY % model.pPart.editorial_sequenceOptional "choice?, abbr?"> 
<!ENTITY % model.pPart.editorial_sequenceOptionalRepeatable "choice*, abbr*"> 
<!ENTITY % model.pPart.editorial_sequenceRepeatable "choice+, abbr+"> 
<!ENTITY % model.pPart.transcriptional "unclear"> 
<!ENTITY % model.pPart.transcriptional_sequence "unclear"> 
<!ENTITY % model.pPart.transcriptional_sequenceOptional "unclear?"> 
<!ENTITY % model.pPart.transcriptional_sequenceOptionalRepeatable "unclear*"> 
<!ENTITY % model.pPart.transcriptional_sequenceRepeatable "unclear+"> 
<!ENTITY % model.pPart.edit "%model.pPart.editorial; |%model.pPart.transcriptional;"> 
<!ENTITY % model.pPart.edit_sequence "%model.pPart.editorial;, %model.pPart.transcriptional;"> 
<!ENTITY % model.pPart.edit_sequenceOptional "%model.pPart.editorial;?, %model.pPart.transcriptional;?"> 
<!ENTITY % model.pPart.edit_sequenceOptionalRepeatable "%model.pPart.editorial;*, %model.pPart.transcriptional;*"> 
<!ENTITY % model.pPart.edit_sequenceRepeatable "%model.pPart.editorial;+, %model.pPart.transcriptional;+"> 
<!ENTITY % model.linePart "%model.segLike; |%model.pPart.transcriptional; |choice"> 
<!ENTITY % model.linePart_sequence "%model.segLike;, %model.pPart.transcriptional;, choice"> 
<!ENTITY % model.linePart_sequenceOptional "%model.segLike;?, %model.pPart.transcriptional;?, choice?"> 
<!ENTITY % model.linePart_sequenceOptionalRepeatable "%model.segLike;*, %model.pPart.transcriptional;*, choice*"> 
<!ENTITY % model.linePart_sequenceRepeatable "%model.segLike;+, %model.pPart.transcriptional;+, choice+"> 
<!ENTITY % model.ptrLike ""> 
<!ENTITY % model.ptrLike_sequence ""> 
<!ENTITY % model.ptrLike_sequenceOptional ""> 
<!ENTITY % model.ptrLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.ptrLike_sequenceRepeatable ""> 
<!ENTITY % model.lPart ""> 
<!ENTITY % model.lPart_sequence ""> 
<!ENTITY % model.lPart_sequenceOptional ""> 
<!ENTITY % model.lPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.lPart_sequenceRepeatable ""> 
<!ENTITY % model.global.meta "timeline |span |spanGrp"> 
<!ENTITY % model.global.meta_sequence "timeline, span, spanGrp"> 
<!ENTITY % model.global.meta_sequenceOptional "timeline?, span?, spanGrp?"> 
<!ENTITY % model.global.meta_sequenceOptionalRepeatable "timeline*, span*, spanGrp*"> 
<!ENTITY % model.global.meta_sequenceRepeatable "timeline+, span+, spanGrp+"> 
<!ENTITY % model.milestoneLike "anchor"> 
<!ENTITY % model.milestoneLike_sequence "anchor"> 
<!ENTITY % model.milestoneLike_sequenceOptional "anchor?"> 
<!ENTITY % model.milestoneLike_sequenceOptionalRepeatable "anchor*"> 
<!ENTITY % model.milestoneLike_sequenceRepeatable "anchor+"> 
<!ENTITY % model.gLike ""> 
<!ENTITY % model.gLike_sequence ""> 
<!ENTITY % model.gLike_sequenceOptional ""> 
<!ENTITY % model.gLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.gLike_sequenceRepeatable ""> 
<!ENTITY % model.biblLike ""> 
<!ENTITY % model.biblLike_sequence ""> 
<!ENTITY % model.biblLike_sequenceOptional ""> 
<!ENTITY % model.biblLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.biblLike_sequenceRepeatable ""> 
<!ENTITY % model.labelLike "desc"> 
<!ENTITY % model.labelLike_sequence "desc"> 
<!ENTITY % model.labelLike_sequenceOptional "desc?"> 
<!ENTITY % model.labelLike_sequenceOptionalRepeatable "desc*"> 
<!ENTITY % model.labelLike_sequenceRepeatable "desc+"> 
<!ENTITY % model.listLike ""> 
<!ENTITY % model.listLike_sequence ""> 
<!ENTITY % model.listLike_sequenceOptional ""> 
<!ENTITY % model.listLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.listLike_sequenceRepeatable ""> 
<!ENTITY % model.noteLike ""> 
<!ENTITY % model.noteLike_sequence ""> 
<!ENTITY % model.noteLike_sequenceOptional ""> 
<!ENTITY % model.noteLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.noteLike_sequenceRepeatable ""> 
<!ENTITY % model.pLike "ab"> 
<!ENTITY % model.pLike_sequence "ab"> 
<!ENTITY % model.pLike_sequenceOptional "ab?"> 
<!ENTITY % model.pLike_sequenceOptionalRepeatable "ab*"> 
<!ENTITY % model.pLike_sequenceRepeatable "ab+"> 
<!ENTITY % model.divPart "%model.pLike; |%model.divPart.spoken;"> 
<!ENTITY % model.divPart_sequence "%model.pLike;, %model.divPart.spoken;"> 
<!ENTITY % model.divPart_sequenceOptional "%model.pLike;?, %model.divPart.spoken;?"> 
<!ENTITY % model.divPart_sequenceOptionalRepeatable "%model.pLike;*, %model.divPart.spoken;*"> 
<!ENTITY % model.divPart_sequenceRepeatable "%model.pLike;+, %model.divPart.spoken;+"> 
<!ENTITY % model.persStateLike "persName"> 
<!ENTITY % model.persStateLike_sequence "persName"> 
<!ENTITY % model.persStateLike_sequenceOptional "persName?"> 
<!ENTITY % model.persStateLike_sequenceOptionalRepeatable "persName*"> 
<!ENTITY % model.persStateLike_sequenceRepeatable "persName+"> 
<!ENTITY % model.personLike ""> 
<!ENTITY % model.personLike_sequence ""> 
<!ENTITY % model.personLike_sequenceOptional ""> 
<!ENTITY % model.personLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.personLike_sequenceRepeatable ""> 
<!ENTITY % model.personPart "%model.persStateLike; |idno"> 
<!ENTITY % model.personPart_sequence "%model.persStateLike;, idno"> 
<!ENTITY % model.personPart_sequenceOptional "%model.persStateLike;?, idno?"> 
<!ENTITY % model.personPart_sequenceOptionalRepeatable "%model.persStateLike;*, idno*"> 
<!ENTITY % model.personPart_sequenceRepeatable "%model.persStateLike;+, idno+"> 
<!ENTITY % model.publicationStmtPart "distributor |authority |idno |availability"> 
<!ENTITY % model.publicationStmtPart_sequence "distributor, authority, idno, availability"> 
<!ENTITY % model.publicationStmtPart_sequenceOptional "distributor?, authority?, idno?, availability?"> 
<!ENTITY % model.publicationStmtPart_sequenceOptionalRepeatable "distributor*, authority*, idno*, availability*"> 
<!ENTITY % model.publicationStmtPart_sequenceRepeatable "distributor+, authority+, idno+, availability+"> 
<!ENTITY % model.availabilityPart "licence"> 
<!ENTITY % model.availabilityPart_sequence "licence"> 
<!ENTITY % model.availabilityPart_sequenceOptional "licence?"> 
<!ENTITY % model.availabilityPart_sequenceOptionalRepeatable "licence*"> 
<!ENTITY % model.availabilityPart_sequenceRepeatable "licence+"> 
<!ENTITY % model.descLike "desc"> 
<!ENTITY % model.descLike_sequence "desc"> 
<!ENTITY % model.descLike_sequenceOptional "desc?"> 
<!ENTITY % model.descLike_sequenceOptionalRepeatable "desc*"> 
<!ENTITY % model.descLike_sequenceRepeatable "desc+"> 
<!ENTITY % model.glossLike ""> 
<!ENTITY % model.glossLike_sequence ""> 
<!ENTITY % model.glossLike_sequenceOptional ""> 
<!ENTITY % model.glossLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.glossLike_sequenceRepeatable ""> 
<!ENTITY % model.respLike "sponsor |funder |principal"> 
<!ENTITY % model.respLike_sequence "sponsor, funder, principal"> 
<!ENTITY % model.respLike_sequenceOptional "sponsor?, funder?, principal?"> 
<!ENTITY % model.respLike_sequenceOptionalRepeatable "sponsor*, funder*, principal*"> 
<!ENTITY % model.respLike_sequenceRepeatable "sponsor+, funder+, principal+"> 
<!ENTITY % model.divTop ""> 
<!ENTITY % model.divTop_sequence ""> 
<!ENTITY % model.divTop_sequenceOptional ""> 
<!ENTITY % model.divTop_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divTop_sequenceRepeatable ""> 
<!ENTITY % model.divBottom ""> 
<!ENTITY % model.divBottom_sequence ""> 
<!ENTITY % model.divBottom_sequenceOptional ""> 
<!ENTITY % model.divBottom_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divBottom_sequenceRepeatable ""> 
<!ENTITY % model.msItemPart "%model.respLike;"> 
<!ENTITY % model.msItemPart_sequence "%model.respLike;"> 
<!ENTITY % model.msItemPart_sequenceOptional "%model.respLike;?"> 
<!ENTITY % model.msItemPart_sequenceOptionalRepeatable "%model.respLike;*"> 
<!ENTITY % model.msItemPart_sequenceRepeatable "%model.respLike;+"> 
<!ENTITY % model.choicePart "unclear |abbr |seg"> 
<!ENTITY % model.choicePart_sequence "unclear, abbr, seg"> 
<!ENTITY % model.choicePart_sequenceOptional "unclear?, abbr?, seg?"> 
<!ENTITY % model.choicePart_sequenceOptionalRepeatable "unclear*, abbr*, seg*"> 
<!ENTITY % model.choicePart_sequenceRepeatable "unclear+, abbr+, seg+"> 
<!ENTITY % model.imprintPart "distributor"> 
<!ENTITY % model.imprintPart_sequence "distributor"> 
<!ENTITY % model.imprintPart_sequenceOptional "distributor?"> 
<!ENTITY % model.imprintPart_sequenceOptionalRepeatable "distributor*"> 
<!ENTITY % model.imprintPart_sequenceRepeatable "distributor+"> 
<!ENTITY % model.catDescPart "textDesc"> 
<!ENTITY % model.catDescPart_sequence "textDesc"> 
<!ENTITY % model.catDescPart_sequenceOptional "textDesc?"> 
<!ENTITY % model.catDescPart_sequenceOptionalRepeatable "textDesc*"> 
<!ENTITY % model.catDescPart_sequenceRepeatable "textDesc+"> 
<!ENTITY % model.settingPart "locale |activity"> 
<!ENTITY % model.settingPart_sequence "locale, activity"> 
<!ENTITY % model.settingPart_sequenceOptional "locale?, activity?"> 
<!ENTITY % model.settingPart_sequenceOptionalRepeatable "locale*, activity*"> 
<!ENTITY % model.settingPart_sequenceRepeatable "locale+, activity+"> 
<!ENTITY % model.textDescPart "channel |constitution |derivation |domain |factuality |interaction |preparedness"> 
<!ENTITY % model.textDescPart_sequence "channel, constitution, derivation, domain, factuality, interaction, preparedness"> 
<!ENTITY % model.textDescPart_sequenceOptional "channel?, constitution?, derivation?, domain?, factuality?, interaction?, preparedness?"> 
<!ENTITY % model.textDescPart_sequenceOptionalRepeatable "channel*, constitution*, derivation*, domain*, factuality*, interaction*, preparedness*"> 
<!ENTITY % model.textDescPart_sequenceRepeatable "channel+, constitution+, derivation+, domain+, factuality+, interaction+, preparedness+"> 
<!ENTITY % model.nameLike "%model.nameLike.agent; |idno"> 
<!ENTITY % model.nameLike_sequence "%model.nameLike.agent;, idno"> 
<!ENTITY % model.nameLike_sequenceOptional "%model.nameLike.agent;?, idno?"> 
<!ENTITY % model.nameLike_sequenceOptionalRepeatable "%model.nameLike.agent;*, idno*"> 
<!ENTITY % model.nameLike_sequenceRepeatable "%model.nameLike.agent;+, idno+"> 
<!ENTITY % model.global "%model.global.meta; |%model.milestoneLike; |%model.global.spoken;"> 
<!ENTITY % model.global_sequence "%model.global.meta;, %model.milestoneLike;, %model.global.spoken;"> 
<!ENTITY % model.global_sequenceOptional "%model.global.meta;?, %model.milestoneLike;?, %model.global.spoken;?"> 
<!ENTITY % model.global_sequenceOptionalRepeatable "%model.global.meta;*, %model.milestoneLike;*, %model.global.spoken;*"> 
<!ENTITY % model.global_sequenceRepeatable "%model.global.meta;+, %model.milestoneLike;+, %model.global.spoken;+"> 
<!ENTITY % model.biblPart "%model.respLike; |%model.imprintPart; |edition |extent"> 
<!ENTITY % model.biblPart_sequence "%model.respLike;, %model.imprintPart;, edition, extent"> 
<!ENTITY % model.biblPart_sequenceOptional "%model.respLike;?, %model.imprintPart;?, edition?, extent?"> 
<!ENTITY % model.biblPart_sequenceOptionalRepeatable "%model.respLike;*, %model.imprintPart;*, edition*, extent*"> 
<!ENTITY % model.biblPart_sequenceRepeatable "%model.respLike;+, %model.imprintPart;+, edition+, extent+"> 
<!ENTITY % model.addrPart "%model.nameLike;"> 
<!ENTITY % model.addrPart_sequence "%model.nameLike;"> 
<!ENTITY % model.addrPart_sequenceOptional "%model.nameLike;?"> 
<!ENTITY % model.addrPart_sequenceOptionalRepeatable "%model.nameLike;*"> 
<!ENTITY % model.addrPart_sequenceRepeatable "%model.nameLike;+"> 
<!ENTITY % model.pPart.data "%model.nameLike;"> 
<!ENTITY % model.pPart.data_sequence "%model.nameLike;"> 
<!ENTITY % model.pPart.data_sequenceOptional "%model.nameLike;?"> 
<!ENTITY % model.pPart.data_sequenceOptionalRepeatable "%model.nameLike;*"> 
<!ENTITY % model.pPart.data_sequenceRepeatable "%model.nameLike;+"> 
<!ENTITY % model.inter "%model.labelLike;"> 
<!ENTITY % model.inter_sequence "%model.labelLike;"> 
<!ENTITY % model.inter_sequenceOptional "%model.labelLike;?"> 
<!ENTITY % model.inter_sequenceOptionalRepeatable "%model.labelLike;*"> 
<!ENTITY % model.inter_sequenceRepeatable "%model.labelLike;+"> 
<!ENTITY % model.common "%model.divPart; |%model.inter;"> 
<!ENTITY % model.common_sequence "%model.divPart;, %model.inter;"> 
<!ENTITY % model.common_sequenceOptional "%model.divPart;?, %model.inter;?"> 
<!ENTITY % model.common_sequenceOptionalRepeatable "%model.divPart;*, %model.inter;*"> 
<!ENTITY % model.common_sequenceRepeatable "%model.divPart;+, %model.inter;+"> 
<!ENTITY % model.phrase "%model.segLike; |%model.graphicLike; |%model.pPart.edit; |%model.pPart.data;"> 
<!ENTITY % model.phrase_sequence "%model.segLike;, %model.graphicLike;, %model.pPart.edit;, %model.pPart.data;"> 
<!ENTITY % model.phrase_sequenceOptional "%model.segLike;?, %model.graphicLike;?, %model.pPart.edit;?, %model.pPart.data;?"> 
<!ENTITY % model.phrase_sequenceOptionalRepeatable "%model.segLike;*, %model.graphicLike;*, %model.pPart.edit;*, %model.pPart.data;*"> 
<!ENTITY % model.phrase_sequenceRepeatable "%model.segLike;+, %model.graphicLike;+, %model.pPart.edit;+, %model.pPart.data;+"> 
<!ENTITY % model.limitedPhrase "%model.pPart.editorial; |%model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequence "%model.pPart.editorial;, %model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequenceOptional "%model.pPart.editorial;?, %model.pPart.data;?"> 
<!ENTITY % model.limitedPhrase_sequenceOptionalRepeatable "%model.pPart.editorial;*, %model.pPart.data;*"> 
<!ENTITY % model.limitedPhrase_sequenceRepeatable "%model.pPart.editorial;+, %model.pPart.data;+"> 
<!ENTITY % model.divLike "div"> 
<!ENTITY % model.divLike_sequence "div"> 
<!ENTITY % model.divLike_sequenceOptional "div?"> 
<!ENTITY % model.divLike_sequenceOptionalRepeatable "div*"> 
<!ENTITY % model.divLike_sequenceRepeatable "div+"> 
<!ENTITY % model.divGenLike ""> 
<!ENTITY % model.divGenLike_sequence ""> 
<!ENTITY % model.divGenLike_sequenceOptional ""> 
<!ENTITY % model.divGenLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divGenLike_sequenceRepeatable ""> 
<!ENTITY % model.div1Like ""> 
<!ENTITY % model.div1Like_sequence ""> 
<!ENTITY % model.div1Like_sequenceOptional ""> 
<!ENTITY % model.div1Like_sequenceOptionalRepeatable ""> 
<!ENTITY % model.div1Like_sequenceRepeatable ""> 
<!ENTITY % model.applicationLike "application"> 
<!ENTITY % model.applicationLike_sequence "application"> 
<!ENTITY % model.applicationLike_sequenceOptional "application?"> 
<!ENTITY % model.applicationLike_sequenceOptionalRepeatable "application*"> 
<!ENTITY % model.applicationLike_sequenceRepeatable "application+"> 
<!ENTITY % model.teiHeaderPart "encodingDesc |profileDesc"> 
<!ENTITY % model.teiHeaderPart_sequence "encodingDesc, profileDesc"> 
<!ENTITY % model.teiHeaderPart_sequenceOptional "encodingDesc?, profileDesc?"> 
<!ENTITY % model.teiHeaderPart_sequenceOptionalRepeatable "encodingDesc*, profileDesc*"> 
<!ENTITY % model.teiHeaderPart_sequenceRepeatable "encodingDesc+, profileDesc+"> 
<!ENTITY % model.sourceDescPart ""> 
<!ENTITY % model.sourceDescPart_sequence ""> 
<!ENTITY % model.sourceDescPart_sequenceOptional ""> 
<!ENTITY % model.sourceDescPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.sourceDescPart_sequenceRepeatable ""> 
<!ENTITY % model.encodingDescPart "projectDesc |samplingDecl |editorialDecl |tagsDecl |styleDefDecl |refsDecl |listPrefixDef |classDecl |geoDecl |appInfo |transcriptionDesc"> 
<!ENTITY % model.encodingDescPart_sequence "projectDesc, samplingDecl, editorialDecl, tagsDecl, styleDefDecl, refsDecl, listPrefixDef, classDecl, geoDecl, appInfo, transcriptionDesc"> 
<!ENTITY % model.encodingDescPart_sequenceOptional "projectDesc?, samplingDecl?, editorialDecl?, tagsDecl?, styleDefDecl?, refsDecl?, listPrefixDef?, classDecl?, geoDecl?, appInfo?, transcriptionDesc?"> 
<!ENTITY % model.encodingDescPart_sequenceOptionalRepeatable "projectDesc*, samplingDecl*, editorialDecl*, tagsDecl*, styleDefDecl*, refsDecl*, listPrefixDef*, classDecl*, geoDecl*, appInfo*, transcriptionDesc*"> 
<!ENTITY % model.encodingDescPart_sequenceRepeatable "projectDesc+, samplingDecl+, editorialDecl+, tagsDecl+, styleDefDecl+, refsDecl+, listPrefixDef+, classDecl+, geoDecl+, appInfo+, transcriptionDesc+"> 
<!ENTITY % model.editorialDeclPart "correction |normalization |quotation |hyphenation |segmentation |stdVals |interpretation"> 
<!ENTITY % model.editorialDeclPart_sequence "correction, normalization, quotation, hyphenation, segmentation, stdVals, interpretation"> 
<!ENTITY % model.editorialDeclPart_sequenceOptional "correction?, normalization?, quotation?, hyphenation?, segmentation?, stdVals?, interpretation?"> 
<!ENTITY % model.editorialDeclPart_sequenceOptionalRepeatable "correction*, normalization*, quotation*, hyphenation*, segmentation*, stdVals*, interpretation*"> 
<!ENTITY % model.editorialDeclPart_sequenceRepeatable "correction+, normalization+, quotation+, hyphenation+, segmentation+, stdVals+, interpretation+"> 
<!ENTITY % model.profileDescPart "creation |langUsage |textClass |calendarDesc |textDesc |particDesc |settingDesc"> 
<!ENTITY % model.profileDescPart_sequence "creation, langUsage, textClass, calendarDesc, textDesc, particDesc, settingDesc"> 
<!ENTITY % model.profileDescPart_sequenceOptional "creation?, langUsage?, textClass?, calendarDesc?, textDesc?, particDesc?, settingDesc?"> 
<!ENTITY % model.profileDescPart_sequenceOptionalRepeatable "creation*, langUsage*, textClass*, calendarDesc*, textDesc*, particDesc*, settingDesc*"> 
<!ENTITY % model.profileDescPart_sequenceRepeatable "creation+, langUsage+, textClass+, calendarDesc+, textDesc+, particDesc+, settingDesc+"> 
<!ENTITY % att.source.attribute.source '
source CDATA  #IMPLIED'>
<!ENTITY % att.source.attributes '
 %att.source.attribute.source;'> 
<!ENTITY % model.resourceLike ""> 
<!ENTITY % model.resourceLike_sequence ""> 
<!ENTITY % model.resourceLike_sequenceOptional ""> 
<!ENTITY % model.resourceLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.resourceLike_sequenceRepeatable ""> 
<!ENTITY % att.personal.attribute.full '
full (yes|abb|init) "yes" '>

<!ENTITY % att.personal.attribute.sort '
sort %data.count;  #IMPLIED'>
<!ENTITY % att.personal.attributes ' %att.naming.attributes;
 %att.personal.attribute.full;
 %att.personal.attribute.sort;'> 
<!ENTITY % model.placeLike ""> 
<!ENTITY % model.placeLike_sequence ""> 
<!ENTITY % model.placeLike_sequenceOptional ""> 
<!ENTITY % model.placeLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeLike_sequenceRepeatable ""> 
<!ENTITY % att.milestoneUnit.attribute.unit '
unit %data.enumerated;  #REQUIRED'>
<!ENTITY % att.milestoneUnit.attributes '
 %att.milestoneUnit.attribute.unit;'> 
<!ENTITY % att.patternReplacement.attribute.matchPattern '
matchPattern %data.pattern;  #REQUIRED'>

<!ENTITY % att.patternReplacement.attribute.replacementPattern '
replacementPattern CDATA #REQUIRED'>
<!ENTITY % att.patternReplacement.attributes '
 %att.patternReplacement.attribute.matchPattern;
 %att.patternReplacement.attribute.replacementPattern;'> <!ENTITY % att.duration.attributes ' %att.duration.w3c.attributes; %att.duration.iso.attributes;'> 
<!ENTITY % model.global.spoken "pause |vocal |kinesic |incident |writing |shift"> 
<!ENTITY % model.global.spoken_sequence "pause, vocal, kinesic, incident, writing, shift"> 
<!ENTITY % model.global.spoken_sequenceOptional "pause?, vocal?, kinesic?, incident?, writing?, shift?"> 
<!ENTITY % model.global.spoken_sequenceOptionalRepeatable "pause*, vocal*, kinesic*, incident*, writing*, shift*"> 
<!ENTITY % model.global.spoken_sequenceRepeatable "pause+, vocal+, kinesic+, incident+, writing+, shift+"> 
<!ENTITY % model.recordingPart ""> 
<!ENTITY % model.recordingPart_sequence ""> 
<!ENTITY % model.recordingPart_sequenceOptional ""> 
<!ENTITY % model.recordingPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.recordingPart_sequenceRepeatable ""> 
<!ENTITY % model.divPart.spoken "u |annotatedU"> 
<!ENTITY % model.divPart.spoken_sequence "u, annotatedU"> 
<!ENTITY % model.divPart.spoken_sequenceOptional "u?, annotatedU?"> 
<!ENTITY % model.divPart.spoken_sequenceOptionalRepeatable "u*, annotatedU*"> 
<!ENTITY % model.divPart.spoken_sequenceRepeatable "u+, annotatedU+"> 
<!ENTITY % att.global.linking.attribute.synch '
synch CDATA  #IMPLIED'>
<!ENTITY % att.global.linking.attributes '
 %att.global.linking.attribute.synch;'> 
<!-- start predeclared patterns -->

<!-- end predeclared patterns -->

<!-- start rest of patterns -->

<!ENTITY % macro.paraContent '(#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.inter;|%model.global;)*' >

<!ENTITY % macro.limitedContent '(#PCDATA|%model.limitedPhrase;|%model.inter;)*' >

<!ENTITY % macro.phraseSeq '(#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.global;)*' >

<!ENTITY % macro.phraseSeq.limited '(#PCDATA|%model.limitedPhrase;|%model.global;)*' >

<!ENTITY % macro.specialPara '(#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.inter;|%model.divPart;|%model.global;)*' >

<!-- end patterns -->

<!-- start elements -->

<!--doc:(TEI document) contains a single TEI-conformant document, comprising a TEI header and a text, either in isolation or as part of a teiCorpus element. [4.  15.1. ] -->
<!ELEMENT TEI (teiHeader,((_DUMMY_model.resourceLike+,text?)|text))>
<!ATTLIST TEI xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST TEI
 %att.global.attributes;
version %data.version;  #IMPLIED >
<!ATTLIST TEI xsi:schemaLocation CDATA #IMPLIED
 xmlns:xsi CDATA #FIXED 'http://www.w3.org/2001/XMLSchema-instance'
 >
<!--doc:(anonymous block) contains any arbitrary component-level unit of text, acting as an anonymous container for phrase or inter level elements analogous to, but without the semantic baggage of, a paragraph. [16.3. ] -->
<!ELEMENT ab %macro.paraContent;>
<!ATTLIST ab xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST ab
 %att.global.attributes;
 %att.typed.attributes;
 %att.fragmentable.attributes; >
<!--doc:(abbreviation) contains an abbreviation of any sort. [3.5.5. ] -->
<!ELEMENT abbr %macro.phraseSeq;>
<!ATTLIST abbr xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST abbr
 %att.global.attributes;
 %att.responsibility.attributes;
 %att.typed.attribute.subtype;
type %data.enumerated;  #IMPLIED >
<!--doc:contains a brief informal description of what a participant in a language interaction is doing other than speaking, if anything. [15.2.3. ] -->
<!ELEMENT activity %macro.phraseSeq.limited;>
<!ATTLIST activity xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST activity
 %att.global.attributes; >
<!--doc:(anchor point) attaches an identifier to a point within a text, whether or not it corresponds with a textual element. [8.4.2.  16.4. ] -->
<!ELEMENT anchor EMPTY>
<!ATTLIST anchor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST anchor
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:groups an utterance with the annotation layers associated with it -->
<!ELEMENT annotatedU (u,spanGrp+)>
<!ATTLIST annotatedU xmlns CDATA "http://iso-tei-spoken.org/ns/1.0">
<!--doc:(application information) records information about an application which has edited the TEI file.  -->
<!ELEMENT appInfo (%model.applicationLike;)+>
<!ATTLIST appInfo xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST appInfo
 %att.global.attributes; >
<!--doc:provides information about an application which has acted upon the document. -->
<!ELEMENT application ((%model.labelLike;)+,(_DUMMY_model.ptrLike*|(%model.pLike;)*))>
<!ATTLIST application xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST application
 %att.global.attributes;
 %att.typed.attributes;
ident %data.name;  #REQUIRED
version CDATA #REQUIRED >
<!--doc:(release authority) supplies the name of a person or other agency responsible for making a work available, other than a publisher or distributor. [2.2.4. ] -->
<!ELEMENT authority %macro.phraseSeq.limited;>
<!ATTLIST authority xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST authority
 %att.global.attributes; >
<!--doc:supplies information about the availability of a text, for example any restrictions on its use or distribution, its copyright status, any licence applying to it, etc. [2.2.4. ] -->
<!ELEMENT availability (%model.availabilityPart;|%model.pLike;)+>
<!ATTLIST availability xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST availability
 %att.global.attributes;
 %att.declarable.attributes;
status (free|unknown|restricted) "unknown"  >
<!--doc:(text body) contains the whole body of a single unitary text, excluding any front or back matter. [4. ] -->
<!ELEMENT body ((%model.global;)*,(_DUMMY_model.divTop,(%model.global;|_DUMMY_model.divTop)*)?,(_DUMMY_model.divGenLike,(%model.global;|_DUMMY_model.divGenLike)*)?,(((%model.divLike;),(%model.global;|_DUMMY_model.divGenLike)*)+|(_DUMMY_model.div1Like,(%model.global;|_DUMMY_model.divGenLike)*)+|(((%model.common;),(%model.global;)*)+,(((%model.divLike;),(%model.global;|_DUMMY_model.divGenLike)*)+|(_DUMMY_model.div1Like,(%model.global;|_DUMMY_model.divGenLike)*)+)?)),(_DUMMY_model.divBottom,(%model.global;)*)*)>
<!ATTLIST body xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST body
 %att.global.attributes; >
<!--doc:(canonical reference pattern) specifies an expression and replacement pattern for transforming a canonical reference into a URI.  [2.3.6.3.  2.3.6.  2.3.6.2. ] -->
<!ELEMENT cRefPattern (%model.pLike;)*>
<!ATTLIST cRefPattern xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST cRefPattern
 %att.global.attributes;
 %att.patternReplacement.attributes; >
<!--doc:describes a calendar or dating system used in a dating formula in the text. [2.4.4. ] -->
<!ELEMENT calendar (%model.pLike;)+>
<!ATTLIST calendar xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST calendar
 %att.global.attributes;
 %att.pointing.attributes; >
<!--doc:(calendar description) contains a description of the calendar system used in any dating expression found in the text. [2.4.  2.4.4. ] -->
<!ELEMENT calendarDesc (calendar)+>
<!ATTLIST calendarDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST calendarDesc
 %att.global.attributes; >
<!--doc:(category description) describes some category within a taxonomy or text typology, either in the form of a brief prose description or in terms of the situational parameters used by the TEI formal textDesc. [2.3.7. ] -->
<!ELEMENT catDesc (#PCDATA|%model.limitedPhrase;|%model.catDescPart;)*>
<!ATTLIST catDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST catDesc
 %att.global.attributes; >
<!--doc:(category reference) specifies one or more defined categories within some taxonomy or text typology. [2.4.3. ] -->
<!ELEMENT catRef EMPTY>
<!ATTLIST catRef xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST catRef
 %att.global.attributes;
 %att.pointing.attributes;
scheme %data.pointer;  #IMPLIED >
<!--doc:contains an individual descriptive category, possibly nested within a superordinate category, within a user-defined taxonomy. [2.3.7. ] -->
<!ELEMENT category ((catDesc+|(%model.descLike;|_DUMMY_model.glossLike)*),category*)>
<!ATTLIST category xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST category
 %att.global.attributes; >
<!--doc:documents a change or set of changes made during the production of a source document, or during the revision of an electronic file. [2.5.  2.4.1. ] -->
<!ELEMENT change %macro.specialPara;>
<!ATTLIST change xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST change
 %att.ascribed.attributes;
 %att.docStatus.attributes;
 %att.global.attributes;
 %att.typed.attributes;
target CDATA  #IMPLIED >
<!--doc:(primary channel) describes the medium or channel by which a text is delivered or experienced. For a written text, this might be print, manuscript, e-mail, etc.; for a spoken one, radio, telephone, face-to-face, etc. [15.2.1. ] -->
<!ELEMENT channel %macro.phraseSeq.limited;>
<!ATTLIST channel xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST channel
 %att.global.attributes;
mode (s|w|sw|ws|m|x) "x"  >
<!--doc:groups a number of alternative encodings for the same point in a text. [3.4. ] -->
<!ELEMENT choice (%model.choicePart;|choice)*>
<!ATTLIST choice xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST choice
 %att.global.attributes; >
<!--doc:(classification code) contains the classification code used for this text in some standard classification system. [2.4.3. ] -->
<!ELEMENT classCode %macro.phraseSeq.limited;>
<!ATTLIST classCode xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST classCode
 %att.global.attributes;
scheme %data.pointer;  #REQUIRED >
<!--doc:(classification declarations) contains one or more taxonomies defining any classificatory codes used elsewhere in the text. [2.3.7.  2.3. ] -->
<!ELEMENT classDecl (taxonomy)+>
<!ATTLIST classDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST classDecl
 %att.global.attributes; >
<!--doc:describes the internal composition of a text or text sample, for example as fragmentary, complete, etc. [15.2.1. ] -->
<!ELEMENT constitution %macro.phraseSeq.limited;>
<!ATTLIST constitution xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST constitution
 %att.global.attributes;
type (single|composite|frags|unknown) "single"  >
<!--doc:(correction principles) states how and under what circumstances corrections have been made in the text. [2.3.3.  15.3.2. ] -->
<!ELEMENT correction (%model.pLike;)+>
<!ATTLIST correction xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST correction
 %att.global.attributes;
 %att.declarable.attributes;
status (high|medium|low|unknown) "unknown" 
method (silent|markup) "silent"  >
<!--doc:contains information about the creation of a text. [2.4.1.  2.4. ] -->
<!ELEMENT creation (#PCDATA|%model.limitedPhrase;|listChange)*>
<!ATTLIST creation xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST creation
 %att.global.attributes; >
<!--doc:describes the nature and extent of originality of this text. [15.2.1. ] -->
<!ELEMENT derivation %macro.phraseSeq.limited;>
<!ATTLIST derivation xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST derivation
 %att.global.attributes;
type %data.enumerated;  #IMPLIED >
<!--doc:(description) contains a brief description of the object documented by its parent element, including its intended usage, purpose, or application where this is appropriate. [22.4.4.  22.4.5.  22.4.6.  22.4.7. ] -->
<!ELEMENT desc %macro.limitedContent;>
<!ATTLIST desc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST desc
 %att.global.attributes;
 %att.translatable.attributes; >
<!--doc:supplies the name of a person or other agency responsible for the distribution of a text. [2.2.4. ] -->
<!ELEMENT distributor %macro.phraseSeq;>
<!ATTLIST distributor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST distributor
 %att.global.attributes; >
<!--doc:(text division) contains a subdivision of the front, body, or back of a text. [4.1. ] -->
<!ELEMENT div ((_DUMMY_model.divTop|%model.global;)*,((((%model.divLike;|_DUMMY_model.divGenLike),(%model.global;)*)+|(((%model.common;),(%model.global;)*)+,((%model.divLike;|_DUMMY_model.divGenLike),(%model.global;)*)*)),(_DUMMY_model.divBottom,(%model.global;)*)*)?)>
<!ATTLIST div xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div
 %att.global.attributes;
 %att.divLike.attributes;
 %att.typed.attributes; >
<!--doc:(domain of use) describes the most important social context in which the text was realized or for which it is intended, for example private vs. public, education, religion, etc. [15.2.1. ] -->
<!ELEMENT domain %macro.phraseSeq.limited;>
<!ATTLIST domain xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST domain
 %att.global.attributes;
type %data.enumerated;  #IMPLIED >
<!--doc:(edition) describes the particularities of one edition of a text. [2.2.2. ] -->
<!ELEMENT edition %macro.phraseSeq;>
<!ATTLIST edition xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST edition
 %att.global.attributes; >
<!--doc:(edition statement) groups information relating to one edition of a text. [2.2.2.  2.2. ] -->
<!ELEMENT editionStmt ((%model.pLike;)+|(edition,(%model.respLike;)*))>
<!ATTLIST editionStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST editionStmt
 %att.global.attributes; >
<!--doc:(editorial practice declaration) provides details of editorial principles and practices applied during the encoding of a text. [2.3.3.  2.3.  15.3.2. ] -->
<!ELEMENT editorialDecl (%model.pLike;|%model.editorialDeclPart;)+>
<!ATTLIST editorialDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST editorialDecl
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:(encoding description) documents the relationship between an electronic text and the source or sources from which it was derived. [2.3.  2.1.1. ] -->
<!ELEMENT encodingDesc (%model.encodingDescPart;|%model.pLike;)+>
<!ATTLIST encodingDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST encodingDesc
 %att.global.attributes; >
<!--doc:describes the approximate size of a text stored on some carrier medium or of some other object, digital or non-digital, specified in any convenient units. [2.2.3.  2.2.  3.11.2.3.  10.7.1. ] -->
<!ELEMENT extent %macro.phraseSeq;>
<!ATTLIST extent xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST extent
 %att.global.attributes; >
<!--doc:describes the extent to which the text may be regarded as imaginative or non-imaginative, that is, as describing a fictional or a non-fictional world.  [15.2.1. ] -->
<!ELEMENT factuality %macro.phraseSeq.limited;>
<!ATTLIST factuality xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST factuality
 %att.global.attributes;
type (fiction|fact|mixed|inapplicable) #IMPLIED >
<!--doc:(file description) contains a full bibliographic description of an electronic file. [2.2.  2.1.1. ] -->
<!ELEMENT fileDesc ((titleStmt,editionStmt?,extent?,publicationStmt,seriesStmt?,notesStmt?),sourceDesc+)>
<!ATTLIST fileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST fileDesc
 %att.global.attributes; >
<!--doc:(funding body) specifies the name of an individual, institution, or organization responsible for the funding of a project or text. [2.2.1. ] -->
<!ELEMENT funder %macro.phraseSeq.limited;>
<!ATTLIST funder xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST funder
 %att.global.attributes; >
<!--doc:(geographic coordinates declaration) documents the notation and the datum used for geographic coordinates expressed as content of the geo element elsewhere within the document. [2.3.8. ] -->
<!ELEMENT geoDecl %macro.phraseSeq;>
<!ATTLIST geoDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST geoDecl
 %att.global.attributes;
 %att.declarable.attributes;
datum %data.enumerated;  "WGS84"  >
<!--doc:(note on hand) describes a particular style or hand distinguished within a manuscript. [10.7.2. ] -->
<!ELEMENT handNote %macro.specialPara;>
<!ATTLIST handNote xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST handNote
 %att.global.attributes;
 %att.handFeatures.attributes; >
<!--doc:summarizes the way in which hyphenation in a source text has been treated in an encoded version of it. [2.3.3.  15.3.2. ] -->
<!ELEMENT hyphenation (%model.pLike;)+>
<!ATTLIST hyphenation xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST hyphenation
 %att.global.attributes;
 %att.declarable.attributes;
eol (all|some|hard|none) "some"  >
<!--doc:(identifier) supplies any form of identifier used to identify some object, such as a bibliographic item, a person, a title, an organization, etc. in a standardized way. [2.2.4.  2.2.5.  3.11.2.3. ] -->
<!ELEMENT idno (#PCDATA|_DUMMY_model.gLike|idno)*>
<!ATTLIST idno xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST idno
 %att.global.attributes;
 %att.sortable.attributes;
type %data.enumerated;  #IMPLIED >
<!--doc:marks any phenomenon or occurrence, not necessarily vocalized or communicative, for example incidental noises or other events affecting communication. [8.3.3. ] -->
<!ELEMENT incident (%model.descLike;)*>
<!ATTLIST incident xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST incident
 %att.global.attributes;
 %att.duration.w3c.attribute.dur;
 %att.duration.iso.attribute.dur-iso;
 %att.typed.attributes;
 %att.ascribed.attributes;
start %data.pointer;  #REQUIRED
end %data.pointer;  #REQUIRED >
<!--doc:describes the extent, cardinality and nature of any interaction among those producing and experiencing the text, for example in the form of response or interjection, commentary, etc. [15.2.1. ] -->
<!ELEMENT interaction %macro.phraseSeq.limited;>
<!ATTLIST interaction xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST interaction
 %att.global.attributes;
type (none|partial|complete|inapplicable) #IMPLIED
active %data.enumerated;  #IMPLIED
passive %data.enumerated;  #IMPLIED >
<!--doc:describes the scope of any analytic or interpretive information added to the text in addition to the transcription.  [2.3.3. ] -->
<!ELEMENT interpretation (%model.pLike;)+>
<!ATTLIST interpretation xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST interpretation
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:contains a list of keywords or phrases identifying the topic or nature of a text. [2.4.3. ] -->
<!ELEMENT keywords  EMPTY>
<!ATTLIST keywords xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST keywords
 %att.global.attributes;
scheme %data.pointer;  #IMPLIED >
<!--doc:marks any communicative phenomenon, not necessarily vocalized, for example a gesture, frown, etc. [8.3.3. ] -->
<!ELEMENT kinesic (%model.descLike;)*>
<!ATTLIST kinesic xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST kinesic
 %att.global.attributes;
 %att.duration.w3c.attribute.dur;
 %att.duration.iso.attribute.dur-iso;
 %att.typed.attributes;
 %att.ascribed.attributes;
start %data.pointer;  #REQUIRED
end %data.pointer;  #REQUIRED
iterated %data.xTruthValue;  "false"  >
<!--doc:(language usage) describes the languages, sublanguages, registers, dialects, etc. represented within a text. [2.4.2.  2.4.  15.3.2. ] -->
<!ELEMENT langUsage (language)+>
<!ATTLIST langUsage xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST langUsage
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:characterizes a single language or sublanguage used within a text. [2.4.2. ] -->
<!ELEMENT language %macro.phraseSeq.limited;>
<!ATTLIST language xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST language
 %att.global.attributes;
ident %data.language;  #REQUIRED
usage CDATA #IMPLIED >
<!--doc:contains information about a licence or other legal agreement applicable to the text. [2.2.4. ] -->
<!ELEMENT licence %macro.specialPara;>
<!ATTLIST licence xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST licence
 %att.global.attributes;
 %att.pointing.attributes; >
<!--doc:groups a number of change descriptions associated with either the creation of a source text or the revision of an encoded text.  -->
<!ELEMENT listChange (listChange|change)+>
<!ATTLIST listChange xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST listChange
 %att.global.attributes;
 %att.sortable.attributes;
ordered %data.truthValue;  "true"  >
<!--doc: (list of prefix definitions) contains a list of definitions of prefixing schemes used in data.pointer values, showing how abbreviated URIs using each scheme may be expanded into full URIs. [16.2.3. ] -->
<!ELEMENT listPrefixDef (prefixDef|listPrefixDef)+>
<!ATTLIST listPrefixDef xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST listPrefixDef
 %att.global.attributes; >
<!--doc:contains a brief informal description of the kind of place concerned, for example: a room, a restaurant, a park bench, etc. [15.2.3. ] -->
<!ELEMENT locale %macro.phraseSeq.limited;>
<!ATTLIST locale xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST locale
 %att.global.attributes; >
<!--doc:indicates the location of any form of external media such as an audio or video clip etc. [3.9. ] -->
<!ELEMENT media (%model.descLike;)*>
<!ATTLIST media xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST media
 %att.typed.attributes;
 %att.global.attributes;
 %att.media.attribute.width;
 %att.media.attribute.height;
 %att.media.attribute.scale;
 %att.resourced.attributes;
 %att.timed.attributes;
mimeType CDATA  #REQUIRED >
<!--doc:supplies the formal name of the namespace to which the elements documented by its children belong.  [2.3.4. ] -->
<!ELEMENT namespace (tagUsage)+>
<!ATTLIST namespace xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST namespace
 %att.global.attributes;
name %data.namespace;  #REQUIRED >
<!--doc:indicates the extent of normalization or regularization of the original source carried out in converting it to electronic form. [2.3.3.  15.3.2. ] -->
<!ELEMENT normalization (%model.pLike;)+>
<!ATTLIST normalization xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST normalization
 %att.global.attributes;
 %att.declarable.attributes;
source %data.pointer;  #IMPLIED
method (silent|markup) "silent"  >
<!--doc:(notes statement) collects together any notes providing information about a text additional to that recorded in other parts of the bibliographic description. [2.2.6.  2.2. ] -->
<!ELEMENT notesStmt (_DUMMY_model.noteLike)+>
<!ATTLIST notesStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST notesStmt
 %att.global.attributes; >
<!--doc:(participation description) describes the identifiable speakers, voices, or other participants in any kind of text.  [15.2. ] -->
<!ELEMENT particDesc ((%model.pLike;)+|_DUMMY_model.personLike+)>
<!ATTLIST particDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST particDesc
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:marks a pause either between or within utterances. [8.3.2. ] -->
<!ELEMENT pause EMPTY>
<!ATTLIST pause xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST pause
 %att.global.attributes;
 %att.timed.attributes;
 %att.typed.attributes;
 %att.ascribed.attributes; >
<!--doc: (punctuation character) contains a character or string of characters regarded as constituting a single punctuation mark. [17.1. ] -->
<!ELEMENT pc (#PCDATA|_DUMMY_model.gLike|%model.pPart.edit;)*>
<!ATTLIST pc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST pc
 %att.global.attributes;
 %att.segLike.attributes;
 %att.typed.attributes;
force (strong|weak|inter) #IMPLIED
unit %data.enumerated;  #IMPLIED
pre %data.truthValue;  #IMPLIED >
<!--doc:(personal name) contains a proper noun or proper-noun phrase referring to a person, possibly including one or more of the person's forenames, surnames, honorifics, added names, etc. [13.2.1. ] -->
<!ELEMENT persName %macro.phraseSeq;>
<!ATTLIST persName xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST persName
 %att.global.attributes;
 %att.editLike.attributes;
 %att.personal.attributes;
 %att.typed.attributes; >
<!--doc: (prefixing scheme used in data.pointer values) defines a prefixing scheme used in data.pointer values, showing how abbreviated URIs using the scheme may be expanded into full URIs. [16.2.3. ] -->
<!ELEMENT prefixDef (%model.pLike;)*>
<!ATTLIST prefixDef xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST prefixDef
 %att.global.attributes;
 %att.patternReplacement.attributes;
ident %data.name;  #REQUIRED >
<!--doc:describes the extent to which a text may be regarded as prepared or spontaneous.  [15.2.1. ] -->
<!ELEMENT preparedness %macro.phraseSeq.limited;>
<!ATTLIST preparedness xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST preparedness
 %att.global.attributes;
type %data.enumerated;  #IMPLIED >
<!--doc:(principal researcher) supplies the name of the principal researcher responsible for the creation of an electronic text. [2.2.1. ] -->
<!ELEMENT principal %macro.phraseSeq.limited;>
<!ATTLIST principal xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST principal
 %att.global.attributes; >
<!--doc:(text-profile description) provides a detailed description of non-bibliographic aspects of a text, specifically the languages and sublanguages used, the situation in which it was produced, the participants and their setting. [2.4.  2.1.1. ] -->
<!ELEMENT profileDesc (%model.profileDescPart;)*>
<!ATTLIST profileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST profileDesc
 %att.global.attributes; >
<!--doc:(project description) describes in detail the aim or purpose for which an electronic file was encoded, together with any other relevant information concerning the process by which it was assembled or collected. [2.3.1.  2.3.  15.3.2. ] -->
<!ELEMENT projectDesc (%model.pLike;)+>
<!ATTLIST projectDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST projectDesc
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:(publication statement) groups information concerning the publication or distribution of an electronic or other text.  [2.2.4.  2.2. ] -->
<!ELEMENT publicationStmt ((%model.pLike;)+|(%model.publicationStmtPart;)+)>
<!ATTLIST publicationStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST publicationStmt
 %att.global.attributes; >
<!--doc:characterizes a single purpose or communicative function of the text. [15.2.1. ] -->
<!ELEMENT purpose %macro.phraseSeq.limited;>
<!ATTLIST purpose xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST purpose
 %att.global.attributes;
type %data.enumerated;  #IMPLIED
degree %data.certainty;  #IMPLIED >
<!--doc:specifies editorial practice adopted with respect to quotation marks in the original.  [2.3.3.  15.3.2. ] -->
<!ELEMENT quotation (%model.pLike;)*>
<!ATTLIST quotation xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST quotation
 %att.global.attributes;
 %att.declarable.attributes;
marks (none|some|all) #IMPLIED
form CDATA  "unknown"  >
<!--doc:(reference state) specifies one component of a canonical reference defined by the milestone method. [2.3.6.3.  2.3.6. ] -->
<!ELEMENT refState EMPTY>
<!ATTLIST refState xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST refState
 %att.global.attributes;
 %att.milestoneUnit.attributes;
 %att.edition.attributes;
length %data.count;  #IMPLIED
delim CDATA #IMPLIED >
<!--doc:(references declaration) specifies how canonical references are constructed for this text. [2.3.6.3.  2.3.  2.3.6. ] -->
<!ELEMENT refsDecl ((%model.pLike;)+|cRefPattern+|refState+)>
<!ATTLIST refsDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST refsDecl
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:supplies information about the rendition or appearance of one or more elements in the source text. [2.3.4. ] -->
<!ELEMENT rendition %macro.limitedContent;>
<!ATTLIST rendition xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST rendition
 %att.global.attributes;
scheme (css|xslfo|free|other) #IMPLIED
scope %data.enumerated;  #IMPLIED >
<!--doc:(revision description) summarizes the revision history for a file. [2.5.  2.1.1. ] -->
<!ELEMENT revisionDesc (listChange|change+)>
<!ATTLIST revisionDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST revisionDesc
 %att.global.attributes;
 %att.docStatus.attributes; >
<!--doc:(sampling declaration) contains a prose description of the rationale and methods used in sampling texts in the creation of a corpus or collection. [2.3.2.  2.3.  15.3.2. ] -->
<!ELEMENT samplingDecl (%model.pLike;)+>
<!ATTLIST samplingDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST samplingDecl
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:describes a particular script distinguished within the description of a manuscript or similar resource. [10.7.2. ] -->
<!ELEMENT scriptNote %macro.specialPara;>
<!ATTLIST scriptNote xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST scriptNote
 %att.global.attributes;
 %att.handFeatures.attributes; >
<!--doc:(arbitrary segment) represents any segmentation of text below the chunk level. [16.3.  6.2.  7.2.5. ] -->
<!ELEMENT seg %macro.paraContent;>
<!ATTLIST seg xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST seg
 %att.global.attributes;
 %att.segLike.attributes;
 %att.typed.attributes;
 %att.responsibility.attributes; >
<!--doc:describes the principles according to which the text has been segmented, for example into sentences, tone-units, graphemic strata, etc. [2.3.3.  15.3.2. ] -->
<!ELEMENT segmentation (%model.pLike;)+>
<!ATTLIST segmentation xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST segmentation
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:(series statement) groups information about the series, if any, to which a publication belongs. [2.2.5.  2.2. ] -->
<!ELEMENT seriesStmt ((%model.pLike;)+|idno*)>
<!ATTLIST seriesStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST seriesStmt
 %att.global.attributes; >
<!--doc:describes one particular setting in which a language interaction takes place. [15.2.3. ] -->
<!ELEMENT setting ((%model.pLike;)+|(%model.nameLike.agent;|_DUMMY_model.dateLike|%model.settingPart;)*)>
<!ATTLIST setting xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST setting
 %att.global.attributes;
 %att.ascribed.attributes; >
<!--doc:(setting description) describes the setting or settings within which a language interaction takes place, either as a prose description or as a series of setting elements. [15.2.  2.4. ] -->
<!ELEMENT settingDesc ((%model.pLike;)+|(setting|_DUMMY_model.placeLike)+)>
<!ATTLIST settingDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST settingDesc
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:marks the point at which some paralinguistic feature of a series of utterances by any one speaker changes. [8.3.6. ] -->
<!ELEMENT shift EMPTY>
<!ATTLIST shift xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST shift
 %att.global.attributes;
 %att.ascribed.attributes;
feature (tempo|loud|pitch|tension|rhythm|voice) #IMPLIED
new %data.enumerated;  "normal"  >
<!--doc:(source description) describes the source from which an electronic text was derived or generated, typically a bibliographic description in the case of a digitized text, or a phrase such as "born digital" for a text which has no previous existence. [2.2.7. ] -->
<!ELEMENT sourceDesc ((%model.pLike;)+|(_DUMMY_model.biblLike|_DUMMY_model.sourceDescPart|_DUMMY_model.listLike)+)>
<!ATTLIST sourceDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sourceDesc
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:associates an interpretative annotation directly with a span of text. [17.3. ] -->
<!ELEMENT span %macro.phraseSeq.limited;>
<!ATTLIST span xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST span
 %att.global.attributes;
 %att.interpLike.attributes;
 %att.pointing.attributes;
from %data.pointer;  #IMPLIED
to %data.pointer;  #IMPLIED >
<!--doc:(span group) collects together span tags. [17.3. ] -->
<!ELEMENT spanGrp (span)*>
<!ATTLIST spanGrp xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST spanGrp
 %att.global.attributes;
 %att.interpLike.attributes; >
<!--doc:specifies the name of a sponsoring organization or institution. [2.2.1. ] -->
<!ELEMENT sponsor %macro.phraseSeq.limited;>
<!ATTLIST sponsor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sponsor
 %att.global.attributes; >
<!--doc:(standard values) specifies the format used when standardized date or number values are supplied. [2.3.3.  15.3.2. ] -->
<!ELEMENT stdVals (%model.pLike;)+>
<!ATTLIST stdVals xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST stdVals
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc: (style definition language declaration) specifies the name of the formal language in which style or renditional information is supplied elsewhere in the document. [2.3.5. ] -->
<!ELEMENT styleDefDecl (%model.pLike;)*>
<!ATTLIST styleDefDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST styleDefDecl
 %att.global.attributes;
 %att.declarable.attributes;
 %att.styleDef.attributes; >
<!--doc:supplies information about the usage of a specific element within a text.  [2.3.4. ] -->
<!ELEMENT tagUsage %macro.limitedContent;>
<!ATTLIST tagUsage xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST tagUsage
 %att.global.attributes;
gi %data.name;  #REQUIRED
occurs %data.count;  #IMPLIED
withId %data.count;  #IMPLIED
render CDATA  #IMPLIED >
<!--doc:(tagging declaration) provides detailed information about the tagging applied to a document. [2.3.4.  2.3. ] -->
<!ELEMENT tagsDecl (rendition*,namespace*)>
<!ATTLIST tagsDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST tagsDecl
 %att.global.attributes; >
<!--doc:defines a typology either implicitly, by means of a bibliographic citation, or explicitly by a structured taxonomy. [2.3.7. ] -->
<!ELEMENT taxonomy ((_DUMMY_model.glossLike|%model.descLike;)*|category+|(_DUMMY_model.biblLike,category*))>
<!ATTLIST taxonomy xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST taxonomy
 %att.global.attributes; >
<!--doc:contains the whole of a TEI encoded corpus, comprising a single corpus header and one or more TEI elements, each containing a single text header and a text. [4.  15.1. ] -->
<!ELEMENT teiCorpus (teiHeader,(TEI|teiCorpus)+)>
<!ATTLIST teiCorpus xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST teiCorpus
 %att.global.attributes;
version %data.version;  "5.0"  >
<!ATTLIST teiCorpus xsi:schemaLocation CDATA #IMPLIED
 xmlns:xsi CDATA #FIXED 'http://www.w3.org/2001/XMLSchema-instance'
 >
<!--doc:(TEI header) supplies the descriptive and declarative information making up an electronic title page prefixed to every TEI-conformant text. [2.1.1.  15.1. ] -->
<!ELEMENT teiHeader (fileDesc,(%model.teiHeaderPart;)*,revisionDesc?)>
<!ATTLIST teiHeader xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST teiHeader
 %att.global.attributes;
type %data.enumerated;  "text"  >
<!--doc:contains a single text of any kind, whether unitary or composite, for example a poem or drama, a collection of essays, a novel, a dictionary, or a corpus sample. [4.  15.1. ] -->
<!ELEMENT text ((%model.global;)*,(%model.global;)*,body,(%model.global;)*,(%model.global;)*)>
<!ATTLIST text xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST text
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:(text classification) groups information which describes the nature or topic of a text in terms of a standard classification scheme, thesaurus, etc. [2.4.3. ] -->
<!ELEMENT textClass (classCode|catRef|keywords)*>
<!ATTLIST textClass xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST textClass
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:(text description) provides a description of a text in terms of its situational parameters. [15.2.1. ] -->
<!ELEMENT textDesc (%model.textDescPart_sequence;,purpose+)>
<!ATTLIST textDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST textDesc
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:(timeline) provides a set of ordered points in time which can be linked to elements of a spoken text to create a temporal alignment of that text. [16.5.2. ] -->
<!ELEMENT timeline (when)+>
<!ATTLIST timeline xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST timeline
 %att.global.attributes;
origin %data.pointer;  #IMPLIED
unit %data.enumerated;  #IMPLIED
interval CDATA #IMPLIED >
<!--doc:(title statement) groups information about the title of a work and those responsible for its content. [2.2.1.  2.2. ] -->
<!ELEMENT titleStmt (%model.respLike;)*>
<!ATTLIST titleStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST titleStmt
 %att.global.attributes; >
<!--doc:describes the set of transcription conventions used -->
<!ELEMENT transcriptionDesc ((%model.labelLike;)+,(_DUMMY_model.ptrLike*|(%model.pLike;)*))>
<!ATTLIST transcriptionDesc xmlns CDATA "http://iso-tei-spoken.org/ns/1.0">
<!ATTLIST transcriptionDesc
 %att.global.attributes;
ident %data.name;  #REQUIRED
version %data.versionNumber;  #IMPLIED >
<!--doc:describes a particular font or other significant typographic feature distinguished within the description of a printed resource. [10.7.2. ] -->
<!ELEMENT typeNote %macro.specialPara;>
<!ATTLIST typeNote xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST typeNote
 %att.global.attributes;
 %att.handFeatures.attributes; >
<!--doc:(utterance) contains a stretch of speech usually preceded and followed by silence or by a change of speaker. [8.3.1. ] -->
<!ELEMENT u (#PCDATA|_DUMMY_model.gLike|%model.phrase;|%model.global;)*>
<!ATTLIST u xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST u
 %att.global.attributes;
 %att.timed.attributes;
 %att.ascribed.attributes; >
<!--doc:contains a word, phrase, or passage which cannot be transcribed with certainty because it is illegible or inaudible in the source. [11.3.3.1.  3.4.3. ] -->
<!ELEMENT unclear %macro.paraContent;>
<!ATTLIST unclear xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST unclear
 %att.global.attributes;
 %att.editLike.attributes;
reason CDATA  #IMPLIED
hand %data.pointer;  #IMPLIED
agent %data.enumerated;  #IMPLIED >
<!--doc:marks any vocalized but not necessarily lexical phenomenon, for example voiced pauses, non-lexical backchannels, etc. [8.3.3. ] -->
<!ELEMENT vocal (%model.descLike;)*>
<!ATTLIST vocal xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST vocal
 %att.global.attributes;
 %att.timed.attributes;
 %att.ascribed.attributes;
 %att.typed.attributes;
iterated %data.xTruthValue;  "false"  >
<!--doc:(word) represents a grammatical (not necessarily orthographic) word. [17.1. ] -->
<!ELEMENT w (#PCDATA|_DUMMY_model.gLike|seg|w|%model.global;|_DUMMY_model.lPart|_DUMMY_model.hiLike|%model.pPart.edit;)*>
<!ATTLIST w xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST w
 %att.global.attributes;
 %att.segLike.attributes;
 %att.typed.attributes;
lemma %data.text;  #IMPLIED
lemmaRef CDATA  #IMPLIED >
<!--doc:indicates a point in time either relative to other elements in the same timeline tag, or absolutely. [16.5.2. ] -->
<!ELEMENT when EMPTY>
<!ATTLIST when xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST when
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.rend;
 %att.global.attribute.style;
 %att.global.attribute.rendition;
 %att.global.attribute.xmlbase;
 %att.global.attribute.xmlspace;
 %att.global.linking.attribute.synch;
xml:id ID #REQUIRED
absolute %data.temporal.w3c;  #IMPLIED
unit %data.enumerated;  #IMPLIED
interval CDATA #IMPLIED
since %data.pointer;  #IMPLIED >
<!--doc:contains a passage of written text revealed to participants in the course of a spoken text. [8.3.4. ] -->
<!ELEMENT writing %macro.paraContent;>
<!ATTLIST writing xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST writing
 %att.global.attributes;
 %att.ascribed.attributes;
 %att.typed.attributes;
 %att.timed.attributes;
 %att.source.attributes;
gradual %data.xTruthValue;  #IMPLIED >
<!-- end elements -->
