Talks/2016-03-paris/transMin.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en" xmlns="http://www.tei-c.org/ns/1.0"
  xmlns:rng="http://relaxng.org/ns/structure/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>TEI pour une transcription minimale</title>
      </titleStmt>
      <publicationStmt>
        <p/>
      </publicationStmt>
      <sourceDesc>
        <p>Written from scratch.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <head>Une personalisation TEI pour la transcription collaborative</head>
      <p>Cette personalisation propose un schéma minimal pour la transcription 
        collaborative des documents archivals. </p>
      <schemaSpec ident="transMin" start="TEI text div" docLang="fr">     
        <moduleRef key="tei"/>
        <moduleRef key="header" include="teiHeader fileDesc titleStmt 
            publicationStmt sourceDesc"/>
        <moduleRef key="textstructure" include="TEI text body div"/>
        <elementRef key="ab"/>
        <elementRef key="pb"/>
        <elementRef key="unclear"/>
        <elementRef key="hi"/>      
        <elementRef key="name"/>  
        <elementRef key="title"/>  
        <classSpec type="atts" ident="att.declaring" mode="delete"/>
        <classSpec type="atts" ident="att.fragmentable" mode="delete"/>
        <classSpec type="atts" ident="att.edition" mode="delete"/>
        <classSpec type="atts" ident="att.editLike" mode="delete"/>        
        <classRef key="att.global.rendition"  except="rendition style"/>
      </schemaSpec>
    </body>
  </text>
</TEI>
