trunk/Talks/2014-02-lyon/oddex-4.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Adding a namespace declaration</title>
      </titleStmt>
      <publicationStmt>
        <p>Publication Information</p>
      </publicationStmt>
      <sourceDesc>
        <p>Information about the source</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
    
      <schemaSpec ns="" start="stuff" ident="oddex-1" xmlns:rng="http://relaxng.org/ns/structure/1.0"
        xmlns="http://www.tei-c.org/ns/1.0">
        
        <classSpec ident="stuffPart" type="model">
          <desc>elements qui ont la possibilite de figurer dans un stuff</desc>
        </classSpec>
        
        
<classSpec ident="stuffAtts" type="atts">
    <desc>attributs communs aux éléments qui ont la possibilité de figurer dans un
        stuff</desc>
    <attList>
        <attDef ident="n">
            <desc>fournit un numero ou autre label</desc>
          <datatype><rng:data type="string"/></datatype>
        </attDef>
        <attDef ident="status">
            <desc>indique un status de correction </desc>
            <valList type="closed">
                <valItem ident="rouge"/>
                <valItem ident="vert"/>
                <valItem ident="incertain"/>
            </valList>
        </attDef>
    </attList>
</classSpec>

        <elementSpec ident="stuff">
          <desc>élément racine d'un schéma simplissime</desc>
          <content>
            <classRef key="stuffPart" maxOccurs="unbounded">
            </classRef>
          </content>
        </elementSpec>
        
        <elementSpec ident="bob">
          <desc>élément pointeur du schéma simplissime</desc>
          <classes><memberOf key="stuffPart"/>
            <memberOf key="stuffAtts"/></classes>
          <content/>
          <attList>
            <attDef ident="uri">
              <desc>fournit l' URI de l'objet cible</desc>
              <datatype>
                <rng:data type="anyURI"/>
                <!-- should be <macroRef key="data.pointer"/>-->
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="bit">
          <desc>élément textuel du schéma simplissime (peut contenir des bobs) </desc>
          <classes><memberOf key="stuffPart"/>
            <memberOf key="stuffAtts"/></classes>
          <content allowText="true">
            <elementRef key="bob" minOccurs="0" maxOccurs="unbounded"/>
          </content>
        </elementSpec>
        
        <elementSpec ident="bit" ns="http://myNamespace.org" prefix="extra_">
          <desc>élément textuel du schéma simplissime (sans bob) </desc> 
          <classes><memberOf key="stuffPart"/></classes>
          <content allowText="true"/>
        </elementSpec>
        
      </schemaSpec>
    </body>
  </text>
</TEI>
