Projects/Unicaen/teiPucc.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="fr"
    xmlns:rng="http://relaxng.org/ns/structure/1.0">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title> TEI PUCC </title>
                <author> generated by Roma 3.12, converted by odd2nuodd</author>
            </titleStmt>
            <publicationStmt>
                <p> for use by whoever wants it</p>
            </publicationStmt>
            <notesStmt>
                <note type="ns"> http://www.example.org/ns/nonTEI</note>
            </notesStmt>
            <sourceDesc>
                <p> created on Monday 21st June 2010 04:54:19 AM</p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change when="2015-08">Convert TEI.xml from PUCC using odd2nuodd; add datatypes for inDesign attribs</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <front>
            <divGen type="toc"/>
        </front>
        <body>
            <p>Generic TEI Customization starts with modules tei, core, textstructure, header and
                Xinclude. For publishig work.</p>
            
            <!-- originally generated from 1.9.0 p5 -->
            
            <schemaSpec ident="tei" docLang="fr" prefix="tei_" start="TEI" xml:lang="en" 
                targetLang="en">
                <moduleRef key="core"
                    include="abbr address analytic author bibl biblScope biblStruct cb cit citedRange date desc 
                    editor email emph expan foreign gb gloss graphic head headItem headLabel hi imprint index item l label 
                    lb lg list listBibl media milestone monogr name note num p pb postBox postCode ptr pubPlace publisher q 
                    quote ref resp respStmt series sp speaker stage street term textLang title"/>
           
                <!-- releases since 1.9.0 add : citedRange gb media textLang -->
                <moduleRef key="tei"/>
                <moduleRef key="header"
                    include="abstract appInfo application authority availability biblFull calendar calendarDesc 
                    change correspAction correspContext correspDesc creation edition editionStmt editorialDecl encodingDesc extent
                    fileDesc funder idno keywords langUsage language licence listChange listPrefixDef normalization notesStmt prefixDef
                    profileDesc projectDesc publicationStmt punctuation quotation revisionDesc scriptNote seriesStmt sourceDesc sponsor
                    styleDefDecl teiHeader textClass titleStmt"/>
                <!-- adds : abstract calendar calendarDesc change correspAction correspContext correspDesc 
                  licence listChange listPrefixDef prefixDef punctuation scriptNote seriesStmt -->
                
               
                <moduleRef key="textstructure"
                    include="TEI back body byline dateline div docAuthor docDate docEdition 
                    docImprint docTitle epigraph floatingText front group imprimatur text titlePage titlePart"/>
                 
                <moduleRef key="figures"
                    include="cell figDesc figure formula notatedMusic row table"/>
                <!-- added :notatedMusic -->
                
                <moduleRef key="linking" include="seg"/>
                
                <!-- AEDRES2 adds : ab,   <moduleRef key="namesdates" include="affiliation orgName roleName"/>
                <moduleRef key="analysis" include="s"/>-->
                
              
                <elementSpec xmlns:rng="http://relaxng.org/ns/structure/1.0" ident="include"
                    ns="http://www.w3.org/2001/XInclude" mode="add">
                    <desc> The W3C XInclude element</desc>
                    <classes>
                        <memberOf key="model.common"/>
                        <memberOf key="model.headerPart"/>
                    </classes>
                    <content>
                        <rng:optional>
                            <rng:ref name="fallback"/>
                        </rng:optional>
                    </content>
                    <attList>
                        <attDef ident="href">
                            <desc> pointer to the resource being included</desc>
                            <datatype>
                                <rng:ref name="data.pointer"/>
                            </datatype>
                        </attDef>
                        <attDef ident="parse" usage="opt">
                            <defaultVal> xml</defaultVal>
                            <valList type="closed">
                                <valItem ident="xml"/>
                                <valItem ident="text"/>
                            </valList>
                        </attDef>
                        <attDef ident="xpointer" usage="opt">
                            <datatype>
                                <rng:text/>
                            </datatype>
                        </attDef>
                        <attDef ident="encoding" usage="opt">
                            <datatype>
                                <rng:text/>
                            </datatype>
                        </attDef>
                        <attDef ident="accept" usage="opt">
                            <datatype>
                                <rng:text/>
                            </datatype>
                        </attDef>
                        <attDef ident="accept-charset" usage="opt">
                            <datatype>
                                <rng:text/>
                            </datatype>
                        </attDef>
                        <attDef ident="accept-language" usage="opt">
                            <datatype>
                                <rng:text/>
                            </datatype>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec xmlns:rng="http://relaxng.org/ns/structure/1.0" ident="fallback"
                    ns="http://www.w3.org/2001/XInclude" mode="add">
                    <desc> Wrapper for fallback elements if an XInclude fails</desc>
                    <content>
                        <oneOrMore xmlns="http://relaxng.org/ns/structure/1.0">
                            <choice>
                                <text/>
                                <ref name="macro.anyThing"/>
                            </choice>
                        </oneOrMore>
                    </content>
                </elementSpec>


                <elementSpec ident="back" module="textstructure" mode="change">
                    <attList>
                        <attDef ident="rendition" mode="delete"/>
                    </attList>
                </elementSpec>
                <elementSpec ident="figDesc" module="figures" mode="change">
                    <attList>
                        <attDef ident="rendition" mode="delete"/>
                    </attList>
                </elementSpec>
                <classSpec ident="att.global" mode="change" type="atts" module="tei">
                    <attList>
                        <attDef ident="rendition" mode="delete"/>
                        <attDef ident="xml:base" mode="delete"/>
                        <attDef ident="pstyle" mode="add"
                            ns="http://ns.adobe.com/AdobeInDesign/4.0/">
                            <desc> Correspondance de mise en forme dans Indesign (à l'échelle du
                                paragraphe).</desc>
                            <datatype><rng:text/></datatype>
                        </attDef>
                        <attDef ident="cstyle" mode="add"
                            ns="http://ns.adobe.com/AdobeInDesign/4.0/">
                            <desc> Correspondance de mise en forme dans Indesign (à l'échelle de la
                                séquence de caractères).</desc>
                            <datatype><rng:text/></datatype>
                        </attDef>
                    </attList>
                </classSpec>


                <elementSpec ident="cell" module="figures" mode="change">
                    <attList>
                        <attDef ident="table" mode="add" ns="http://ns.adobe.com/AdobeInDesign/4.0/">
                            <desc> Type d'élément de tableau (pour Indesign)</desc>
                            <datatype><rng:text/></datatype>
                        </attDef>
                        <attDef ident="crows" mode="add" ns="http://ns.adobe.com/AdobeInDesign/4.0/">
                            <desc> Nombre de rangées sur lesquelles une cellule peut s'étendre (pour
                                Indesign)</desc>
                            <datatype><rng:text/></datatype>
                        </attDef>
                        <attDef ident="ccols" mode="add" ns="http://ns.adobe.com/AdobeInDesign/4.0/">
                            <desc> Nombre de colonnes sur lesquelles une cellule peut s'étendre
                                (pour Indesign)</desc>
                            <datatype><rng:text/></datatype>
                        </attDef>
                        <attDef ident="cellstyle" mode="add"
                            ns="http://ns.adobe.com/AdobeInDesign/5.0/">
                            <desc> Style de mise en forme de la cellule (pour Indesign)</desc>
                            <datatype><rng:text/></datatype>
                        </attDef>
                    </attList>
                </elementSpec>
                <elementSpec ident="table" module="figures" mode="change">
                    <attList>
                        <attDef ident="table" mode="add" ns="http://ns.adobe.com/AdobeInDesign/4.0/">
                            <desc> Type d'élément de tableau (pour Indesign)</desc>
                            <datatype>
                                <rng:text/>
                            </datatype>
                        </attDef>
                        <attDef ident="tcols" mode="add" ns="http://ns.adobe.com/AdobeInDesign/4.0/">
                            <desc> Nombre de colonnes du tableau (pour Indesign)</desc>
                            <datatype>
                                <rng:text/>
                            </datatype>
                        </attDef>
                        <attDef ident="trows" mode="add" ns="http://ns.adobe.com/AdobeInDesign/4.0/">
                            <desc> Nombre de rangées du tableau (pour Indesign)</desc>
                            <datatype>
                                <rng:text/>
                            </datatype>
                        </attDef>
                        <attDef ident="tablestyle" mode="add"
                            ns="http://ns.adobe.com/AdobeInDesign/5.0/">
                            <desc> Style de mise en forme du tableau (pour Indesign)</desc>
                            <datatype>
                                <rng:text/>
                            </datatype>
                        </attDef>
                    </attList>
                </elementSpec>
               
             </schemaSpec>
        </body>
    </text>
</TEI>
