Projects/Unicaen/teiPucc.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="fr"
    xmlns:rng="http://relaxng.org/ns/structure/1.0">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title> TEI PUCC </title>
                </titleStmt>
            <publicationStmt>
                <p>Unpublished draft</p>
            </publicationStmt>
            
            <sourceDesc>
                <p>First created on Monday 21st June 2010 04:54:19 AM</p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change when="2015-08">Convert TEI.xml from PUCC using odd2nuodd; add datatypes for
                inDesign attribs</change>
        </revisionDesc>
    </teiHeader>
    <text>
       
        <body>
            <p>TEI Customization for PUCC editions.</p>
            <!-- originally generated from 1.9.0 p5 -->
            <div>
                <head>Overall structure</head>
                <p>A PUCC edition is a single TEI document, represented using the following
                    elements: <specList>
                        <specDesc key="TEI"/>
                        <specDesc key="text"/>
                        <specDesc key="teiHeader"/>
                        <specDesc key="facsimile"/>
                    </specList></p>
                <p>These elements must all be present, except for a <gi>facsimile</gi> which is
                    needed only in the case where a PUCC edition integrates page images in addition
                    to transcribed text and commentary. </p>
            </div>
            <div>
                <head>Front, body, and back</head>
                <p> Each TEI <gi>text</gi> contains the edited transcription of a primary source,
                    including any annotation, introduction, commentary, indexes, etc. These
                    components are organized using the following elements: <specList>
                        <specDesc key="front"/>
                        <specDesc key="body"/>
                        <specDesc key="back"/>
                        <specDesc key="div"/>
                    </specList>A <gi>text</gi> element must have a <gi>body</gi> element, usually
                    preceded by a <gi>front</gi>, and optionally followed by a <gi>back</gi>. </p>
                <p>Each of these three components may may be subdivided hierarchically using the
                        <gi>div</gi> element.</p>
            </div>
            <div>
                <head>Divisions and their components</head>
                <p>The <gi>div</gi> element is used for any structural subdivision of a text, such
                    as a chapter, section, subsection etc. The <att>type</att> attribute is used to
                    distinguish divisions with different functions; its value should be taken from
                    the following list: <specList>
                        <specDesc key="div" atts="type"/>
                    </specList>
                </p>
                <p>A division will typically begin with at least one title, and may have other
                    headings. The following elements are from the divLiminal class are used to mark
                    these: <specList>
                        <specDesc key="head"/>
                    </specList></p>
                <div>
                    <head>Chunks</head>
                    <p>In a prose text, the division will be made up of paragraphs, or other blocks,
                        lists, etc. In a poetic text, there will be verse lines, possibly grouped
                        into stanzas. In a dramatic text, there will be speeches, each containing a
                        speaker identifiers and either a paragraph or some verse. The following
                        elements are used to encode these components: <specList>
                            <specDesc key="p"/>
                            <specDesc key="ab"/>
                            <specDesc key="list"/>
                            <specDesc key="item"/>
                            <specDesc key="lg"/>
                            <specDesc key="l"/>
                            <specDesc key="sp"/>
                            <specDesc key="speaker"/>
                        </specList></p>
                </div>
                <div>
                    <head>Phrase level components</head>
                    <p>Several elements are available for indicating significant phrases, often
                        indicated by variant typography: <specList>
                            <specDesc key="hi"/>
                            <specDesc key="q"/>
                            <specDesc key="date"/>
                            <specDesc key="title"/>
                            <specDesc key="name"/>
                        </specList></p>
                </div>
                <div>
                    <head>Editorial interventions</head>
                    <p><specList>
                        <specDesc key="add"/>
                        <specDesc key="del"/>
                        <specDesc key="corr"/>
                        <specDesc key="sic"/>
                        <specDesc key="reg"/>
                        <specDesc key="orig"/>
                        <specDesc key="choice"/>
                    </specList></p>
                </div>
            </div>
            <div>
                <head>Metadata</head>
                <p/>
            </div>
            <div>
                <head>Facsimiles</head>
                <p/>
            </div>
            <div>
                <head>Formal definitions</head>
                <schemaSpec ident="tei" docLang="fr" prefix="tei_" start="TEI" xml:lang="en"
                    targetLang="en">
                    <moduleRef key="core"
                        include="abbr add address addrLine choice corr del author bibl biblScope cb cit date desc 
                    editor email emph expan foreign gb gloss graphic head  hi imprint index item l label 
                    lb lg list listBibl media milestone name note orig p pb postCode ptr pubPlace publisher q 
                    quote ref reg resp respStmt series sp speaker stage term title"/>
                    <moduleRef key="tei"/>
                    <moduleRef key="header"
                        include="authority availability calendar calendarDesc 
                    change correspAction correspContext correspDesc creation edition 
                    editionStmt editorialDecl encodingDesc extent
                    fileDesc funder idno keywords langUsage language licence 
                    listChange listPrefixDef normalization notesStmt prefixDef
                    profileDesc projectDesc publicationStmt punctuation quotation 
                    revisionDesc scriptNote seriesStmt sourceDesc sponsor
                    styleDefDecl teiHeader textClass titleStmt"/>
                    <!-- simplified from
                       include="abstract appInfo application authority availability biblFull calendar calendarDesc 
                    change correspAction correspContext correspDesc creation edition editionStmt editorialDecl encodingDesc extent
                    fileDesc funder idno keywords langUsage language licence listChange listPrefixDef normalization notesStmt prefixDef
                    profileDesc projectDesc publicationStmt punctuation quotation revisionDesc scriptNote seriesStmt sourceDesc sponsor
                    styleDefDecl teiHeader textClass titleStmt"/-->
                    <!-- adds : abstract calendar calendarDesc change correspAction correspContext correspDesc 
                  licence listChange listPrefixDef prefixDef punctuation scriptNote seriesStmt -->
                    <moduleRef key="textstructure"
                        include="TEI back body byline dateline div docAuthor docDate docEdition 
                    docImprint docTitle epigraph front group imprimatur text titlePage titlePart"/>
                    <moduleRef key="figures"
                        include="cell figDesc figure formula notatedMusic row table"/>
                    <moduleRef key="linking" include="ab seg"/>
                    <!-- <moduleRef key="namesdates" include="affiliation orgName roleName"/>
 -->
                    <!--  <moduleRef key="analysis" include="s"/>-->
                    <moduleRef key="transcr" include="facsimile surfaceGrp surface zone"/>
                    <elementSpec ident="div" mode="change" module="textstructure">
                        <attList>
                            <attDef ident="type" mode="change">
                                <valList mode="replace" type="semi">
                                    <valItem ident="source">
                                        <desc>material from a source</desc>
                                    </valItem>
                                    <valItem ident="note">
                                        <desc>annotations</desc>
                                    </valItem>
                                    <valItem ident="preface">
                                        <desc>prefatory comments</desc>
                                    </valItem>
                                    <valItem ident="other">
                                        <desc>autre</desc>
                                    </valItem>
                                </valList>
                            </attDef>
                        </attList>
                    </elementSpec>
                    <elementSpec xmlns:rng="http://relaxng.org/ns/structure/1.0" ident="include"
                        ns="http://www.w3.org/2001/XInclude" mode="add">
                        <desc> The W3C XInclude element</desc>
                        <classes>
                            <memberOf key="model.common"/>
                            <memberOf key="model.headerPart"/>
                        </classes>
                        <content>
                            <rng:optional>
                                <rng:ref name="fallback"/>
                            </rng:optional>
                        </content>
                        <attList>
                            <attDef ident="href">
                                <desc> pointer to the resource being included</desc>
                                <datatype>
                                    <rng:ref name="data.pointer"/>
                                </datatype>
                            </attDef>
                            <attDef ident="parse" usage="opt">
                                <defaultVal> xml</defaultVal>
                                <valList type="closed">
                                    <valItem ident="xml"/>
                                    <valItem ident="text"/>
                                </valList>
                            </attDef>
                            <attDef ident="xpointer" usage="opt">
                                <datatype>
                                    <rng:text/>
                                </datatype>
                            </attDef>
                            <attDef ident="encoding" usage="opt">
                                <datatype>
                                    <rng:text/>
                                </datatype>
                            </attDef>
                            <attDef ident="accept" usage="opt">
                                <datatype>
                                    <rng:text/>
                                </datatype>
                            </attDef>
                            <attDef ident="accept-charset" usage="opt">
                                <datatype>
                                    <rng:text/>
                                </datatype>
                            </attDef>
                            <attDef ident="accept-language" usage="opt">
                                <datatype>
                                    <rng:text/>
                                </datatype>
                            </attDef>
                        </attList>
                    </elementSpec>
                    <elementSpec xmlns:rng="http://relaxng.org/ns/structure/1.0" ident="fallback"
                        ns="http://www.w3.org/2001/XInclude" mode="add">
                        <desc> Wrapper for fallback elements if an XInclude fails</desc>
                        <content>
                            <oneOrMore xmlns="http://relaxng.org/ns/structure/1.0">
                                <choice>
                                    <text/>
                                    <ref name="macro.anyThing"/>
                                </choice>
                            </oneOrMore>
                        </content>
                    </elementSpec>
                    <classSpec ident="att.global" mode="change" type="atts" module="tei">
                        <attList>
                            <attDef ident="rendition" mode="delete"/>
                            <attDef ident="xml:base" mode="delete"/>
                            <attDef ident="pstyle" mode="add"
                                ns="http://ns.adobe.com/AdobeInDesign/4.0/">
                                <desc> Correspondance de mise en forme dans Indesign (à l'échelle du
                                    paragraphe).</desc>
                                <datatype><rng:text/></datatype>
                            </attDef>
                            <attDef ident="cstyle" mode="add"
                                ns="http://ns.adobe.com/AdobeInDesign/4.0/">
                                <desc> Correspondance de mise en forme dans Indesign (à l'échelle de
                                    la séquence de caractères).</desc>
                                <datatype><rng:text/></datatype>
                            </attDef>
                        </attList>
                    </classSpec>
                    <elementSpec ident="cell" module="figures" mode="change">
                        <attList>
                            <attDef ident="table" mode="add"
                                ns="http://ns.adobe.com/AdobeInDesign/4.0/">
                                <desc> Type d'élément de tableau (pour Indesign)</desc>
                                <datatype><rng:text/></datatype>
                            </attDef>
                            <attDef ident="crows" mode="add"
                                ns="http://ns.adobe.com/AdobeInDesign/4.0/">
                                <desc> Nombre de rangées sur lesquelles une cellule peut s'étendre
                                    (pour Indesign)</desc>
                                <datatype><rng:text/></datatype>
                            </attDef>
                            <attDef ident="ccols" mode="add"
                                ns="http://ns.adobe.com/AdobeInDesign/4.0/">
                                <desc> Nombre de colonnes sur lesquelles une cellule peut s'étendre
                                    (pour Indesign)</desc>
                                <datatype><rng:text/></datatype>
                            </attDef>
                            <attDef ident="cellstyle" mode="add"
                                ns="http://ns.adobe.com/AdobeInDesign/5.0/">
                                <desc> Style de mise en forme de la cellule (pour Indesign)</desc>
                                <datatype><rng:text/></datatype>
                            </attDef>
                        </attList>
                    </elementSpec>
                    <elementSpec ident="table" module="figures" mode="change">
                        <attList>
                            <attDef ident="table" mode="add"
                                ns="http://ns.adobe.com/AdobeInDesign/4.0/">
                                <desc> Type d'élément de tableau (pour Indesign)</desc>
                                <datatype>
                                    <rng:text/>
                                </datatype>
                            </attDef>
                            <attDef ident="tcols" mode="add"
                                ns="http://ns.adobe.com/AdobeInDesign/4.0/">
                                <desc> Nombre de colonnes du tableau (pour Indesign)</desc>
                                <datatype>
                                    <rng:text/>
                                </datatype>
                            </attDef>
                            <attDef ident="trows" mode="add"
                                ns="http://ns.adobe.com/AdobeInDesign/4.0/">
                                <desc> Nombre de rangées du tableau (pour Indesign)</desc>
                                <datatype>
                                    <rng:text/>
                                </datatype>
                            </attDef>
                            <attDef ident="tablestyle" mode="add"
                                ns="http://ns.adobe.com/AdobeInDesign/5.0/">
                                <desc> Style de mise en forme du tableau (pour Indesign)</desc>
                                <datatype>
                                    <rng:text/>
                                </datatype>
                            </attDef>
                        </attList>
                    </elementSpec>
                </schemaSpec>
            </div>
        </body>
    </text>
</TEI>
