Projects/Unicaen/RomaResults/tei-unicaen.dtd


<!--
DTD Generated 2011-03-04T18:44:48Z. 
Edition: 1.9.0. Last updated on February 21st 2011.
Edition Location: http://www.tei-c.org/Vault/P5/1.9.0/

-->

<!-- start datatypes -->

<!ENTITY % data.certainty '(high|
medium|
low|
unknown)' >

<!ENTITY % data.numeric ' CDATA' >

<!ENTITY % data.count ' CDATA' >

<!ENTITY % data.temporal.w3c ' CDATA' >

<!ENTITY % data.duration.w3c ' CDATA' >

<!ENTITY % data.truthValue ' CDATA' >

<!ENTITY % data.language ' CDATA' >

<!ENTITY % data.outputMeasurement ' CDATA' >

<!ENTITY % data.pointer ' CDATA' >

<!ENTITY % data.version ' CDATA' >

<!ENTITY % data.key ' CDATA' >

<!ENTITY % data.word ' CDATA' >

<!ENTITY % data.code ' CDATA' >

<!ENTITY % data.name ' CDATA' >

<!ENTITY % data.enumerated '%data.name;' >

<!-- end datatypes -->

<!--predeclared classes -->

<!ENTITY % model.entryPart ""> 
<!ENTITY % model.entryPart_sequence ""> 
<!ENTITY % model.entryPart_sequenceOptional ""> 
<!ENTITY % model.entryPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.entryPart_sequenceRepeatable ""> 
<!ENTITY % model.resourceLike ""> 
<!ENTITY % model.resourceLike_sequence ""> 
<!ENTITY % model.resourceLike_sequenceOptional ""> 
<!ENTITY % model.resourceLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.resourceLike_sequenceRepeatable ""> 
<!--end of predeclared classes -->
<!ENTITY % att.ascribed.attributes '
who CDATA  #IMPLIED'> 
<!ENTITY % att.ascribed.attribute.who '
who CDATA  #IMPLIED'>
<!ENTITY % att.canonical.attributes '
key %data.key;  #IMPLIED
ref CDATA  #IMPLIED'> 
<!ENTITY % att.canonical.attribute.key '
key %data.key;  #IMPLIED'>

<!ENTITY % att.canonical.attribute.ref '
ref CDATA  #IMPLIED'>
<!ENTITY % att.ranging.attributes '
atLeast %data.numeric;  #IMPLIED
atMost %data.numeric;  #IMPLIED
min %data.numeric;  #IMPLIED
max %data.numeric;  #IMPLIED'> 
<!ENTITY % att.ranging.attribute.atLeast '
atLeast %data.numeric;  #IMPLIED'>

<!ENTITY % att.ranging.attribute.atMost '
atMost %data.numeric;  #IMPLIED'>

<!ENTITY % att.ranging.attribute.min '
min %data.numeric;  #IMPLIED'>

<!ENTITY % att.ranging.attribute.max '
max %data.numeric;  #IMPLIED'>
<!ENTITY % att.dimensions.attributes ' %att.ranging.attributes;
unit %data.enumerated;  #IMPLIED
quantity %data.numeric;  #IMPLIED
extent CDATA  #IMPLIED
precision %data.certainty;  #IMPLIED
scope %data.enumerated;  #IMPLIED'> 
<!ENTITY % att.dimensions.attribute.unit '
unit %data.enumerated;  #IMPLIED'>

<!ENTITY % att.dimensions.attribute.quantity '
quantity %data.numeric;  #IMPLIED'>

<!ENTITY % att.dimensions.attribute.extent '
extent CDATA  #IMPLIED'>

<!ENTITY % att.dimensions.attribute.precision '
precision %data.certainty;  #IMPLIED'>

<!ENTITY % att.dimensions.attribute.scope '
scope %data.enumerated;  #IMPLIED'>
<!ENTITY % att.breaking.attributes '
break %data.enumerated;  #IMPLIED'> 
<!ENTITY % att.breaking.attribute.break '
break %data.enumerated;  #IMPLIED'>
<!ENTITY % att.datable.w3c.attributes '
period %data.pointer;  #IMPLIED
when %data.temporal.w3c;  #IMPLIED
notBefore %data.temporal.w3c;  #IMPLIED
notAfter %data.temporal.w3c;  #IMPLIED
from %data.temporal.w3c;  #IMPLIED
to %data.temporal.w3c;  #IMPLIED'> 
<!ENTITY % att.datable.w3c.attribute.period '
period %data.pointer;  #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.when '
when %data.temporal.w3c;  #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.notBefore '
notBefore %data.temporal.w3c;  #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.notAfter '
notAfter %data.temporal.w3c;  #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.from '
from %data.temporal.w3c;  #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.to '
to %data.temporal.w3c;  #IMPLIED'>
<!ENTITY % att.datable.attributes ' %att.datable.w3c.attributes;'> <!ENTITY % att.declarable.attributes '
default (true|false) "false" '> 
<!ENTITY % att.declarable.attribute.default '
default (true|false) "false" '>
<!ENTITY % att.declaring.attributes '
decls CDATA  #IMPLIED'> 
<!ENTITY % att.declaring.attribute.decls '
decls CDATA  #IMPLIED'>
<!ENTITY % att.divLike.attributes '
org (composite|uniform) "uniform" 
sample (initial|medial|final|unknown|complete) "complete" 
part (Y|N|I|M|F) "N" '> 
<!ENTITY % att.divLike.attribute.org '
org (composite|uniform) "uniform" '>

<!ENTITY % att.divLike.attribute.sample '
sample (initial|medial|final|unknown|complete) "complete" '>

<!ENTITY % att.divLike.attribute.part '
part (Y|N|I|M|F) "N" '>
<!ENTITY % att.docStatus.attributes '
status %data.enumerated;  "draft" '> 
<!ENTITY % att.docStatus.attribute.status '
status %data.enumerated;  "draft" '>
<!ENTITY % att.responsibility.attributes '
cert %data.certainty;  #IMPLIED
resp CDATA  #IMPLIED'> 
<!ENTITY % att.responsibility.attribute.cert '
cert %data.certainty;  #IMPLIED'>

<!ENTITY % att.responsibility.attribute.resp '
resp CDATA  #IMPLIED'>
<!ENTITY % att.editLike.attributes ' %att.dimensions.attributes; %att.responsibility.attributes;
evidence NMTOKENS  #IMPLIED
source CDATA  #IMPLIED'> 
<!ENTITY % att.editLike.attribute.evidence '
evidence NMTOKENS  #IMPLIED'>

<!ENTITY % att.editLike.attribute.source '
source CDATA  #IMPLIED'>
<!ENTITY % att.global.attributes '
pstyle CDATA  #IMPLIED
cstyle CDATA  #IMPLIED
xml:id ID #IMPLIED
n CDATA  #IMPLIED
xml:lang %data.language;  #IMPLIED
rend CDATA  #IMPLIED
xml:space (default|preserve) #IMPLIED'> 
<!ENTITY % att.global.attribute.pstyle '
pstyle CDATA  #IMPLIED'>

<!ENTITY % att.global.attribute.cstyle '
cstyle CDATA  #IMPLIED'>

<!ENTITY % att.global.attribute.xmlid '
xml:id ID #IMPLIED'>

<!ENTITY % att.global.attribute.n '
n CDATA  #IMPLIED'>

<!ENTITY % att.global.attribute.xmllang '
xml:lang %data.language;  #IMPLIED'>

<!ENTITY % att.global.attribute.rend '
rend CDATA  #IMPLIED'>

<!ENTITY % att.global.attribute.xmlspace '
xml:space (default|preserve) #IMPLIED'>
<!ENTITY % att.handFeatures.attributes '
scribe %data.name;  #IMPLIED
scribeRef CDATA  #IMPLIED
script NMTOKENS  #IMPLIED
scriptRef CDATA  #IMPLIED
medium %data.enumerated;  #IMPLIED
scope (sole|major|minor) #IMPLIED'> 
<!ENTITY % att.handFeatures.attribute.scribe '
scribe %data.name;  #IMPLIED'>

<!ENTITY % att.handFeatures.attribute.scribeRef '
scribeRef CDATA  #IMPLIED'>

<!ENTITY % att.handFeatures.attribute.script '
script NMTOKENS  #IMPLIED'>

<!ENTITY % att.handFeatures.attribute.scriptRef '
scriptRef CDATA  #IMPLIED'>

<!ENTITY % att.handFeatures.attribute.medium '
medium %data.enumerated;  #IMPLIED'>

<!ENTITY % att.handFeatures.attribute.scope '
scope (sole|major|minor) #IMPLIED'>
<!ENTITY % att.internetMedia.attributes '
mimeType %data.word;  #IMPLIED'> 
<!ENTITY % att.internetMedia.attribute.mimeType '
mimeType %data.word;  #IMPLIED'>
<!ENTITY % att.naming.attributes ' %att.canonical.attributes;
role %data.enumerated;  #IMPLIED
nymRef CDATA  #IMPLIED'> 
<!ENTITY % att.naming.attribute.role '
role %data.enumerated;  #IMPLIED'>

<!ENTITY % att.naming.attribute.nymRef '
nymRef CDATA  #IMPLIED'>
<!ENTITY % att.placement.attributes '
place NMTOKENS  #IMPLIED'> 
<!ENTITY % att.placement.attribute.place '
place NMTOKENS  #IMPLIED'>
<!ENTITY % att.typed.attributes '
type %data.enumerated;  #IMPLIED
subtype %data.enumerated;  #IMPLIED'> 
<!ENTITY % att.typed.attribute.type '
type %data.enumerated;  #IMPLIED'>

<!ENTITY % att.typed.attribute.subtype '
subtype %data.enumerated;  #IMPLIED'>
<!ENTITY % att.pointing.attributes '
target CDATA  #IMPLIED
evaluate (all|one|none) #IMPLIED'> 
<!ENTITY % att.pointing.attribute.target '
target CDATA  #IMPLIED'>

<!ENTITY % att.pointing.attribute.evaluate '
evaluate (all|one|none) #IMPLIED'>
<!ENTITY % att.segLike.attributes '
function %data.enumerated;  #IMPLIED
part (Y|N|I|M|F) "N" '> 
<!ENTITY % att.segLike.attribute.function '
function %data.enumerated;  #IMPLIED'>

<!ENTITY % att.segLike.attribute.part '
part (Y|N|I|M|F) "N" '>
<!ENTITY % att.sourced.attributes '
ed CDATA  #IMPLIED'> 
<!ENTITY % att.sourced.attribute.ed '
ed CDATA  #IMPLIED'>
<!ENTITY % att.spanning.attributes '
spanTo %data.pointer;  #IMPLIED'> 
<!ENTITY % att.spanning.attribute.spanTo '
spanTo %data.pointer;  #IMPLIED'>
<!ENTITY % att.tableDecoration.attributes '
role %data.enumerated;  "data" 
rows %data.count;  "1" 
cols %data.count;  "1" '> 
<!ENTITY % att.tableDecoration.attribute.role '
role %data.enumerated;  "data" '>

<!ENTITY % att.tableDecoration.attribute.rows '
rows %data.count;  "1" '>

<!ENTITY % att.tableDecoration.attribute.cols '
cols %data.count;  "1" '>
<!ENTITY % att.translatable.attributes '
version %data.word;  #IMPLIED'> 
<!ENTITY % att.translatable.attribute.version '
version %data.word;  #IMPLIED'>

<!ENTITY % model.nameLike.agent "name"> 
<!ENTITY % model.nameLike.agent_sequence "name"> 
<!ENTITY % model.nameLike.agent_sequenceOptional "name?"> 
<!ENTITY % model.nameLike.agent_sequenceOptionalRepeatable "name*"> 
<!ENTITY % model.nameLike.agent_sequenceRepeatable "name+"> 
<!ENTITY % model.segLike "seg"> 
<!ENTITY % model.segLike_sequence "seg"> 
<!ENTITY % model.segLike_sequenceOptional "seg?"> 
<!ENTITY % model.segLike_sequenceOptionalRepeatable "seg*"> 
<!ENTITY % model.segLike_sequenceRepeatable "seg+"> 
<!ENTITY % model.hiLike "hi"> 
<!ENTITY % model.hiLike_sequence "hi"> 
<!ENTITY % model.hiLike_sequenceOptional "hi?"> 
<!ENTITY % model.hiLike_sequenceOptionalRepeatable "hi*"> 
<!ENTITY % model.hiLike_sequenceRepeatable "hi+"> 
<!ENTITY % model.emphLike "emph |
 foreign |
 gloss |
 term |
 title"> 
<!ENTITY % model.emphLike_sequence "emph, foreign, gloss, term, title"> 
<!ENTITY % model.emphLike_sequenceOptional "emph?, foreign?, gloss?, term?, title?"> 
<!ENTITY % model.emphLike_sequenceOptionalRepeatable "emph*, foreign*, gloss*, term*, title*"> 
<!ENTITY % model.emphLike_sequenceRepeatable "emph+, foreign+, gloss+, term+, title+"> 
<!ENTITY % model.highlighted "%model.hiLike; |
 %model.emphLike;"> 
<!ENTITY % model.highlighted_sequence "%model.hiLike;, %model.emphLike;"> 
<!ENTITY % model.highlighted_sequenceOptional "%model.hiLike;?, %model.emphLike;?"> 
<!ENTITY % model.highlighted_sequenceOptionalRepeatable "%model.hiLike;*, %model.emphLike;*"> 
<!ENTITY % model.highlighted_sequenceRepeatable "%model.hiLike;+, %model.emphLike;+"> 
<!ENTITY % model.dateLike "date"> 
<!ENTITY % model.dateLike_sequence "date"> 
<!ENTITY % model.dateLike_sequenceOptional "date?"> 
<!ENTITY % model.dateLike_sequenceOptionalRepeatable "date*"> 
<!ENTITY % model.dateLike_sequenceRepeatable "date+"> 
<!ENTITY % model.measureLike "num"> 
<!ENTITY % model.measureLike_sequence "num"> 
<!ENTITY % model.measureLike_sequenceOptional "num?"> 
<!ENTITY % model.measureLike_sequenceOptionalRepeatable "num*"> 
<!ENTITY % model.measureLike_sequenceRepeatable "num+"> 
<!ENTITY % model.egLike ""> 
<!ENTITY % model.egLike_sequence ""> 
<!ENTITY % model.egLike_sequenceOptional ""> 
<!ENTITY % model.egLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.egLike_sequenceRepeatable ""> 
<!ENTITY % model.graphicLike "graphic |
 formula"> 
<!ENTITY % model.graphicLike_sequence "graphic, formula"> 
<!ENTITY % model.graphicLike_sequenceOptional "graphic?, formula?"> 
<!ENTITY % model.graphicLike_sequenceOptionalRepeatable "graphic*, formula*"> 
<!ENTITY % model.graphicLike_sequenceRepeatable "graphic+, formula+"> 
<!ENTITY % model.pPart.editorial "abbr |
 expan"> 
<!ENTITY % model.pPart.editorial_sequence "abbr, expan"> 
<!ENTITY % model.pPart.editorial_sequenceOptional "abbr?, expan?"> 
<!ENTITY % model.pPart.editorial_sequenceOptionalRepeatable "abbr*, expan*"> 
<!ENTITY % model.pPart.editorial_sequenceRepeatable "abbr+, expan+"> 
<!ENTITY % model.pPart.edit "%model.pPart.editorial;"> 
<!ENTITY % model.pPart.edit_sequence "%model.pPart.editorial;"> 
<!ENTITY % model.pPart.edit_sequenceOptional "%model.pPart.editorial;?"> 
<!ENTITY % model.pPart.edit_sequenceOptionalRepeatable "%model.pPart.editorial;*"> 
<!ENTITY % model.pPart.edit_sequenceRepeatable "%model.pPart.editorial;+"> 
<!ENTITY % model.ptrLike "ptr |
 ref"> 
<!ENTITY % model.ptrLike_sequence "ptr, ref"> 
<!ENTITY % model.ptrLike_sequenceOptional "ptr?, ref?"> 
<!ENTITY % model.ptrLike_sequenceOptionalRepeatable "ptr*, ref*"> 
<!ENTITY % model.ptrLike_sequenceRepeatable "ptr+, ref+"> 
<!ENTITY % model.global.meta "index"> 
<!ENTITY % model.global.meta_sequence "index"> 
<!ENTITY % model.global.meta_sequenceOptional "index?"> 
<!ENTITY % model.global.meta_sequenceOptionalRepeatable "index*"> 
<!ENTITY % model.global.meta_sequenceRepeatable "index+"> 
<!ENTITY % model.milestoneLike "cb |
 lb |
 milestone |
 pb"> 
<!ENTITY % model.milestoneLike_sequence "cb, lb, milestone, pb"> 
<!ENTITY % model.milestoneLike_sequenceOptional "cb?, lb?, milestone?, pb?"> 
<!ENTITY % model.milestoneLike_sequenceOptionalRepeatable "cb*, lb*, milestone*, pb*"> 
<!ENTITY % model.milestoneLike_sequenceRepeatable "cb+, lb+, milestone+, pb+"> 
<!ENTITY % model.gLike ""> 
<!ENTITY % model.gLike_sequence ""> 
<!ENTITY % model.gLike_sequenceOptional ""> 
<!ENTITY % model.gLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.gLike_sequenceRepeatable ""> 
<!ENTITY % model.biblLike "bibl |
 biblStruct |
 biblFull"> 
<!ENTITY % model.biblLike_sequence "bibl, biblStruct, biblFull"> 
<!ENTITY % model.biblLike_sequenceOptional "bibl?, biblStruct?, biblFull?"> 
<!ENTITY % model.biblLike_sequenceOptionalRepeatable "bibl*, biblStruct*, biblFull*"> 
<!ENTITY % model.biblLike_sequenceRepeatable "bibl+, biblStruct+, biblFull+"> 
<!ENTITY % model.headLike "head"> 
<!ENTITY % model.headLike_sequence "head"> 
<!ENTITY % model.headLike_sequenceOptional "head?"> 
<!ENTITY % model.headLike_sequenceOptionalRepeatable "head*"> 
<!ENTITY % model.headLike_sequenceRepeatable "head+"> 
<!ENTITY % model.labelLike "desc |
 label"> 
<!ENTITY % model.labelLike_sequence "desc, label"> 
<!ENTITY % model.labelLike_sequenceOptional "desc?, label?"> 
<!ENTITY % model.labelLike_sequenceOptionalRepeatable "desc*, label*"> 
<!ENTITY % model.labelLike_sequenceRepeatable "desc+, label+"> 
<!ENTITY % model.listLike "list |
 listBibl"> 
<!ENTITY % model.listLike_sequence "list, listBibl"> 
<!ENTITY % model.listLike_sequenceOptional "list?, listBibl?"> 
<!ENTITY % model.listLike_sequenceOptionalRepeatable "list*, listBibl*"> 
<!ENTITY % model.listLike_sequenceRepeatable "list+, listBibl+"> 
<!ENTITY % model.noteLike "note"> 
<!ENTITY % model.noteLike_sequence "note"> 
<!ENTITY % model.noteLike_sequenceOptional "note?"> 
<!ENTITY % model.noteLike_sequenceOptionalRepeatable "note*"> 
<!ENTITY % model.noteLike_sequenceRepeatable "note+"> 
<!ENTITY % model.lLike "l"> 
<!ENTITY % model.lLike_sequence "l"> 
<!ENTITY % model.lLike_sequenceOptional "l?"> 
<!ENTITY % model.lLike_sequenceOptionalRepeatable "l*"> 
<!ENTITY % model.lLike_sequenceRepeatable "l+"> 
<!ENTITY % model.pLike "p"> 
<!ENTITY % model.pLike_sequence "p"> 
<!ENTITY % model.pLike_sequenceOptional "p?"> 
<!ENTITY % model.pLike_sequenceOptionalRepeatable "p*"> 
<!ENTITY % model.pLike_sequenceRepeatable "p+"> 
<!ENTITY % model.stageLike "stage"> 
<!ENTITY % model.stageLike_sequence "stage"> 
<!ENTITY % model.stageLike_sequenceOptional "stage?"> 
<!ENTITY % model.stageLike_sequenceOptionalRepeatable "stage*"> 
<!ENTITY % model.stageLike_sequenceRepeatable "stage+"> 
<!ENTITY % model.entryPart ""> 
<!ENTITY % model.entryPart_sequence ""> 
<!ENTITY % model.entryPart_sequenceOptional ""> 
<!ENTITY % model.entryPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.entryPart_sequenceRepeatable ""> 
<!ENTITY % model.entryPart.top "cit"> 
<!ENTITY % model.entryPart.top_sequence "cit"> 
<!ENTITY % model.entryPart.top_sequenceOptional "cit?"> 
<!ENTITY % model.entryPart.top_sequenceOptionalRepeatable "cit*"> 
<!ENTITY % model.entryPart.top_sequenceRepeatable "cit+"> 
<!ENTITY % model.divPart "%model.lLike; |
 %model.pLike; |
 lg |
 sp |
 floatingText"> 
<!ENTITY % model.divPart_sequence "%model.lLike;, %model.pLike;, lg, sp, floatingText"> 
<!ENTITY % model.divPart_sequenceOptional "%model.lLike;?, %model.pLike;?, lg?, sp?, floatingText?"> 
<!ENTITY % model.divPart_sequenceOptionalRepeatable "%model.lLike;*, %model.pLike;*, lg*, sp*, floatingText*"> 
<!ENTITY % model.divPart_sequenceRepeatable "%model.lLike;+, %model.pLike;+, lg+, sp+, floatingText+"> 
<!ENTITY % model.personPart "bibl"> 
<!ENTITY % model.personPart_sequence "bibl"> 
<!ENTITY % model.personPart_sequenceOptional "bibl?"> 
<!ENTITY % model.personPart_sequenceOptionalRepeatable "bibl*"> 
<!ENTITY % model.personPart_sequenceRepeatable "bibl+"> 
<!ENTITY % model.publicationStmtPart "address |
 date |
 pubPlace |
 publisher |
 authority |
 availability |
 idno"> 
<!ENTITY % model.publicationStmtPart_sequence "address, date, pubPlace, publisher, authority, availability, idno"> 
<!ENTITY % model.publicationStmtPart_sequenceOptional "address?, date?, pubPlace?, publisher?, authority?, availability?, idno?"> 
<!ENTITY % model.publicationStmtPart_sequenceOptionalRepeatable "address*, date*, pubPlace*, publisher*, authority*, availability*, idno*"> 
<!ENTITY % model.publicationStmtPart_sequenceRepeatable "address+, date+, pubPlace+, publisher+, authority+, availability+, idno+"> 
<!ENTITY % model.glossLike "desc |
 gloss"> 
<!ENTITY % model.glossLike_sequence "desc, gloss"> 
<!ENTITY % model.glossLike_sequenceOptional "desc?, gloss?"> 
<!ENTITY % model.glossLike_sequenceOptionalRepeatable "desc*, gloss*"> 
<!ENTITY % model.glossLike_sequenceRepeatable "desc+, gloss+"> 
<!ENTITY % model.quoteLike "cit |
 quote"> 
<!ENTITY % model.quoteLike_sequence "cit, quote"> 
<!ENTITY % model.quoteLike_sequenceOptional "cit?, quote?"> 
<!ENTITY % model.quoteLike_sequenceOptionalRepeatable "cit*, quote*"> 
<!ENTITY % model.quoteLike_sequenceRepeatable "cit+, quote+"> 
<!ENTITY % model.qLike "%model.quoteLike; |
 q"> 
<!ENTITY % model.qLike_sequence "%model.quoteLike;, q"> 
<!ENTITY % model.qLike_sequenceOptional "%model.quoteLike;?, q?"> 
<!ENTITY % model.qLike_sequenceOptionalRepeatable "%model.quoteLike;*, q*"> 
<!ENTITY % model.qLike_sequenceRepeatable "%model.quoteLike;+, q+"> 
<!ENTITY % model.respLike "author |
 editor |
 respStmt |
 funder |
 sponsor"> 
<!ENTITY % model.respLike_sequence "author, editor, respStmt, funder, sponsor"> 
<!ENTITY % model.respLike_sequenceOptional "author?, editor?, respStmt?, funder?, sponsor?"> 
<!ENTITY % model.respLike_sequenceOptionalRepeatable "author*, editor*, respStmt*, funder*, sponsor*"> 
<!ENTITY % model.respLike_sequenceRepeatable "author+, editor+, respStmt+, funder+, sponsor+"> 
<!ENTITY % model.divWrapper "byline |
 dateline |
 docAuthor |
 docDate |
 epigraph"> 
<!ENTITY % model.divWrapper_sequence "byline, dateline, docAuthor, docDate, epigraph"> 
<!ENTITY % model.divWrapper_sequenceOptional "byline?, dateline?, docAuthor?, docDate?, epigraph?"> 
<!ENTITY % model.divWrapper_sequenceOptionalRepeatable "byline*, dateline*, docAuthor*, docDate*, epigraph*"> 
<!ENTITY % model.divWrapper_sequenceRepeatable "byline+, dateline+, docAuthor+, docDate+, epigraph+"> 
<!ENTITY % model.divTopPart "%model.headLike;"> 
<!ENTITY % model.divTopPart_sequence "%model.headLike;"> 
<!ENTITY % model.divTopPart_sequenceOptional "%model.headLike;?"> 
<!ENTITY % model.divTopPart_sequenceOptionalRepeatable "%model.headLike;*"> 
<!ENTITY % model.divTopPart_sequenceRepeatable "%model.headLike;+"> 
<!ENTITY % model.divTop "%model.divWrapper; |
 %model.divTopPart;"> 
<!ENTITY % model.divTop_sequence "%model.divWrapper;, %model.divTopPart;"> 
<!ENTITY % model.divTop_sequenceOptional "%model.divWrapper;?, %model.divTopPart;?"> 
<!ENTITY % model.divTop_sequenceOptionalRepeatable "%model.divWrapper;*, %model.divTopPart;*"> 
<!ENTITY % model.divTop_sequenceRepeatable "%model.divWrapper;+, %model.divTopPart;+"> 
<!ENTITY % model.pLike.front "head |
 byline |
 docAuthor |
 docDate |
 docEdition |
 docImprint |
 docTitle |
 epigraph |
 titlePart"> 
<!ENTITY % model.pLike.front_sequence "head, byline, docAuthor, docDate, docEdition, docImprint, docTitle, epigraph, titlePart"> 
<!ENTITY % model.pLike.front_sequenceOptional "head?, byline?, docAuthor?, docDate?, docEdition?, docImprint?, docTitle?, epigraph?, titlePart?"> 
<!ENTITY % model.pLike.front_sequenceOptionalRepeatable "head*, byline*, docAuthor*, docDate*, docEdition*, docImprint*, docTitle*, epigraph*, titlePart*"> 
<!ENTITY % model.pLike.front_sequenceRepeatable "head+, byline+, docAuthor+, docDate+, docEdition+, docImprint+, docTitle+, epigraph+, titlePart+"> 
<!ENTITY % model.divBottomPart ""> 
<!ENTITY % model.divBottomPart_sequence ""> 
<!ENTITY % model.divBottomPart_sequenceOptional ""> 
<!ENTITY % model.divBottomPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divBottomPart_sequenceRepeatable ""> 
<!ENTITY % model.divBottom "%model.divWrapper;"> 
<!ENTITY % model.divBottom_sequence "%model.divWrapper;"> 
<!ENTITY % model.divBottom_sequenceOptional "%model.divWrapper;?"> 
<!ENTITY % model.divBottom_sequenceOptionalRepeatable "%model.divWrapper;*"> 
<!ENTITY % model.divBottom_sequenceRepeatable "%model.divWrapper;+"> 
<!ENTITY % model.titlepagePart "graphic |
 byline |
 docAuthor |
 docDate |
 docEdition |
 docImprint |
 docTitle |
 epigraph |
 imprimatur |
 titlePart"> 
<!ENTITY % model.titlepagePart_sequence "graphic, byline, docAuthor, docDate, docEdition, docImprint, docTitle, epigraph, imprimatur, titlePart"> 
<!ENTITY % model.titlepagePart_sequenceOptional "graphic?, byline?, docAuthor?, docDate?, docEdition?, docImprint?, docTitle?, epigraph?, imprimatur?, titlePart?"> 
<!ENTITY % model.titlepagePart_sequenceOptionalRepeatable "graphic*, byline*, docAuthor*, docDate*, docEdition*, docImprint*, docTitle*, epigraph*, imprimatur*, titlePart*"> 
<!ENTITY % model.titlepagePart_sequenceRepeatable "graphic+, byline+, docAuthor+, docDate+, docEdition+, docImprint+, docTitle+, epigraph+, imprimatur+, titlePart+"> 
<!ENTITY % model.msQuoteLike "title"> 
<!ENTITY % model.msQuoteLike_sequence "title"> 
<!ENTITY % model.msQuoteLike_sequenceOptional "title?"> 
<!ENTITY % model.msQuoteLike_sequenceOptionalRepeatable "title*"> 
<!ENTITY % model.msQuoteLike_sequenceRepeatable "title+"> 
<!ENTITY % model.msItemPart "%model.quoteLike; |
 %model.respLike; |
 %model.msQuoteLike; |
 bibl |
 listBibl"> 
<!ENTITY % model.msItemPart_sequence "%model.quoteLike;, %model.respLike;, %model.msQuoteLike;, bibl, listBibl"> 
<!ENTITY % model.msItemPart_sequenceOptional "%model.quoteLike;?, %model.respLike;?, %model.msQuoteLike;?, bibl?, listBibl?"> 
<!ENTITY % model.msItemPart_sequenceOptionalRepeatable "%model.quoteLike;*, %model.respLike;*, %model.msQuoteLike;*, bibl*, listBibl*"> 
<!ENTITY % model.msItemPart_sequenceRepeatable "%model.quoteLike;+, %model.respLike;+, %model.msQuoteLike;+, bibl+, listBibl+"> 
<!ENTITY % model.choicePart "abbr |
 expan |
 seg"> 
<!ENTITY % model.choicePart_sequence "abbr, expan, seg"> 
<!ENTITY % model.choicePart_sequenceOptional "abbr?, expan?, seg?"> 
<!ENTITY % model.choicePart_sequenceOptionalRepeatable "abbr*, expan*, seg*"> 
<!ENTITY % model.choicePart_sequenceRepeatable "abbr+, expan+, seg+"> 
<!ENTITY % model.imprintPart "biblScope |
 pubPlace |
 publisher"> 
<!ENTITY % model.imprintPart_sequence "biblScope, pubPlace, publisher"> 
<!ENTITY % model.imprintPart_sequenceOptional "biblScope?, pubPlace?, publisher?"> 
<!ENTITY % model.imprintPart_sequenceOptionalRepeatable "biblScope*, pubPlace*, publisher*"> 
<!ENTITY % model.imprintPart_sequenceRepeatable "biblScope+, pubPlace+, publisher+"> 
<!ENTITY % model.addressLike "address |
 email"> 
<!ENTITY % model.addressLike_sequence "address, email"> 
<!ENTITY % model.addressLike_sequenceOptional "address?, email?"> 
<!ENTITY % model.addressLike_sequenceOptionalRepeatable "address*, email*"> 
<!ENTITY % model.addressLike_sequenceRepeatable "address+, email+"> 
<!ENTITY % model.nameLike "%model.nameLike.agent; |
 idno"> 
<!ENTITY % model.nameLike_sequence "%model.nameLike.agent;, idno"> 
<!ENTITY % model.nameLike_sequenceOptional "%model.nameLike.agent;?, idno?"> 
<!ENTITY % model.nameLike_sequenceOptionalRepeatable "%model.nameLike.agent;*, idno*"> 
<!ENTITY % model.nameLike_sequenceRepeatable "%model.nameLike.agent;+, idno+"> 
<!ENTITY % model.global "%model.global.meta; |
 %model.milestoneLike; |
 %model.noteLike; |
 figure"> 
<!ENTITY % model.global_sequence "%model.global.meta;, %model.milestoneLike;, %model.noteLike;, figure"> 
<!ENTITY % model.global_sequenceOptional "%model.global.meta;?, %model.milestoneLike;?, %model.noteLike;?, figure?"> 
<!ENTITY % model.global_sequenceOptionalRepeatable "%model.global.meta;*, %model.milestoneLike;*, %model.noteLike;*, figure*"> 
<!ENTITY % model.global_sequenceRepeatable "%model.global.meta;+, %model.milestoneLike;+, %model.noteLike;+, figure+"> 
<!ENTITY % model.biblPart "%model.respLike; |
 %model.imprintPart; |
 series |
 edition |
 extent"> 
<!ENTITY % model.biblPart_sequence "%model.respLike;, %model.imprintPart;, series, edition, extent"> 
<!ENTITY % model.biblPart_sequenceOptional "%model.respLike;?, %model.imprintPart;?, series?, edition?, extent?"> 
<!ENTITY % model.biblPart_sequenceOptionalRepeatable "%model.respLike;*, %model.imprintPart;*, series*, edition*, extent*"> 
<!ENTITY % model.biblPart_sequenceRepeatable "%model.respLike;+, %model.imprintPart;+, series+, edition+, extent+"> 
<!ENTITY % model.frontPart "titlePage"> 
<!ENTITY % model.frontPart_sequence "titlePage"> 
<!ENTITY % model.frontPart_sequenceOptional "titlePage?"> 
<!ENTITY % model.frontPart_sequenceOptionalRepeatable "titlePage*"> 
<!ENTITY % model.frontPart_sequenceRepeatable "titlePage+"> 
<!ENTITY % model.addrPart "%model.nameLike; |
 postBox |
 postCode |
 street"> 
<!ENTITY % model.addrPart_sequence "%model.nameLike;, postBox, postCode, street"> 
<!ENTITY % model.addrPart_sequenceOptional "%model.nameLike;?, postBox?, postCode?, street?"> 
<!ENTITY % model.addrPart_sequenceOptionalRepeatable "%model.nameLike;*, postBox*, postCode*, street*"> 
<!ENTITY % model.addrPart_sequenceRepeatable "%model.nameLike;+, postBox+, postCode+, street+"> 
<!ENTITY % model.pPart.data "%model.dateLike; |
 %model.measureLike; |
 %model.addressLike; |
 %model.nameLike;"> 
<!ENTITY % model.pPart.data_sequence "%model.dateLike;, %model.measureLike;, %model.addressLike;, %model.nameLike;"> 
<!ENTITY % model.pPart.data_sequenceOptional "%model.dateLike;?, %model.measureLike;?, %model.addressLike;?, %model.nameLike;?"> 
<!ENTITY % model.pPart.data_sequenceOptionalRepeatable "%model.dateLike;*, %model.measureLike;*, %model.addressLike;*, %model.nameLike;*"> 
<!ENTITY % model.pPart.data_sequenceRepeatable "%model.dateLike;+, %model.measureLike;+, %model.addressLike;+, %model.nameLike;+"> 
<!ENTITY % model.inter "%model.biblLike; |
 %model.labelLike; |
 %model.listLike; |
 %model.stageLike; |
 %model.qLike; |
 table"> 
<!ENTITY % model.inter_sequence "%model.biblLike;, %model.labelLike;, %model.listLike;, %model.stageLike;, %model.qLike;, table"> 
<!ENTITY % model.inter_sequenceOptional "%model.biblLike;?, %model.labelLike;?, %model.listLike;?, %model.stageLike;?, %model.qLike;?, table?"> 
<!ENTITY % model.inter_sequenceOptionalRepeatable "%model.biblLike;*, %model.labelLike;*, %model.listLike;*, %model.stageLike;*, %model.qLike;*, table*"> 
<!ENTITY % model.inter_sequenceRepeatable "%model.biblLike;+, %model.labelLike;+, %model.listLike;+, %model.stageLike;+, %model.qLike;+, table+"> 
<!ENTITY % model.common "%model.divPart; |
 %model.inter; |
 include"> 
<!ENTITY % model.common_sequence "%model.divPart;, %model.inter;, include"> 
<!ENTITY % model.common_sequenceOptional "%model.divPart;?, %model.inter;?, include?"> 
<!ENTITY % model.common_sequenceOptionalRepeatable "%model.divPart;*, %model.inter;*, include*"> 
<!ENTITY % model.common_sequenceRepeatable "%model.divPart;+, %model.inter;+, include+"> 
<!ENTITY % model.phrase "%model.segLike; |
 %model.highlighted; |
 %model.graphicLike; |
 %model.pPart.edit; |
 %model.ptrLike; |
 %model.pPart.data;"> 
<!ENTITY % model.phrase_sequence "%model.segLike;, %model.highlighted;, %model.graphicLike;, %model.pPart.edit;, %model.ptrLike;, %model.pPart.data;"> 
<!ENTITY % model.phrase_sequenceOptional "%model.segLike;?, %model.highlighted;?, %model.graphicLike;?, %model.pPart.edit;?, %model.ptrLike;?, %model.pPart.data;?"> 
<!ENTITY % model.phrase_sequenceOptionalRepeatable "%model.segLike;*, %model.highlighted;*, %model.graphicLike;*, %model.pPart.edit;*, %model.ptrLike;*, %model.pPart.data;*"> 
<!ENTITY % model.phrase_sequenceRepeatable "%model.segLike;+, %model.highlighted;+, %model.graphicLike;+, %model.pPart.edit;+, %model.ptrLike;+, %model.pPart.data;+"> 
<!ENTITY % model.limitedPhrase "%model.emphLike; |
 %model.pPart.editorial; |
 %model.ptrLike; |
 %model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequence "%model.emphLike;, %model.pPart.editorial;, %model.ptrLike;, %model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequenceOptional "%model.emphLike;?, %model.pPart.editorial;?, %model.ptrLike;?, %model.pPart.data;?"> 
<!ENTITY % model.limitedPhrase_sequenceOptionalRepeatable "%model.emphLike;*, %model.pPart.editorial;*, %model.ptrLike;*, %model.pPart.data;*"> 
<!ENTITY % model.limitedPhrase_sequenceRepeatable "%model.emphLike;+, %model.pPart.editorial;+, %model.ptrLike;+, %model.pPart.data;+"> 
<!ENTITY % model.divLike "div"> 
<!ENTITY % model.divLike_sequence "div"> 
<!ENTITY % model.divLike_sequenceOptional "div?"> 
<!ENTITY % model.divLike_sequenceOptionalRepeatable "div*"> 
<!ENTITY % model.divLike_sequenceRepeatable "div+"> 
<!ENTITY % model.divGenLike ""> 
<!ENTITY % model.divGenLike_sequence ""> 
<!ENTITY % model.divGenLike_sequenceOptional ""> 
<!ENTITY % model.divGenLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divGenLike_sequenceRepeatable ""> 
<!ENTITY % model.div1Like ""> 
<!ENTITY % model.div1Like_sequence ""> 
<!ENTITY % model.div1Like_sequenceOptional ""> 
<!ENTITY % model.div1Like_sequenceOptionalRepeatable ""> 
<!ENTITY % model.div1Like_sequenceRepeatable ""> 
<!ENTITY % model.applicationLike "application"> 
<!ENTITY % model.applicationLike_sequence "application"> 
<!ENTITY % model.applicationLike_sequenceOptional "application?"> 
<!ENTITY % model.applicationLike_sequenceOptionalRepeatable "application*"> 
<!ENTITY % model.applicationLike_sequenceRepeatable "application+"> 
<!ENTITY % model.teiHeaderPart "encodingDesc |
 profileDesc"> 
<!ENTITY % model.teiHeaderPart_sequence "encodingDesc, profileDesc"> 
<!ENTITY % model.teiHeaderPart_sequenceOptional "encodingDesc?, profileDesc?"> 
<!ENTITY % model.teiHeaderPart_sequenceOptionalRepeatable "encodingDesc*, profileDesc*"> 
<!ENTITY % model.teiHeaderPart_sequenceRepeatable "encodingDesc+, profileDesc+"> 
<!ENTITY % model.sourceDescPart ""> 
<!ENTITY % model.sourceDescPart_sequence ""> 
<!ENTITY % model.sourceDescPart_sequenceOptional ""> 
<!ENTITY % model.sourceDescPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.sourceDescPart_sequenceRepeatable ""> 
<!ENTITY % model.encodingDescPart "appInfo |
 editorialDecl |
 projectDesc"> 
<!ENTITY % model.encodingDescPart_sequence "appInfo, editorialDecl, projectDesc"> 
<!ENTITY % model.encodingDescPart_sequenceOptional "appInfo?, editorialDecl?, projectDesc?"> 
<!ENTITY % model.encodingDescPart_sequenceOptionalRepeatable "appInfo*, editorialDecl*, projectDesc*"> 
<!ENTITY % model.encodingDescPart_sequenceRepeatable "appInfo+, editorialDecl+, projectDesc+"> 
<!ENTITY % model.editorialDeclPart "normalization |
 quotation"> 
<!ENTITY % model.editorialDeclPart_sequence "normalization, quotation"> 
<!ENTITY % model.editorialDeclPart_sequenceOptional "normalization?, quotation?"> 
<!ENTITY % model.editorialDeclPart_sequenceOptionalRepeatable "normalization*, quotation*"> 
<!ENTITY % model.editorialDeclPart_sequenceRepeatable "normalization+, quotation+"> 
<!ENTITY % model.profileDescPart "creation |
 langUsage |
 textClass"> 
<!ENTITY % model.profileDescPart_sequence "creation, langUsage, textClass"> 
<!ENTITY % model.profileDescPart_sequenceOptional "creation?, langUsage?, textClass?"> 
<!ENTITY % model.profileDescPart_sequenceOptionalRepeatable "creation*, langUsage*, textClass*"> 
<!ENTITY % model.profileDescPart_sequenceRepeatable "creation+, langUsage+, textClass+"> 
<!ENTITY % model.resourceLike ""> 
<!ENTITY % model.resourceLike_sequence ""> 
<!ENTITY % model.resourceLike_sequenceOptional ""> 
<!ENTITY % model.resourceLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.resourceLike_sequenceRepeatable ""> 
<!-- start predeclared patterns -->

<!-- end predeclared patterns -->

<!-- start rest of patterns -->

<!ENTITY % macro.paraContent '( #PCDATA |
 _DUMMY_model.gLike |
 %model.phrase; |
 %model.inter; |
 %model.global;)*' >

<!ENTITY % macro.limitedContent '( #PCDATA |
 %model.limitedPhrase; |
 %model.inter;)*' >

<!ENTITY % macro.phraseSeq '( #PCDATA |
 _DUMMY_model.gLike |
 %model.phrase; |
 %model.global;)*' >

<!ENTITY % macro.phraseSeq.limited '( #PCDATA |
 %model.limitedPhrase; |
 %model.global;)*' >

<!ENTITY % macro.specialPara '( #PCDATA |
 _DUMMY_model.gLike |
 %model.phrase; |
 %model.inter; |
 %model.divPart; |
 %model.global;)*' >

<!ENTITY % macro.xtext '( #PCDATA |
 _DUMMY_model.gLike)*' >

<!ENTITY % macro.anyXML ' ANY' >

<!-- end patterns -->

<!-- start elements -->

<!--doc:(TEI document) contains a single TEI-conformant document,
comprising a TEI header and a text, either in isolation or as part of a
teiCorpus element. -->
<!ELEMENT TEI (teiHeader,((_DUMMY_model.resourceLike+,text?) |
 text))>
<!ATTLIST TEI xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST TEI
 %att.global.attributes;
version %data.version;  #IMPLIED >
<!ATTLIST TEI xsi:schemaLocation CDATA #IMPLIED
 xmlns:xsi CDATA #FIXED 'http://www.w3.org/2001/XMLSchema-instance'
 >
<!--doc:(abbreviation) contains an abbreviation of any sort. -->
<!ELEMENT abbr %macro.phraseSeq;>
<!ATTLIST abbr xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST abbr
 %att.global.attributes;
 %att.responsibility.attributes;
type %data.enumerated;  #IMPLIED >
<!--doc:contains a postal  address, for example of a
        publisher, an organization, or an individual. -->
<!ELEMENT address ((%model.global;)*,((%model.addrPart;),(%model.global;)*)+)>
<!ATTLIST address xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST address
 %att.global.attributes; >
<!--doc:(analytic level) contains bibliographic elements describing an item (e.g. an article or poem) published
    within a monograph or journal and not as an independent publication. -->
<!ELEMENT analytic (author |
 editor |
 respStmt |
 title |
 ref |
 date)*>
<!ATTLIST analytic xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST analytic
 %att.global.attributes; >
<!--doc:(application information) records information about an application which has
  edited the TEI file.  -->
<!ELEMENT appInfo (%model.applicationLike;)+>
<!ATTLIST appInfo xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST appInfo
 %att.global.attributes; >
<!--doc:provides information about an application which has acted upon the document. -->
<!ELEMENT application ((%model.labelLike;)+,((%model.ptrLike;)* |
 (%model.pLike;)*))>
<!ATTLIST application xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST application
 %att.global.attributes;
 %att.typed.attributes;
 %att.datable.attributes;
ident %data.name;  #REQUIRED
version CDATA #REQUIRED >
<!--doc:in a bibliographic reference, contains the name(s) of the
  author(s), personal or corporate, of a work; for example in the same
  form as that provided by a recognized bibliographic name authority.  -->
<!ELEMENT author %macro.phraseSeq;>
<!ATTLIST author xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST author
 %att.global.attributes;
 %att.naming.attributes; >
<!--doc:(release authority) supplies the name of a person or other agency responsible for
  making an electronic file available, other than a publisher or
  distributor. -->
<!ELEMENT authority %macro.phraseSeq.limited;>
<!ATTLIST authority xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST authority
 %att.global.attributes; >
<!--doc:supplies information about the availability of a text, for example any restrictions on its
    use or distribution, its copyright status, etc. -->
<!ELEMENT availability (%model.pLike;)+>
<!ATTLIST availability xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST availability
 %att.global.attributes;
 %att.declarable.attributes;
status (free|unknown|restricted) "unknown"  >
<!--doc:(back matter) contains any appendixes, etc. following the main part of a text. -->
<!ELEMENT back ((%model.frontPart; |
 %model.pLike.front; |
 %model.global;)*,((_DUMMY_model.div1Like,(%model.frontPart; |
 _DUMMY_model.div1Like |
 %model.global;)*) |
 ((%model.divLike;),(%model.frontPart; |
 %model.divLike; |
 %model.global;)*))?,(_DUMMY_model.divBottomPart,(_DUMMY_model.divBottomPart |
 %model.global;)*)?)>
<!ATTLIST back xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST back
 %att.global.attributes;
 %att.declaring.attributes; >
<!--doc:(bibliographic citation) contains a loosely-structured bibliographic citation of which the sub-components may or may
    not be explicitly tagged.  -->
<!ELEMENT bibl ( #PCDATA |
 _DUMMY_model.gLike |
 %model.highlighted; |
 %model.pPart.data; |
 %model.pPart.edit; |
 %model.segLike; |
 %model.ptrLike; |
 %model.biblPart; |
 %model.global;)*>
<!ATTLIST bibl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST bibl
 %att.global.attributes;
 %att.declarable.attributes;
 %att.typed.attributes; >
<!--doc:(fully-structured bibliographic citation) contains a fully-structured bibliographic citation, in which all components of the TEI file
    description are present. -->
<!ELEMENT biblFull ((titleStmt,editionStmt?,extent?,publicationStmt,seriesStmt?,notesStmt?),sourceDesc*)>
<!ATTLIST biblFull xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST biblFull
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:(scope of citation) defines the scope of a bibliographic reference, for example as a
        list of page numbers, or a named subdivision of a larger work. -->
<!ELEMENT biblScope %macro.phraseSeq;>
<!ATTLIST biblScope xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST biblScope
 %att.global.attributes;
type %data.enumerated;  #IMPLIED
from %data.word;  #IMPLIED
to %data.word;  #IMPLIED >
<!--doc:(structured bibliographic citation) contains a structured bibliographic citation, in which only bibliographic sub-elements
    appear and in a specified order.  -->
<!ELEMENT biblStruct (analytic*,(monogr,series*)+,(%model.noteLike; |
 idno)*)>
<!ATTLIST biblStruct xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST biblStruct
 %att.global.attributes;
 %att.declarable.attributes;
 %att.typed.attributes; >
<!--doc:(text body) contains the whole body of a single unitary text, excluding any front or back matter. -->
<!ELEMENT body ((%model.global;)*,((%model.divTop;),(%model.global; |
 %model.divTop;)*)?,(_DUMMY_model.divGenLike,(%model.global; |
 _DUMMY_model.divGenLike)*)?,(((%model.divLike;),(%model.global; |
 _DUMMY_model.divGenLike)*)+ |
 (_DUMMY_model.div1Like,(%model.global; |
 _DUMMY_model.divGenLike)*)+ |
 (((%model.common;),(%model.global;)*)+,(((%model.divLike;),(%model.global; |
 _DUMMY_model.divGenLike)*)+ |
 (_DUMMY_model.div1Like,(%model.global; |
 _DUMMY_model.divGenLike)*)+)?)),((%model.divBottom;),(%model.global;)*)*)>
<!ATTLIST body xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST body
 %att.global.attributes;
 %att.declaring.attributes; >
<!--doc:contains the primary statement of responsibility given for a work
on its title page or at the head or end of the work. -->
<!ELEMENT byline ( #PCDATA |
 _DUMMY_model.gLike |
 %model.phrase; |
 docAuthor |
 %model.global;)*>
<!ATTLIST byline xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST byline
 %att.global.attributes; >
<!--doc:(column break) marks the boundary between one column of a text and the next
        in a standard reference system. -->
<!ELEMENT cb EMPTY>
<!ATTLIST cb xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST cb
 %att.global.attributes;
 %att.typed.attributes;
 %att.sourced.attributes;
 %att.spanning.attributes;
 %att.breaking.attributes; >
<!--doc:contains one cell of a table.  -->
<!ELEMENT cell %macro.paraContent;>
<!ATTLIST cell xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST cell
table CDATA  #IMPLIED
crows CDATA  #IMPLIED
ccols CDATA  #IMPLIED
cellstyle CDATA  #IMPLIED
 %att.global.attributes;
 %att.tableDecoration.attributes; >
<!--doc:summarizes a particular change or correction made to a particular version of an electronic
    text which is shared between several researchers. -->
<!ELEMENT change ( #PCDATA |
 %model.limitedPhrase; |
 %model.inter; |
 %model.global;)*>
<!ATTLIST change xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST change
 %att.global.attributes;
 %att.ascribed.attributes;
 %att.datable.attributes;
 %att.docStatus.attributes; >
<!--doc:(cited quotation) contains a quotation from some other document, together with a bibliographic reference to
    its source. In a dictionary it may contain an example text with at least one occurrence of the
    word form, used in the sense being described, or a translation of the headword, or an example.  -->
<!ELEMENT cit (%model.qLike; |
 _DUMMY_model.egLike |
 %model.biblLike; |
 %model.ptrLike; |
 %model.global; |
 _DUMMY_model.entryPart)+>
<!ATTLIST cit xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST cit
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:contains information about the creation of a text. -->
<!ELEMENT creation %macro.phraseSeq.limited;>
<!ATTLIST creation xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST creation
 %att.global.attributes; >
<!--doc:contains a date in any format. -->
<!ELEMENT date ( #PCDATA |
 _DUMMY_model.gLike |
 %model.phrase; |
 %model.global;)*>
<!ATTLIST date xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST date
 %att.global.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.typed.attributes;
calendar %data.enumerated;  #IMPLIED >
<!--doc:contains a brief description of the place, date, time, etc. of production of a letter,
    newspaper story, or other work, prefixed or suffixed to it as a kind of heading or trailer.  -->
<!ELEMENT dateline %macro.phraseSeq;>
<!ATTLIST dateline xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST dateline
 %att.global.attributes; >
<!--doc:(description) contains a brief description of the object documented by its parent element, including its
    intended usage, purpose, or application where this is appropriate. -->
<!ELEMENT desc %macro.limitedContent;>
<!ATTLIST desc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST desc
 %att.global.attributes;
 %att.translatable.attributes; >
<!--doc:(text division) contains a subdivision of the front, body, or back of a text. -->
<!ELEMENT div ((%model.divTop; |
 %model.global;)*,((((%model.divLike; |
 _DUMMY_model.divGenLike),(%model.global;)*)+ |
 (((%model.common;),(%model.global;)*)+,((%model.divLike; |
 _DUMMY_model.divGenLike),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?)>
<!ATTLIST div xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div
 %att.global.attributes;
 %att.divLike.attributes;
 %att.typed.attributes;
 %att.declaring.attributes; >
<!--doc:(document author) contains the name of the author of the document, as given on the
title page (often but not always contained in a byline). -->
<!ELEMENT docAuthor %macro.phraseSeq;>
<!ATTLIST docAuthor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST docAuthor
 %att.global.attributes;
 %att.canonical.attributes; >
<!--doc:(document date) contains the date of a document, as given
(usually) on a title page. -->
<!ELEMENT docDate %macro.phraseSeq;>
<!ATTLIST docDate xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST docDate
 %att.global.attributes;
when %data.temporal.w3c;  #IMPLIED >
<!--doc:(document edition) contains an edition statement as presented on a title page of a
document. -->
<!ELEMENT docEdition %macro.paraContent;>
<!ATTLIST docEdition xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST docEdition
 %att.global.attributes; >
<!--doc:(document imprint) contains the imprint statement (place and date of publication,
publisher name), as given
(usually) at the foot of a title page. -->
<!ELEMENT docImprint ( #PCDATA |
 _DUMMY_model.gLike |
 %model.phrase; |
 pubPlace |
 docDate |
 publisher |
 %model.global;)*>
<!ATTLIST docImprint xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST docImprint
 %att.global.attributes; >
<!--doc:(document title) contains the title of a document, including all its
constituents, as given on a title page. -->
<!ELEMENT docTitle ((%model.global;)*,(titlePart,(%model.global;)*)+)>
<!ATTLIST docTitle xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST docTitle
 %att.global.attributes;
 %att.canonical.attributes; >
<!--doc:(edition) describes the particularities of one edition of a text. -->
<!ELEMENT edition %macro.phraseSeq;>
<!ATTLIST edition xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST edition
 %att.global.attributes; >
<!--doc:(edition statement) groups information relating to one edition of a text. -->
<!ELEMENT editionStmt ((%model.pLike;)+ |
 (edition,respStmt*))>
<!ATTLIST editionStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST editionStmt
 %att.global.attributes; >
<!--doc:secondary statement of responsibility for a bibliographic item, for example the name of an
    individual, institution or organization, (or of several such) acting as editor, compiler,
    translator, etc.  -->
<!ELEMENT editor %macro.phraseSeq;>
<!ATTLIST editor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST editor
 %att.global.attributes;
 %att.naming.attributes; >
<!--doc:(editorial practice declaration) provides details of editorial principles and practices applied
during the encoding of a text. -->
<!ELEMENT editorialDecl (%model.pLike; |
 %model.editorialDeclPart;)+>
<!ATTLIST editorialDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST editorialDecl
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:(electronic mail address) contains an e-mail address identifying a location to which
        e-mail messages can be delivered.
     -->
<!ELEMENT email %macro.phraseSeq;>
<!ATTLIST email xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST email
 %att.global.attributes; >
<!--doc:(emphasized) marks words or phrases which are stressed or emphasized for
        linguistic or rhetorical effect. -->
<!ELEMENT emph %macro.paraContent;>
<!ATTLIST emph xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST emph
 %att.global.attributes; >
<!--doc:(encoding description) documents the relationship between an electronic text and the
source or sources from which it was derived. -->
<!ELEMENT encodingDesc (%model.encodingDescPart; |
 %model.pLike;)+>
<!ATTLIST encodingDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST encodingDesc
 %att.global.attributes; >
<!--doc:contains a quotation, anonymous or attributed, appearing at the start of a section or
    chapter, or on a title page.  -->
<!ELEMENT epigraph (%model.common; |
 %model.global;)*>
<!ATTLIST epigraph xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST epigraph
 %att.global.attributes; >
<!--doc:(expansion) contains the expansion of an abbreviation. -->
<!ELEMENT expan %macro.phraseSeq;>
<!ATTLIST expan xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST expan
 %att.global.attributes;
 %att.editLike.attributes; >
<!--doc:describes the approximate size of a text as stored on some carrier medium, whether digital
    or non-digital, specified in any convenient units. -->
<!ELEMENT extent %macro.phraseSeq;>
<!ATTLIST extent xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST extent
 %att.global.attributes; >
<!--doc:Wrapper for fallback elements if an XInclude fails -->
<!ELEMENT fallback ( #PCDATA)+>
<!ATTLIST fallback xmlns CDATA "http://www.w3.org/2001/XInclude">
<!--doc:(description of figure) contains a brief prose description of the appearance or content
of a graphic figure, for use when documenting an image without
displaying it. -->
<!ELEMENT figDesc %macro.limitedContent;>
<!ATTLIST figDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST figDesc
 %att.global.attributes; >
<!--doc:groups elements representing or containing graphic information such as an illustration or
    figure. -->
<!ELEMENT figure (%model.headLike; |
 %model.pLike; |
 figDesc |
 %model.graphicLike; |
 _DUMMY_model.egLike |
 floatingText |
 %model.global;)*>
<!ATTLIST figure xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST figure
 %att.global.attributes;
 %att.placement.attributes;
 %att.typed.attributes; >
<!--doc:(file description) contains a full bibliographic description of an electronic file. -->
<!ELEMENT fileDesc ((titleStmt,editionStmt?,extent?,publicationStmt,seriesStmt?,notesStmt?),sourceDesc+)>
<!ATTLIST fileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST fileDesc
 %att.global.attributes; >
<!--doc:contains a single text of any kind, whether unitary or composite, which interrupts the text
    containing it at any point and after which the surrounding text resumes. -->
<!ELEMENT floatingText ((%model.global;)*,(front,(%model.global;)*)?,(body |
 group),(%model.global;)*,(back,(%model.global;)*)?)>
<!ATTLIST floatingText xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST floatingText
 %att.global.attributes;
 %att.declaring.attributes;
 %att.typed.attributes; >
<!--doc:(foreign) identifies a word or phrase as belonging to some language other than that of the
                surrounding text.  -->
<!ELEMENT foreign %macro.phraseSeq;>
<!ATTLIST foreign xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST foreign
 %att.global.attributes; >
<!--doc:contains a mathematical or other formula. -->
<!ELEMENT formula ( #PCDATA |
 %model.graphicLike;)*>
<!ATTLIST formula xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST formula
 %att.global.attributes;
notation %data.code;  #IMPLIED >
<!--doc:(front matter) contains any prefatory matter (headers,
title page, prefaces, dedications, etc.)
found  at the start of a document, before the main body. -->
<!ELEMENT front ((%model.frontPart; |
 %model.pLike.front; |
 %model.global;)*,((_DUMMY_model.div1Like,(%model.frontPart; |
 _DUMMY_model.div1Like |
 %model.global;)*) |
 ((%model.divLike;),(%model.frontPart; |
 %model.divLike; |
 %model.global;)*))?,(_DUMMY_model.divBottomPart,(_DUMMY_model.divBottomPart |
 %model.global;)*)?)>
<!ATTLIST front xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST front
 %att.global.attributes;
 %att.declaring.attributes; >
<!--doc:(funding body) specifies the name of an individual, institution, or organization responsible for the
    funding of a project or text. -->
<!ELEMENT funder %macro.phraseSeq.limited;>
<!ATTLIST funder xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST funder
 %att.global.attributes; >
<!--doc:identifies a phrase or word used to provide a gloss or definition for some other word or
    phrase. -->
<!ELEMENT gloss %macro.phraseSeq;>
<!ATTLIST gloss xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST gloss
 %att.global.attributes;
 %att.declaring.attributes;
 %att.translatable.attributes;
 %att.typed.attributes;
 %att.pointing.attributes;
cRef %data.pointer;  #IMPLIED >
<!--doc:indicates the location of an inline graphic, illustration, or figure. -->
<!ELEMENT graphic (%model.glossLike;)*>
<!ATTLIST graphic xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST graphic
 %att.global.attributes;
 %att.internetMedia.attributes;
 %att.declaring.attributes;
width %data.outputMeasurement;  #IMPLIED
height %data.outputMeasurement;  #IMPLIED
scale %data.numeric;  #IMPLIED
url %data.pointer;  #REQUIRED >
<!--doc:contains the body of a composite text, grouping together a sequence of distinct texts (or
    groups of such texts) which are regarded as a unit for some purpose, for example the collected
    works of an author, a sequence of prose essays, etc. -->
<!ELEMENT group ((%model.divTop; |
 %model.global;)*,((text |
 group),(text |
 group |
 %model.global;)*),(%model.divBottom;)*)>
<!ATTLIST group xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST group
 %att.global.attributes;
 %att.declaring.attributes; >
<!--doc:(heading) contains any type of heading, for example the title of a section, or the heading of a list,
    glossary, manuscript description, etc. -->
<!ELEMENT head %macro.paraContent;>
<!ATTLIST head xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST head
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:(heading for list items) contains the heading for the item or gloss column in a glossary list or similar structured
        list. -->
<!ELEMENT headItem %macro.phraseSeq;>
<!ATTLIST headItem xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST headItem
 %att.global.attributes; >
<!--doc:(heading for list labels) contains the heading for the label or term column in a glossary list or similar structured
        list. -->
<!ELEMENT headLabel %macro.phraseSeq;>
<!ATTLIST headLabel xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST headLabel
 %att.global.attributes; >
<!--doc:(highlighted) marks a word or phrase as graphically distinct from the
        surrounding text, for reasons concerning which no claim is
        made.  -->
<!ELEMENT hi %macro.paraContent;>
<!ATTLIST hi xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST hi
 %att.global.attributes; >
<!--doc:(identifier) supplies any form of identifier used to identify some object,
  such as a bibliographic item, a person, a title, an organization,
  etc. in a standardized way. -->
<!ELEMENT idno %macro.xtext;>
<!ATTLIST idno xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST idno
 %att.global.attributes;
type %data.enumerated;  #IMPLIED >
<!--doc:contains a formal statement authorizing the publication of a work, sometimes required to
    appear on a title page or its verso. -->
<!ELEMENT imprimatur %macro.paraContent;>
<!ATTLIST imprimatur xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST imprimatur
 %att.global.attributes; >
<!--doc:groups information relating to the publication or distribution
        of a bibliographic item. -->
<!ELEMENT imprint (((%model.imprintPart;) |
 (%model.dateLike;)),(%model.global;)*)+>
<!ATTLIST imprint xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST imprint
 %att.global.attributes; >
<!--doc:The W3C XInclude element -->
<!ELEMENT include (fallback)?>
<!ATTLIST include xmlns CDATA "http://www.w3.org/2001/XInclude">
<!ATTLIST include
href %data.pointer;  #IMPLIED
parse (xml|text) "xml" 
xpointer CDATA #IMPLIED
encoding CDATA #IMPLIED
accept CDATA #IMPLIED
accept-charset CDATA #IMPLIED
accept-language CDATA #IMPLIED >
<!--doc:(index entry) marks a location to be indexed for whatever purpose. -->
<!ELEMENT index (term,index?)*>
<!ATTLIST index xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST index
 %att.global.attributes;
 %att.spanning.attributes;
indexName %data.name;  #IMPLIED >
<!--doc:contains one component of a list. -->
<!ELEMENT item %macro.specialPara;>
<!ATTLIST item xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST item
 %att.global.attributes; >
<!--doc:contains a list of keywords or phrases identifying the topic or nature of a text. -->
<!ELEMENT keywords (term+ |
 list)>
<!ATTLIST keywords xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST keywords
 %att.global.attributes;
scheme %data.pointer;  #REQUIRED >
<!--doc:(verse line) contains a single, possibly incomplete, line of verse. -->
<!ELEMENT l %macro.paraContent;>
<!ATTLIST l xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST l
 %att.global.attributes;
part (Y|N|I|M|F) "N"  >
<!--doc:contains the label associated with an item in a list; in glossaries, marks the term being
    defined. -->
<!ELEMENT label %macro.phraseSeq;>
<!ATTLIST label xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST label
 %att.global.attributes; >
<!--doc:(language usage) describes the languages, sublanguages, registers, dialects, etc.
represented within a text. -->
<!ELEMENT langUsage (language)+>
<!ATTLIST langUsage xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST langUsage
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:characterizes a single language or sublanguage used within a text. -->
<!ELEMENT language %macro.phraseSeq.limited;>
<!ATTLIST language xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST language
 %att.global.attributes;
ident %data.language;  #REQUIRED
usage CDATA #IMPLIED >
<!--doc:(line break) marks the start of a new (typographic) line in some edition or version of a text. -->
<!ELEMENT lb EMPTY>
<!ATTLIST lb xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST lb
 %att.global.attributes;
 %att.typed.attributes;
 %att.sourced.attributes;
 %att.spanning.attributes;
 %att.breaking.attributes; >
<!--doc:(line group) contains a group of verse lines functioning as a formal unit, e.g. a stanza, refrain,
        verse paragraph, etc. -->
<!ELEMENT lg ((%model.divTop; |
 %model.global;)*,(%model.lLike; |
 lg),(%model.lLike; |
 lg |
 %model.global;)*,((%model.divBottom;),(%model.global;)*)*)>
<!ATTLIST lg xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST lg
 %att.global.attributes;
 %att.divLike.attributes;
 %att.typed.attributes;
 %att.declaring.attributes; >
<!--doc:(list) contains any sequence of items organized as a list. -->
<!ELEMENT list (((%model.divTop;) |
 (%model.global;))*,((item,(%model.global;)*)+ |
 (headLabel?,headItem?,(label,(%model.global;)*,item,(%model.global;)*)+)),((%model.divBottom;),(%model.global;)*)*)>
<!ATTLIST list xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST list
 %att.global.attributes;
type %data.enumerated;  "simple"  >
<!--doc:(citation list) contains a list of bibliographic citations of any kind.  -->
<!ELEMENT listBibl ((%model.headLike;)*,(%model.biblLike; |
 %model.milestoneLike; |
 listBibl)+)>
<!ATTLIST listBibl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST listBibl
 %att.global.attributes;
 %att.declarable.attributes;
 %att.typed.attributes; >
<!--doc:marks a boundary point separating any kind of section of a text, typically but not
    necessarily indicating a point at which some part of a standard reference system changes, where
    the change is not represented by a structural element. -->
<!ELEMENT milestone EMPTY>
<!ATTLIST milestone xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST milestone
 %att.global.attributes;
 %att.typed.attributes;
 %att.sourced.attributes;
 %att.spanning.attributes;
 %att.breaking.attributes;
unit %data.enumerated;  #REQUIRED >
<!--doc:(monographic level) contains bibliographic elements describing an item (e.g. a book or journal) published as an
    independent item (i.e. as a separate physical object). -->
<!ELEMENT monogr ((((author |
 editor |
 respStmt),(author |
 editor |
 respStmt)*,title+,(idno |
 editor |
 respStmt)*) |
 ((title |
 ref)+,(idno |
 author |
 editor |
 respStmt)*))?,(%model.noteLike;)*,(edition,(idno |
 editor |
 respStmt)*)*,imprint,(imprint |
 extent |
 biblScope)*)>
<!ATTLIST monogr xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST monogr
 %att.global.attributes; >
<!--doc:(name, proper noun) contains a proper noun or noun phrase. -->
<!ELEMENT name %macro.phraseSeq;>
<!ATTLIST name xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST name
 %att.global.attributes;
 %att.naming.attributes;
 %att.typed.attributes; >
<!--doc:indicates the extent of normalization or regularization of the original source carried out
    in converting it to electronic form. -->
<!ELEMENT normalization (%model.pLike;)+>
<!ATTLIST normalization xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST normalization
 %att.global.attributes;
 %att.declarable.attributes;
source %data.pointer;  #IMPLIED
method (silent|markup) "silent"  >
<!--doc:contains a note or annotation. -->
<!ELEMENT note %macro.specialPara;>
<!ATTLIST note xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST note
 %att.global.attributes;
 %att.placement.attributes;
 %att.pointing.attributes;
 %att.responsibility.attributes;
 %att.typed.attributes;
anchored %data.truthValue;  "true" 
targetEnd CDATA  #IMPLIED >
<!--doc:(notes statement) collects together any notes providing information about a text additional to that recorded
    in other parts of the bibliographic description. -->
<!ELEMENT notesStmt (%model.noteLike;)+>
<!ATTLIST notesStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST notesStmt
 %att.global.attributes; >
<!--doc:(number) contains a number, written in any form. -->
<!ELEMENT num %macro.phraseSeq;>
<!ATTLIST num xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST num
 %att.global.attributes;
 %att.ranging.attributes;
type %data.enumerated;  #IMPLIED
value %data.numeric;  #IMPLIED >
<!--doc:(paragraph) marks paragraphs in prose. -->
<!ELEMENT p %macro.paraContent;>
<!ATTLIST p xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST p
 %att.global.attributes;
 %att.declaring.attributes; >
<!--doc:(page break) marks the boundary between one page of a text and the next in a standard reference system. -->
<!ELEMENT pb EMPTY>
<!ATTLIST pb xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST pb
 %att.global.attributes;
 %att.typed.attributes;
 %att.sourced.attributes;
 %att.spanning.attributes;
 %att.breaking.attributes; >
<!--doc:(postal box or post office box) contains a number or other identifier for some postal delivery point other than a street
    address.  -->
<!ELEMENT postBox  (#PCDATA)>
<!ATTLIST postBox xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST postBox
 %att.global.attributes; >
<!--doc:(postal code) contains a numerical or alphanumeric code used as part of a postal address to simplify
        sorting or delivery of mail.  -->
<!ELEMENT postCode  (#PCDATA)>
<!ATTLIST postCode xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST postCode
 %att.global.attributes; >
<!--doc:(text-profile description) provides a detailed description of non-bibliographic aspects of a text, specifically the
    languages and sublanguages used, the situation in which it was produced, the participants and
    their setting. -->
<!ELEMENT profileDesc (%model.profileDescPart;)*>
<!ATTLIST profileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST profileDesc
 %att.global.attributes; >
<!--doc:(project description) describes in detail the aim or purpose for which an electronic file was encoded, together
    with any other relevant information concerning the process by which it was assembled or
    collected. -->
<!ELEMENT projectDesc (%model.pLike;)+>
<!ATTLIST projectDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST projectDesc
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:(pointer) defines a pointer to another location. -->
<!ELEMENT ptr EMPTY>
<!ATTLIST ptr xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST ptr
 %att.global.attributes;
 %att.pointing.attributes;
 %att.typed.attributes;
 %att.declaring.attributes;
cRef CDATA  #IMPLIED >
<!--doc:(publication place) contains the name of the place where a bibliographic item was published. -->
<!ELEMENT pubPlace %macro.phraseSeq;>
<!ATTLIST pubPlace xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST pubPlace
 %att.global.attributes;
 %att.naming.attributes; >
<!--doc:(publication statement) groups information concerning the publication or distribution of an electronic or other
    text.  -->
<!ELEMENT publicationStmt ((%model.pLike;)+ |
 (%model.publicationStmtPart;)+)>
<!ATTLIST publicationStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST publicationStmt
 %att.global.attributes; >
<!--doc:provides the name of the organization responsible for the publication or distribution of a
        bibliographic item. -->
<!ELEMENT publisher %macro.phraseSeq;>
<!ATTLIST publisher xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST publisher
 %att.global.attributes; >
<!--doc:(separated from the surrounding text with quotation marks) contains material which is marked as (ostensibly) being somehow different than the
    surrounding text, for any one of a variety of reasons including, but not limited to: direct
    speech or thought, technical terms or jargon, authorial distance, quotations from elsewhere, and
    passages that are mentioned but not used. -->
<!ELEMENT q %macro.specialPara;>
<!ATTLIST q xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST q
 %att.global.attributes;
 %att.ascribed.attributes;
type %data.enumerated;  #IMPLIED >
<!--doc:specifies editorial practice adopted with respect to quotation marks in the original.  -->
<!ELEMENT quotation (%model.pLike;)+>
<!ATTLIST quotation xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST quotation
 %att.global.attributes;
 %att.declarable.attributes;
marks (none|some|all) "all" 
form CDATA  "unknown"  >
<!--doc:(quotation) contains a phrase or passage attributed by the narrator or author to some agency external
        to the text. -->
<!ELEMENT quote %macro.specialPara;>
<!ATTLIST quote xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST quote
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:(reference) defines a reference to another location, possibly modified by additional text or comment. -->
<!ELEMENT ref %macro.paraContent;>
<!ATTLIST ref xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST ref
 %att.global.attributes;
 %att.pointing.attributes;
 %att.typed.attributes;
 %att.declaring.attributes;
cRef CDATA  #IMPLIED >
<!--doc:(responsibility) contains a phrase describing the nature of a person's intellectual responsibility. -->
<!ELEMENT resp %macro.phraseSeq.limited;>
<!ATTLIST resp xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST resp
 %att.global.attributes;
 %att.canonical.attributes; >
<!--doc:(statement of responsibility) supplies a statement of responsibility for the intellectual content of a text, edition,
    recording, or series, where the specialized elements for authors, editors, etc. do not suffice
    or do not apply. -->
<!ELEMENT respStmt ((resp+,(%model.nameLike.agent;)+) |
 ((%model.nameLike.agent;)+,resp+))>
<!ATTLIST respStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST respStmt
 %att.global.attributes; >
<!--doc:(revision description) summarizes the revision history for a file. -->
<!ELEMENT revisionDesc (list |
 change+)>
<!ATTLIST revisionDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST revisionDesc
 %att.global.attributes;
 %att.docStatus.attributes; >
<!--doc:contains one row of a table.  -->
<!ELEMENT row (cell)+>
<!ATTLIST row xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST row
 %att.global.attributes;
 %att.tableDecoration.attributes; >
<!--doc:describes a particular script distinguished within
    the description of a manuscript or similar resource. -->
<!ELEMENT scriptNote %macro.specialPara;>
<!ATTLIST scriptNote xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST scriptNote
 %att.global.attributes;
 %att.handFeatures.attributes; >
<!--doc:(arbitrary segment) represents any segmentation of text below the chunk level. -->
<!ELEMENT seg %macro.paraContent;>
<!ATTLIST seg xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST seg
 %att.global.attributes;
 %att.segLike.attributes;
 %att.typed.attributes;
 %att.responsibility.attributes; >
<!--doc:(series information) contains information about the series in which a book or other bibliographic item has
    appeared. -->
<!ELEMENT series ( #PCDATA |
 _DUMMY_model.gLike |
 title |
 ref |
 editor |
 respStmt |
 biblScope |
 %model.global;)*>
<!ATTLIST series xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST series
 %att.global.attributes; >
<!--doc:(series statement) groups information about the series, if any, to which a publication belongs. -->
<!ELEMENT seriesStmt ((%model.pLike;)+ |
 (title+,(idno |
 respStmt)*))>
<!ATTLIST seriesStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST seriesStmt
 %att.global.attributes; >
<!--doc:(source description) describes the source from which an electronic text was derived or generated, typically a
    bibliographic description in the case of a digitized text, or a phrase such as "born digital"
    for a text which has no previous existence. -->
<!ELEMENT sourceDesc ((%model.pLike;)+ |
 (%model.biblLike; |
 _DUMMY_model.sourceDescPart |
 %model.listLike;)+)>
<!ATTLIST sourceDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sourceDesc
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:(speech) An individual speech in a performance text, or a passage presented as such in a prose or
    verse text. -->
<!ELEMENT sp ((%model.global;)*,(speaker,(%model.global;)*)?,((%model.lLike; |
 lg |
 %model.pLike; |
 %model.stageLike; |
 %model.qLike;),(%model.global;)*)+)>
<!ATTLIST sp xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sp
 %att.global.attributes;
 %att.ascribed.attributes; >
<!--doc:A specialized form of heading or label, giving the name of one or more speakers in a
        dramatic text or fragment. -->
<!ELEMENT speaker %macro.phraseSeq;>
<!ATTLIST speaker xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST speaker
 %att.global.attributes; >
<!--doc:specifies the name of a sponsoring organization or institution. -->
<!ELEMENT sponsor %macro.phraseSeq.limited;>
<!ATTLIST sponsor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sponsor
 %att.global.attributes; >
<!--doc:(stage direction) contains any kind of stage direction within a dramatic text or fragment. -->
<!ELEMENT stage %macro.specialPara;>
<!ATTLIST stage xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST stage
 %att.global.attributes;
type %data.enumerated;  #IMPLIED >
<!--doc:a full street address including any name or number identifying a
        building as well as the name of the street or route on which it is
        located. -->
<!ELEMENT street %macro.phraseSeq;>
<!ATTLIST street xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST street
 %att.global.attributes; >
<!--doc:contains text displayed in tabular form, in rows and columns. -->
<!ELEMENT table ((%model.headLike; |
 %model.global;)*,(row,(%model.global;)*)+)>
<!ATTLIST table xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST table
table CDATA  #IMPLIED
tcols CDATA  #IMPLIED
trows CDATA  #IMPLIED
tablestyle CDATA  #IMPLIED
rows %data.count;  #IMPLIED
cols %data.count;  #IMPLIED
 %att.global.attributes; >
<!--doc:(TEI Header) supplies the descriptive and declarative information making up an electronic title page
    prefixed to every TEI-conformant text. -->
<!ELEMENT teiHeader (fileDesc,(%model.teiHeaderPart;)*,revisionDesc?)>
<!ATTLIST teiHeader xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST teiHeader
 %att.global.attributes;
type %data.enumerated;  "text"  >
<!--doc:contains a single-word, multi-word, or symbolic designation which is regarded as a technical
    term. -->
<!ELEMENT term %macro.phraseSeq;>
<!ATTLIST term xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST term
 %att.global.attributes;
 %att.declaring.attributes;
 %att.pointing.attributes;
 %att.typed.attributes;
 %att.canonical.attributes;
cRef %data.pointer;  #IMPLIED
sortKey %data.word;  #IMPLIED >
<!--doc:contains a single text of any kind, whether unitary or composite, for example a poem or
    drama, a collection of essays, a novel, a dictionary, or a corpus sample. -->
<!ELEMENT text ((%model.global;)*,(front,(%model.global;)*)?,(body |
 group),(%model.global;)*,(back,(%model.global;)*)?)>
<!ATTLIST text xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST text
 %att.global.attributes;
 %att.declaring.attributes;
 %att.typed.attributes; >
<!--doc:(text classification) groups information which describes the nature or topic of a text in terms of a standard
    classification scheme, thesaurus, etc. -->
<!ELEMENT textClass (keywords)*>
<!ATTLIST textClass xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST textClass
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:contains a title for any kind of work. -->
<!ELEMENT title %macro.paraContent;>
<!ATTLIST title xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST title
 %att.global.attributes;
 %att.canonical.attributes;
level (a|m|j|s|u) #IMPLIED
type %data.enumerated;  #IMPLIED >
<!--doc:(title page) contains the title page of a text, appearing within the front or back matter.  -->
<!ELEMENT titlePage ((%model.global;)*,(%model.titlepagePart;),(%model.titlepagePart; |
 %model.global;)*)>
<!ATTLIST titlePage xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST titlePage
 %att.global.attributes;
type %data.enumerated;  #IMPLIED >
<!--doc:contains a subsection or division of the title of a work, as
indicated on a title page. -->
<!ELEMENT titlePart %macro.paraContent;>
<!ATTLIST titlePart xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST titlePart
 %att.global.attributes;
type %data.enumerated;  "main"  >
<!--doc:(title statement) groups information about the title of a work and those responsible for its intellectual
    content. -->
<!ELEMENT titleStmt (title+,(%model.respLike;)*)>
<!ATTLIST titleStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST titleStmt
 %att.global.attributes; >
<!-- end elements -->
