trunk/Talks/2013-03-lille/cartes/virgolos.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:xlink="http://www.w3.org/1999/xlink" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.tei-c.org/ns/1.0">
  <!--
Schema generated from ODD source 2012-07-01T20:01:38Z. 
Edition: 2.1.0. Last updated on 17th June 2012.
Edition Location: http://www.tei-c.org/Vault/P5/2.1.0/

-->
  <!---->
  <define name="macro.paraContent">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.gLike"/>
        <ref name="model.phrase"/>
        <ref name="model.inter"/>
        <ref name="model.global"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="macro.limitedContent">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.limitedPhrase"/>
        <ref name="model.inter"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="macro.phraseSeq">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.gLike"/>
        <ref name="model.phrase"/>
        <ref name="model.global"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="macro.phraseSeq.limited">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.limitedPhrase"/>
        <ref name="model.global"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="macro.specialPara">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.gLike"/>
        <ref name="model.phrase"/>
        <ref name="model.inter"/>
        <ref name="model.divPart"/>
        <ref name="model.global"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="data.probability">
    <data type="double">
      <param name="minInclusive">0</param>
      <param name="maxInclusive">1</param>
    </data>
  </define>
  <define name="data.numeric">
    <choice>
      <data type="double"/>
      <data type="token">
        <param name="pattern">(\-?[\d]+/\-?[\d]+)</param>
      </data>
      <data type="decimal"/>
    </choice>
  </define>
  <define name="data.temporal.w3c">
    <choice>
      <data type="date"/>
      <data type="gYear"/>
      <data type="gMonth"/>
      <data type="gDay"/>
      <data type="gYearMonth"/>
      <data type="gMonthDay"/>
      <data type="time"/>
      <data type="dateTime"/>
    </choice>
  </define>
  <define name="data.truthValue">
    <data type="boolean"/>
  </define>
  <define name="data.xTruthValue">
    <choice>
      <data type="boolean"/>
      <value>unknown</value>
      <value>inapplicable</value>
    </choice>
  </define>
  <define name="data.language">
    <data type="language"/>
  </define>
  <define name="data.outputMeasurement">
    <data type="token">
      <param name="pattern">[\-+]?\d+(\.\d+)?(%|cm|mm|in|pt|pc|px|em|ex|gd|rem|vw|vh|vm)</param>
    </data>
  </define>
  <define name="data.pointer">
    <data type="anyURI"/>
  </define>
  <define name="data.version">
    <data type="token">
      <param name="pattern">[\d]+(\.[\d]+){0,2}</param>
    </data>
  </define>
  <define name="data.word">
    <data type="token">
      <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
    </data>
  </define>
  <define name="data.text">
    <data type="string"/>
  </define>
  <define name="data.name">
    <data type="Name"/>
  </define>
  <define name="data.enumerated">
    <ref name="data.name"/>
  </define>
  <define name="att.canonical.attributes">
    <ref name="att.canonical.attribute.ref"/>
  </define>
  <define name="att.canonical.attribute.ref">
    <optional>
      <attribute name="ref">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(reference) provides an explicit means of locating a full definition for the entity being named by
        means of one or more URIs.</a:documentation>
        <list>
          <ref name="data.pointer"/>
          <zeroOrMore>
            <ref name="data.pointer"/>
          </zeroOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="att.ranging.attributes">
    <ref name="att.ranging.attribute.confidence"/>
  </define>
  <define name="att.ranging.attribute.confidence">
    <optional>
      <attribute name="confidence">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The degree of statistical confidence (between zero and one) that a value falls within the range
        specified by min and max, or the proportion of observed values that fall within that range.</a:documentation>
        <ref name="data.probability"/>
      </attribute>
    </optional>
  </define>
  <define name="att.dimensions.attributes">
    <ref name="att.ranging.attributes"/>
  </define>
  <define name="att.breaking.attributes">
    <empty/>
  </define>
  <define name="att.datable.w3c.attributes">
    <ref name="att.datable.w3c.attribute.when"/>
  </define>
  <define name="att.datable.w3c.attribute.when">
    <optional>
      <attribute name="when">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies the value of the date or time in a standard form,
      e.g. yyyy-mm-dd.</a:documentation>
        <ref name="data.temporal.w3c"/>
      </attribute>
    </optional>
  </define>
  <define name="att.datable.attribute.calendar">
    <optional>
      <attribute name="calendar">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the system or calendar to which the date represented by the content of this
        element belongs.</a:documentation>
        <ref name="data.pointer"/>
      </attribute>
    </optional>
  </define>
  <define name="att.datable.attribute.period">
    <optional>
      <attribute name="period">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a pointer to some location defining a named
        period of time within which the datable item is understood to
        have occurred.</a:documentation>
        <ref name="data.pointer"/>
      </attribute>
    </optional>
  </define>
  <define name="att.divLike.attributes">
    <empty/>
  </define>
  <define name="att.docStatus.attributes">
    <empty/>
  </define>
  <define name="att.responsibility.attributes">
    <ref name="att.responsibility.attribute.resp"/>
  </define>
  <define name="att.responsibility.attribute.resp">
    <optional>
      <attribute name="resp">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(responsible party) indicates the agency responsible for the intervention or interpretation, for example an
        editor or transcriber.</a:documentation>
        <list>
          <ref name="data.pointer"/>
          <zeroOrMore>
            <ref name="data.pointer"/>
          </zeroOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="att.editLike.attributes">
    <ref name="att.dimensions.attributes"/>
    <ref name="att.responsibility.attributes"/>
    <ref name="att.editLike.attribute.source"/>
    <ref name="att.editLike.attribute.instant"/>
  </define>
  <define name="att.editLike.attribute.source">
    <optional>
      <attribute name="source">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a list of one or more pointers indicating sources
      supporting the given  intervention or interpretation.</a:documentation>
        <list>
          <ref name="data.pointer"/>
          <zeroOrMore>
            <ref name="data.pointer"/>
          </zeroOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="att.editLike.attribute.instant">
    <optional>
      <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" name="instant" a:defaultValue="false">
        <a:documentation>Is this an instant revision?</a:documentation>
        <ref name="data.xTruthValue"/>
      </attribute>
    </optional>
  </define>
  <define name="att.global.attributes">
    <ref name="att.global.facs.attributes"/>
    <ref name="att.global.change.attributes"/>
    <ref name="att.global.attribute.xmlid"/>
    <ref name="att.global.attribute.n"/>
    <ref name="att.global.attribute.xmllang"/>
    <ref name="att.global.attribute.rend"/>
  </define>
  <define name="att.global.attribute.xmlid">
    <optional>
      <attribute name="xml:id">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identifier) provides a unique identifier for the element bearing the attribute.</a:documentation>
        <data type="ID"/>
      </attribute>
    </optional>
  </define>
  <define name="att.global.attribute.n">
    <optional>
      <attribute name="n">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(number) gives a number (or other label) for an element, which is not necessarily unique within
        the document.</a:documentation>
        <ref name="data.text"/>
      </attribute>
    </optional>
  </define>
  <define name="att.global.attribute.xmllang">
    <optional>
      <attribute name="xml:lang">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(language) indicates the language of the element content using a tag generated
        according to BCP 47
         </a:documentation>
        <ref name="data.language"/>
      </attribute>
    </optional>
  </define>
  <define name="att.global.attribute.rend">
    <optional>
      <attribute name="rend">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(rendition) indicates how the element in question was rendered or presented in the source text.</a:documentation>
        <list>
          <ref name="data.word"/>
          <zeroOrMore>
            <ref name="data.word"/>
          </zeroOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="att.internetMedia.attributes">
    <empty/>
  </define>
  <define name="att.naming.attributes">
    <ref name="att.canonical.attributes"/>
  </define>
  <define name="att.placement.attributes">
    <empty/>
  </define>
  <define name="att.typed.attributes">
    <ref name="att.typed.attribute.type"/>
  </define>
  <define name="att.typed.attribute.type">
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes the element in some sense, using any convenient
 classification scheme or typology.</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
  </define>
  <define name="att.pointing.attributes">
    <ref name="att.pointing.attribute.targetLang"/>
  </define>
  <define name="att.pointing.attribute.targetLang">
    <optional>
      <attribute name="targetLang">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the language of the content to be found at the destination referenced by target, using a language tag generated
        according to BCP 47.</a:documentation>
        <ref name="data.language"/>
      </attribute>
    </optional>
  </define>
  <pattern xmlns="http://purl.oclc.org/dsdl/schematron" id="targetLang-constraint-targetLang">
    <sch:rule xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns="http://www.tei-c.org/ns/1.0" xmlns:rnc="http://relaxng.org" context="tei:*[@targetLang]">
      <sch:assert test="count(@target)">@targetLang can only be used if @target is specified.</sch:assert>
    </sch:rule>
  </pattern>
  <define name="att.sortable.attributes">
    <ref name="att.sortable.attribute.sortKey"/>
  </define>
  <define name="att.sortable.attribute.sortKey">
    <optional>
      <attribute name="sortKey">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies the sort key for this element in an index, list or group which contains it.</a:documentation>
        <ref name="data.word"/>
      </attribute>
    </optional>
  </define>
  <define name="att.sourced.attributes">
    <empty/>
  </define>
  <define name="att.spanning.attributes">
    <empty/>
  </define>
  <define name="att.transcriptional.attributes">
    <ref name="att.editLike.attributes"/>
    <ref name="att.transcriptional.attribute.cause"/>
  </define>
  <define name="att.transcriptional.attribute.cause">
    <optional>
      <attribute name="cause">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">documents the presumed cause for the intervention.</a:documentation>
        <choice>
          <value>fix</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">repeated for the purpose of fixation</a:documentation>
          <value>unclear</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">repeated to clarify a previously illegible or badly written text
   or mark</a:documentation>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="model.nameLike.agent">
    <choice>
      <ref name="name"/>
    </choice>
  </define>
  <define name="model.nameLike.agent_alternation">
    <choice>
      <ref name="name"/>
    </choice>
  </define>
  <define name="model.nameLike.agent_sequence">
    <ref name="name"/>
  </define>
  <define name="model.nameLike.agent_sequenceOptional">
    <optional>
      <ref name="name"/>
    </optional>
  </define>
  <define name="model.nameLike.agent_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="name"/>
    </zeroOrMore>
  </define>
  <define name="model.nameLike.agent_sequenceRepeatable">
    <oneOrMore>
      <ref name="name"/>
    </oneOrMore>
  </define>
  <define name="model.segLike">
    <notAllowed/>
  </define>
  <define name="model.segLike_alternation">
    <notAllowed/>
  </define>
  <define name="model.segLike_sequence">
    <empty/>
  </define>
  <define name="model.segLike_sequenceOptional">
    <empty/>
  </define>
  <define name="model.segLike_sequenceOptionalRepeatable">
    <empty/>
  </define>
  <define name="model.segLike_sequenceRepeatable">
    <notAllowed/>
  </define>
  <define name="model.emphLike">
    <choice>
      <ref name="foreign"/>
      <ref name="emph"/>
      <ref name="title"/>
    </choice>
  </define>
  <define name="model.emphLike_alternation">
    <choice>
      <ref name="foreign"/>
      <ref name="emph"/>
      <ref name="title"/>
    </choice>
  </define>
  <define name="model.emphLike_sequence">
    <ref name="foreign"/>
    <ref name="emph"/>
    <ref name="title"/>
  </define>
  <define name="model.emphLike_sequenceOptional">
    <optional>
      <ref name="foreign"/>
    </optional>
    <optional>
      <ref name="emph"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
  </define>
  <define name="model.emphLike_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="foreign"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="emph"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="title"/>
    </zeroOrMore>
  </define>
  <define name="model.emphLike_sequenceRepeatable">
    <oneOrMore>
      <ref name="foreign"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="emph"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="title"/>
    </oneOrMore>
  </define>
  <define name="model.highlighted">
    <choice>
      <ref name="model.emphLike"/>
    </choice>
  </define>
  <define name="model.highlighted_alternation">
    <choice>
      <ref name="model.emphLike_alternation"/>
    </choice>
  </define>
  <define name="model.highlighted_sequence">
    <ref name="model.emphLike_sequence"/>
  </define>
  <define name="model.highlighted_sequenceOptional">
    <optional>
      <ref name="model.emphLike_sequenceOptional"/>
    </optional>
  </define>
  <define name="model.highlighted_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="model.emphLike_sequenceOptionalRepeatable"/>
    </zeroOrMore>
  </define>
  <define name="model.highlighted_sequenceRepeatable">
    <oneOrMore>
      <ref name="model.emphLike_sequenceRepeatable"/>
    </oneOrMore>
  </define>
  <define name="model.dateLike">
    <choice>
      <ref name="date"/>
    </choice>
  </define>
  <define name="model.dateLike_alternation">
    <choice>
      <ref name="date"/>
    </choice>
  </define>
  <define name="model.dateLike_sequence">
    <ref name="date"/>
  </define>
  <define name="model.dateLike_sequenceOptional">
    <optional>
      <ref name="date"/>
    </optional>
  </define>
  <define name="model.dateLike_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="date"/>
    </zeroOrMore>
  </define>
  <define name="model.dateLike_sequenceRepeatable">
    <oneOrMore>
      <ref name="date"/>
    </oneOrMore>
  </define>
  <define name="model.graphicLike">
    <choice>
      <ref name="graphic"/>
    </choice>
  </define>
  <define name="model.graphicLike_alternation">
    <choice>
      <ref name="graphic"/>
    </choice>
  </define>
  <define name="model.graphicLike_sequence">
    <ref name="graphic"/>
  </define>
  <define name="model.graphicLike_sequenceOptional">
    <optional>
      <ref name="graphic"/>
    </optional>
  </define>
  <define name="model.graphicLike_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="graphic"/>
    </zeroOrMore>
  </define>
  <define name="model.graphicLike_sequenceRepeatable">
    <oneOrMore>
      <ref name="graphic"/>
    </oneOrMore>
  </define>
  <define name="model.pPart.msdesc">
    <choice>
      <ref name="stamp"/>
    </choice>
  </define>
  <define name="model.pPart.msdesc_alternation">
    <choice>
      <ref name="stamp"/>
    </choice>
  </define>
  <define name="model.pPart.msdesc_sequence">
    <ref name="stamp"/>
  </define>
  <define name="model.pPart.msdesc_sequenceOptional">
    <optional>
      <ref name="stamp"/>
    </optional>
  </define>
  <define name="model.pPart.msdesc_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="stamp"/>
    </zeroOrMore>
  </define>
  <define name="model.pPart.msdesc_sequenceRepeatable">
    <oneOrMore>
      <ref name="stamp"/>
    </oneOrMore>
  </define>
  <define name="model.pPart.editorial">
    <choice>
      <ref name="abbr"/>
    </choice>
  </define>
  <define name="model.pPart.editorial_alternation">
    <choice>
      <ref name="abbr"/>
    </choice>
  </define>
  <define name="model.pPart.editorial_sequence">
    <ref name="abbr"/>
  </define>
  <define name="model.pPart.editorial_sequenceOptional">
    <optional>
      <ref name="abbr"/>
    </optional>
  </define>
  <define name="model.pPart.editorial_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="abbr"/>
    </zeroOrMore>
  </define>
  <define name="model.pPart.editorial_sequenceRepeatable">
    <oneOrMore>
      <ref name="abbr"/>
    </oneOrMore>
  </define>
  <define name="model.pPart.transcriptional">
    <choice>
      <ref name="del"/>
      <ref name="unclear"/>
    </choice>
  </define>
  <define name="model.pPart.transcriptional_alternation">
    <choice>
      <ref name="del"/>
      <ref name="unclear"/>
    </choice>
  </define>
  <define name="model.pPart.transcriptional_sequence">
    <ref name="del"/>
    <ref name="unclear"/>
  </define>
  <define name="model.pPart.transcriptional_sequenceOptional">
    <optional>
      <ref name="del"/>
    </optional>
    <optional>
      <ref name="unclear"/>
    </optional>
  </define>
  <define name="model.pPart.transcriptional_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="del"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="unclear"/>
    </zeroOrMore>
  </define>
  <define name="model.pPart.transcriptional_sequenceRepeatable">
    <oneOrMore>
      <ref name="del"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="unclear"/>
    </oneOrMore>
  </define>
  <define name="model.pPart.edit">
    <choice>
      <ref name="model.pPart.editorial"/>
      <ref name="model.pPart.transcriptional"/>
    </choice>
  </define>
  <define name="model.pPart.edit_alternation">
    <choice>
      <ref name="model.pPart.editorial_alternation"/>
      <ref name="model.pPart.transcriptional_alternation"/>
    </choice>
  </define>
  <define name="model.pPart.edit_sequence">
    <ref name="model.pPart.editorial_sequence"/>
    <ref name="model.pPart.transcriptional_sequence"/>
  </define>
  <define name="model.pPart.edit_sequenceOptional">
    <optional>
      <ref name="model.pPart.editorial_sequenceOptional"/>
    </optional>
    <optional>
      <ref name="model.pPart.transcriptional_sequenceOptional"/>
    </optional>
  </define>
  <define name="model.pPart.edit_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="model.pPart.editorial_sequenceOptionalRepeatable"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="model.pPart.transcriptional_sequenceOptionalRepeatable"/>
    </zeroOrMore>
  </define>
  <define name="model.pPart.edit_sequenceRepeatable">
    <oneOrMore>
      <ref name="model.pPart.editorial_sequenceRepeatable"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="model.pPart.transcriptional_sequenceRepeatable"/>
    </oneOrMore>
  </define>
  <define name="model.ptrLike">
    <notAllowed/>
  </define>
  <define name="model.ptrLike_alternation">
    <notAllowed/>
  </define>
  <define name="model.ptrLike_sequence">
    <empty/>
  </define>
  <define name="model.ptrLike_sequenceOptional">
    <empty/>
  </define>
  <define name="model.ptrLike_sequenceOptionalRepeatable">
    <empty/>
  </define>
  <define name="model.ptrLike_sequenceRepeatable">
    <notAllowed/>
  </define>
  <define name="model.milestoneLike">
    <choice>
      <ref name="lb"/>
    </choice>
  </define>
  <define name="model.milestoneLike_alternation">
    <choice>
      <ref name="lb"/>
    </choice>
  </define>
  <define name="model.milestoneLike_sequence">
    <ref name="lb"/>
  </define>
  <define name="model.milestoneLike_sequenceOptional">
    <optional>
      <ref name="lb"/>
    </optional>
  </define>
  <define name="model.milestoneLike_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="lb"/>
    </zeroOrMore>
  </define>
  <define name="model.milestoneLike_sequenceRepeatable">
    <oneOrMore>
      <ref name="lb"/>
    </oneOrMore>
  </define>
  <define name="model.gLike">
    <notAllowed/>
  </define>
  <define name="model.biblLike">
    <choice>
      <ref name="bibl"/>
    </choice>
  </define>
  <define name="model.biblLike_alternation">
    <choice>
      <ref name="bibl"/>
    </choice>
  </define>
  <define name="model.biblLike_sequence">
    <ref name="bibl"/>
  </define>
  <define name="model.biblLike_sequenceOptional">
    <optional>
      <ref name="bibl"/>
    </optional>
  </define>
  <define name="model.biblLike_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="bibl"/>
    </zeroOrMore>
  </define>
  <define name="model.biblLike_sequenceRepeatable">
    <oneOrMore>
      <ref name="bibl"/>
    </oneOrMore>
  </define>
  <define name="model.headLike">
    <choice>
      <ref name="head"/>
    </choice>
  </define>
  <define name="model.headLike_alternation">
    <choice>
      <ref name="head"/>
    </choice>
  </define>
  <define name="model.headLike_sequence">
    <ref name="head"/>
  </define>
  <define name="model.headLike_sequenceOptional">
    <optional>
      <ref name="head"/>
    </optional>
  </define>
  <define name="model.headLike_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="head"/>
    </zeroOrMore>
  </define>
  <define name="model.headLike_sequenceRepeatable">
    <oneOrMore>
      <ref name="head"/>
    </oneOrMore>
  </define>
  <define name="model.listLike">
    <choice>
      <ref name="list"/>
    </choice>
  </define>
  <define name="model.listLike_alternation">
    <choice>
      <ref name="list"/>
    </choice>
  </define>
  <define name="model.listLike_sequence">
    <ref name="list"/>
  </define>
  <define name="model.listLike_sequenceOptional">
    <optional>
      <ref name="list"/>
    </optional>
  </define>
  <define name="model.listLike_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="list"/>
    </zeroOrMore>
  </define>
  <define name="model.listLike_sequenceRepeatable">
    <oneOrMore>
      <ref name="list"/>
    </oneOrMore>
  </define>
  <define name="model.noteLike">
    <choice>
      <ref name="note"/>
    </choice>
  </define>
  <define name="model.noteLike_alternation">
    <choice>
      <ref name="note"/>
    </choice>
  </define>
  <define name="model.noteLike_sequence">
    <ref name="note"/>
  </define>
  <define name="model.noteLike_sequenceOptional">
    <optional>
      <ref name="note"/>
    </optional>
  </define>
  <define name="model.noteLike_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="note"/>
    </zeroOrMore>
  </define>
  <define name="model.noteLike_sequenceRepeatable">
    <oneOrMore>
      <ref name="note"/>
    </oneOrMore>
  </define>
  <define name="model.lLike">
    <notAllowed/>
  </define>
  <define name="model.lLike_alternation">
    <notAllowed/>
  </define>
  <define name="model.lLike_sequence">
    <empty/>
  </define>
  <define name="model.lLike_sequenceOptional">
    <empty/>
  </define>
  <define name="model.lLike_sequenceOptionalRepeatable">
    <empty/>
  </define>
  <define name="model.lLike_sequenceRepeatable">
    <notAllowed/>
  </define>
  <define name="model.pLike">
    <choice>
      <ref name="p"/>
    </choice>
  </define>
  <define name="model.pLike_alternation">
    <choice>
      <ref name="p"/>
    </choice>
  </define>
  <define name="model.pLike_sequence">
    <ref name="p"/>
  </define>
  <define name="model.pLike_sequenceOptional">
    <optional>
      <ref name="p"/>
    </optional>
  </define>
  <define name="model.pLike_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="p"/>
    </zeroOrMore>
  </define>
  <define name="model.pLike_sequenceRepeatable">
    <oneOrMore>
      <ref name="p"/>
    </oneOrMore>
  </define>
  <define name="model.global.edit">
    <choice>
      <ref name="gap"/>
    </choice>
  </define>
  <define name="model.global.edit_alternation">
    <choice>
      <ref name="gap"/>
    </choice>
  </define>
  <define name="model.global.edit_sequence">
    <ref name="gap"/>
  </define>
  <define name="model.global.edit_sequenceOptional">
    <optional>
      <ref name="gap"/>
    </optional>
  </define>
  <define name="model.global.edit_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="gap"/>
    </zeroOrMore>
  </define>
  <define name="model.global.edit_sequenceRepeatable">
    <oneOrMore>
      <ref name="gap"/>
    </oneOrMore>
  </define>
  <define name="model.divPart">
    <choice>
      <ref name="model.lLike"/>
      <ref name="model.pLike"/>
    </choice>
  </define>
  <define name="model.divPart_alternation">
    <choice>
      <ref name="model.lLike_alternation"/>
      <ref name="model.pLike_alternation"/>
    </choice>
  </define>
  <define name="model.divPart_sequence">
    <ref name="model.lLike_sequence"/>
    <ref name="model.pLike_sequence"/>
  </define>
  <define name="model.divPart_sequenceOptional">
    <optional>
      <ref name="model.lLike_sequenceOptional"/>
    </optional>
    <optional>
      <ref name="model.pLike_sequenceOptional"/>
    </optional>
  </define>
  <define name="model.divPart_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="model.lLike_sequenceOptionalRepeatable"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="model.pLike_sequenceOptionalRepeatable"/>
    </zeroOrMore>
  </define>
  <define name="model.divPart_sequenceRepeatable">
    <oneOrMore>
      <ref name="model.lLike_sequenceRepeatable"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="model.pLike_sequenceRepeatable"/>
    </oneOrMore>
  </define>
  <define name="model.publicationStmtPart">
    <choice>
      <ref name="address"/>
      <ref name="date"/>
      <ref name="publisher"/>
      <ref name="pubPlace"/>
      <ref name="idno"/>
      <ref name="availability"/>
    </choice>
  </define>
  <define name="model.availabilityPart">
    <choice>
      <ref name="licence"/>
    </choice>
  </define>
  <define name="model.glossLike">
    <notAllowed/>
  </define>
  <define name="model.qLike">
    <choice>
      <ref name="q"/>
    </choice>
  </define>
  <define name="model.qLike_alternation">
    <choice>
      <ref name="q"/>
    </choice>
  </define>
  <define name="model.qLike_sequence">
    <ref name="q"/>
  </define>
  <define name="model.qLike_sequenceOptional">
    <optional>
      <ref name="q"/>
    </optional>
  </define>
  <define name="model.qLike_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="q"/>
    </zeroOrMore>
  </define>
  <define name="model.qLike_sequenceRepeatable">
    <oneOrMore>
      <ref name="q"/>
    </oneOrMore>
  </define>
  <define name="model.respLike">
    <choice>
      <ref name="respStmt"/>
    </choice>
  </define>
  <define name="model.respLike_alternation">
    <choice>
      <ref name="respStmt"/>
    </choice>
  </define>
  <define name="model.respLike_sequence">
    <ref name="respStmt"/>
  </define>
  <define name="model.respLike_sequenceOptional">
    <optional>
      <ref name="respStmt"/>
    </optional>
  </define>
  <define name="model.respLike_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="respStmt"/>
    </zeroOrMore>
  </define>
  <define name="model.respLike_sequenceRepeatable">
    <oneOrMore>
      <ref name="respStmt"/>
    </oneOrMore>
  </define>
  <define name="model.divWrapper">
    <choice>
      <ref name="dateline"/>
      <ref name="salute"/>
    </choice>
  </define>
  <define name="model.divWrapper_alternation">
    <choice>
      <ref name="dateline"/>
      <ref name="salute"/>
    </choice>
  </define>
  <define name="model.divWrapper_sequence">
    <ref name="dateline"/>
    <ref name="salute"/>
  </define>
  <define name="model.divWrapper_sequenceOptional">
    <optional>
      <ref name="dateline"/>
    </optional>
    <optional>
      <ref name="salute"/>
    </optional>
  </define>
  <define name="model.divWrapper_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="dateline"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="salute"/>
    </zeroOrMore>
  </define>
  <define name="model.divWrapper_sequenceRepeatable">
    <oneOrMore>
      <ref name="dateline"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="salute"/>
    </oneOrMore>
  </define>
  <define name="model.divTopPart">
    <choice>
      <ref name="model.headLike"/>
    </choice>
  </define>
  <define name="model.divTopPart_alternation">
    <choice>
      <ref name="model.headLike_alternation"/>
    </choice>
  </define>
  <define name="model.divTopPart_sequence">
    <ref name="model.headLike_sequence"/>
  </define>
  <define name="model.divTopPart_sequenceOptional">
    <optional>
      <ref name="model.headLike_sequenceOptional"/>
    </optional>
  </define>
  <define name="model.divTopPart_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="model.headLike_sequenceOptionalRepeatable"/>
    </zeroOrMore>
  </define>
  <define name="model.divTopPart_sequenceRepeatable">
    <oneOrMore>
      <ref name="model.headLike_sequenceRepeatable"/>
    </oneOrMore>
  </define>
  <define name="model.divTop">
    <choice>
      <ref name="model.divWrapper"/>
      <ref name="model.divTopPart"/>
    </choice>
  </define>
  <define name="model.divBottomPart">
    <choice>
      <ref name="signed"/>
      <ref name="postscript"/>
    </choice>
  </define>
  <define name="model.divBottomPart_alternation">
    <choice>
      <ref name="signed"/>
      <ref name="postscript"/>
    </choice>
  </define>
  <define name="model.divBottomPart_sequence">
    <ref name="signed"/>
    <ref name="postscript"/>
  </define>
  <define name="model.divBottomPart_sequenceOptional">
    <optional>
      <ref name="signed"/>
    </optional>
    <optional>
      <ref name="postscript"/>
    </optional>
  </define>
  <define name="model.divBottomPart_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="signed"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="postscript"/>
    </zeroOrMore>
  </define>
  <define name="model.divBottomPart_sequenceRepeatable">
    <oneOrMore>
      <ref name="signed"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="postscript"/>
    </oneOrMore>
  </define>
  <define name="model.divBottom">
    <choice>
      <ref name="model.divWrapper"/>
      <ref name="model.divBottomPart"/>
    </choice>
  </define>
  <define name="model.msQuoteLike">
    <choice>
      <ref name="title"/>
    </choice>
  </define>
  <define name="model.msQuoteLike_alternation">
    <choice>
      <ref name="title"/>
    </choice>
  </define>
  <define name="model.msQuoteLike_sequence">
    <ref name="title"/>
  </define>
  <define name="model.msQuoteLike_sequenceOptional">
    <optional>
      <ref name="title"/>
    </optional>
  </define>
  <define name="model.msQuoteLike_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="title"/>
    </zeroOrMore>
  </define>
  <define name="model.msQuoteLike_sequenceRepeatable">
    <oneOrMore>
      <ref name="title"/>
    </oneOrMore>
  </define>
  <define name="model.imprintPart">
    <choice>
      <ref name="publisher"/>
      <ref name="pubPlace"/>
    </choice>
  </define>
  <define name="model.imprintPart_alternation">
    <choice>
      <ref name="publisher"/>
      <ref name="pubPlace"/>
    </choice>
  </define>
  <define name="model.imprintPart_sequence">
    <ref name="publisher"/>
    <ref name="pubPlace"/>
  </define>
  <define name="model.imprintPart_sequenceOptional">
    <optional>
      <ref name="publisher"/>
    </optional>
    <optional>
      <ref name="pubPlace"/>
    </optional>
  </define>
  <define name="model.imprintPart_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="publisher"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="pubPlace"/>
    </zeroOrMore>
  </define>
  <define name="model.imprintPart_sequenceRepeatable">
    <oneOrMore>
      <ref name="publisher"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="pubPlace"/>
    </oneOrMore>
  </define>
  <define name="model.catDescPart">
    <notAllowed/>
  </define>
  <define name="model.addressLike">
    <choice>
      <ref name="address"/>
    </choice>
  </define>
  <define name="model.addressLike_alternation">
    <choice>
      <ref name="address"/>
    </choice>
  </define>
  <define name="model.addressLike_sequence">
    <ref name="address"/>
  </define>
  <define name="model.addressLike_sequenceOptional">
    <optional>
      <ref name="address"/>
    </optional>
  </define>
  <define name="model.addressLike_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="address"/>
    </zeroOrMore>
  </define>
  <define name="model.addressLike_sequenceRepeatable">
    <oneOrMore>
      <ref name="address"/>
    </oneOrMore>
  </define>
  <define name="model.nameLike">
    <choice>
      <ref name="model.nameLike.agent"/>
      <ref name="idno"/>
    </choice>
  </define>
  <define name="model.nameLike_alternation">
    <choice>
      <ref name="model.nameLike.agent_alternation"/>
      <ref name="idno"/>
    </choice>
  </define>
  <define name="model.nameLike_sequence">
    <ref name="model.nameLike.agent_sequence"/>
    <ref name="idno"/>
  </define>
  <define name="model.nameLike_sequenceOptional">
    <optional>
      <ref name="model.nameLike.agent_sequenceOptional"/>
    </optional>
    <optional>
      <ref name="idno"/>
    </optional>
  </define>
  <define name="model.nameLike_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="model.nameLike.agent_sequenceOptionalRepeatable"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="idno"/>
    </zeroOrMore>
  </define>
  <define name="model.nameLike_sequenceRepeatable">
    <oneOrMore>
      <ref name="model.nameLike.agent_sequenceRepeatable"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="idno"/>
    </oneOrMore>
  </define>
  <define name="model.global">
    <choice>
      <ref name="model.milestoneLike"/>
      <ref name="model.noteLike"/>
      <ref name="model.global.edit"/>
      <ref name="figure"/>
    </choice>
  </define>
  <define name="model.biblPart">
    <choice>
      <ref name="model.respLike"/>
      <ref name="model.imprintPart"/>
      <ref name="bibl"/>
      <ref name="extent"/>
    </choice>
  </define>
  <define name="model.addrPart">
    <choice>
      <ref name="model.nameLike"/>
      <ref name="addrLine"/>
      <ref name="street"/>
      <ref name="postCode"/>
      <ref name="postBox"/>
    </choice>
  </define>
  <define name="model.pPart.data">
    <choice>
      <ref name="model.dateLike"/>
      <ref name="model.addressLike"/>
      <ref name="model.nameLike"/>
    </choice>
  </define>
  <define name="model.pPart.data_alternation">
    <choice>
      <ref name="model.dateLike_alternation"/>
      <ref name="model.addressLike_alternation"/>
      <ref name="model.nameLike_alternation"/>
    </choice>
  </define>
  <define name="model.pPart.data_sequence">
    <ref name="model.dateLike_sequence"/>
    <ref name="model.addressLike_sequence"/>
    <ref name="model.nameLike_sequence"/>
  </define>
  <define name="model.pPart.data_sequenceOptional">
    <optional>
      <ref name="model.dateLike_sequenceOptional"/>
    </optional>
    <optional>
      <ref name="model.addressLike_sequenceOptional"/>
    </optional>
    <optional>
      <ref name="model.nameLike_sequenceOptional"/>
    </optional>
  </define>
  <define name="model.pPart.data_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="model.dateLike_sequenceOptionalRepeatable"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="model.addressLike_sequenceOptionalRepeatable"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="model.nameLike_sequenceOptionalRepeatable"/>
    </zeroOrMore>
  </define>
  <define name="model.pPart.data_sequenceRepeatable">
    <oneOrMore>
      <ref name="model.dateLike_sequenceRepeatable"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="model.addressLike_sequenceRepeatable"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="model.nameLike_sequenceRepeatable"/>
    </oneOrMore>
  </define>
  <define name="model.inter">
    <choice>
      <ref name="model.biblLike"/>
      <ref name="model.listLike"/>
      <ref name="model.qLike"/>
    </choice>
  </define>
  <define name="model.inter_alternation">
    <choice>
      <ref name="model.biblLike_alternation"/>
      <ref name="model.listLike_alternation"/>
      <ref name="model.qLike_alternation"/>
    </choice>
  </define>
  <define name="model.inter_sequence">
    <ref name="model.biblLike_sequence"/>
    <ref name="model.listLike_sequence"/>
    <ref name="model.qLike_sequence"/>
  </define>
  <define name="model.inter_sequenceOptional">
    <optional>
      <ref name="model.biblLike_sequenceOptional"/>
    </optional>
    <optional>
      <ref name="model.listLike_sequenceOptional"/>
    </optional>
    <optional>
      <ref name="model.qLike_sequenceOptional"/>
    </optional>
  </define>
  <define name="model.inter_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="model.biblLike_sequenceOptionalRepeatable"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="model.listLike_sequenceOptionalRepeatable"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="model.qLike_sequenceOptionalRepeatable"/>
    </zeroOrMore>
  </define>
  <define name="model.inter_sequenceRepeatable">
    <oneOrMore>
      <ref name="model.biblLike_sequenceRepeatable"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="model.listLike_sequenceRepeatable"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="model.qLike_sequenceRepeatable"/>
    </oneOrMore>
  </define>
  <define name="model.common">
    <choice>
      <ref name="model.divPart"/>
      <ref name="model.inter"/>
    </choice>
  </define>
  <define name="model.phrase">
    <choice>
      <ref name="model.segLike"/>
      <ref name="model.highlighted"/>
      <ref name="model.graphicLike"/>
      <ref name="model.pPart.msdesc"/>
      <ref name="model.pPart.edit"/>
      <ref name="model.ptrLike"/>
      <ref name="model.pPart.data"/>
    </choice>
  </define>
  <define name="model.limitedPhrase">
    <choice>
      <ref name="model.emphLike"/>
      <ref name="model.pPart.msdesc"/>
      <ref name="model.pPart.editorial"/>
      <ref name="model.ptrLike"/>
      <ref name="model.pPart.data"/>
    </choice>
  </define>
  <define name="model.divLike">
    <choice>
      <ref name="div"/>
    </choice>
  </define>
  <define name="model.divGenLike">
    <notAllowed/>
  </define>
  <define name="model.div1Like">
    <notAllowed/>
  </define>
  <define name="model.teiHeaderPart">
    <choice>
      <ref name="profileDesc"/>
    </choice>
  </define>
  <define name="model.sourceDescPart">
    <notAllowed/>
  </define>
  <define name="model.profileDescPart">
    <choice>
      <ref name="langUsage"/>
    </choice>
  </define>
  <define name="model.resourceLike">
    <notAllowed/>
  </define>
  <define name="p">
    <element name="p">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(paragraph) marks paragraphs in prose. [3.1.  7.2.5. ]</a:documentation>
      <ref name="macro.paraContent"/>
      <ref name="att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="foreign">
    <element name="foreign">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(foreign) identifies a word or phrase as belonging to some language other than that of the
                surrounding text.  [3.3.2.1. ]</a:documentation>
      <ref name="macro.phraseSeq"/>
      <ref name="att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="emph">
    <element name="emph">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(emphasized) marks words or phrases which are stressed or emphasized for
        linguistic or rhetorical effect. [3.3.2.2.  3.3.2. ]</a:documentation>
      <ref name="macro.paraContent"/>
      <ref name="att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="q">
    <element name="q">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(quoted) contains material which is distinguished from the
    surrounding text using quotation marks or a similar method, for any one of a variety of reasons including, but not limited to: direct
    speech or thought, technical terms or jargon, authorial distance, quotations from elsewhere, and
    passages that are mentioned but not used. [3.3.3. ]</a:documentation>
      <ref name="macro.specialPara"/>
      <ref name="att.global.attributes"/>
      <optional>
        <attribute name="type">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">may be used to indicate whether the offset passage is spoken or thought, or to
        characterize it more finely.
Suggested values include: 1] spoken; 2] thought; 3] written; 4] soCalled; 5] foreign(foreign words) ; 6] distinct(linguistically distinct) ; 7] term(technical term) ; 8] emph(rhetorically emphasized) ; 9] mentioned</a:documentation>
          <choice>
            <value>spoken</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">representation of speech</a:documentation>
            <value>thought</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">representation of thought, e.g. internal monologue</a:documentation>
            <value>written</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">quotation from a written source</a:documentation>
            <value>soCalled</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">authorial distance</a:documentation>
            <value>foreign</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(foreign words) </a:documentation>
            <value>distinct</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(linguistically distinct) </a:documentation>
            <value>term</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(technical term) </a:documentation>
            <value>emph</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(rhetorically emphasized) </a:documentation>
            <value>mentioned</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">refering to itself, not its normal referant</a:documentation>
            <data type="Name"/>
          </choice>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="gap">
    <element name="gap">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(gap) indicates a point where material has been omitted in a transcription, whether for editorial
    reasons described in the TEI header, as part of sampling practice, or because the material is
    illegible, invisible, or inaudible. [3.4.3. ]</a:documentation>
      <zeroOrMore>
        <ref name="model.glossLike"/>
      </zeroOrMore>
      <ref name="att.global.attributes"/>
      <ref name="att.editLike.attributes"/>
      <optional>
        <attribute name="reason">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">gives the reason for omission. Sample values include sampling,
        inaudible, irrelevant, cancelled.</a:documentation>
          <list>
            <ref name="data.word"/>
            <zeroOrMore>
              <ref name="data.word"/>
            </zeroOrMore>
          </list>
        </attribute>
      </optional>
      <optional>
        <attribute name="hand">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">in the case of text omitted from the transcription because of deliberate deletion by an
        identifiable hand, signifies the hand which made the deletion.</a:documentation>
          <ref name="data.pointer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="agent">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">In the case of text omitted because of damage, categorizes the cause of the damage, if
        it can be identified.
Sample values include: 1] rubbing; 2] mildew; 3] smoke</a:documentation>
          <ref name="data.enumerated"/>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="del">
    <element name="del">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(deletion) contains a letter, word, or passage deleted, marked as deleted, or otherwise indicated as
    superfluous or spurious in the copy text by an author, scribe, annotator, or corrector. [3.4.3. ]</a:documentation>
      <ref name="macro.paraContent"/>
      <ref name="att.global.attributes"/>
      <ref name="att.transcriptional.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="unclear">
    <element name="unclear">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a word, phrase, or passage which cannot be transcribed with certainty because it
        is illegible or inaudible in the source. [11.3.3.1.  3.4.3. ]</a:documentation>
      <ref name="macro.paraContent"/>
      <ref name="att.global.attributes"/>
      <ref name="att.editLike.attributes"/>
      <optional>
        <attribute name="reason">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates why the material is hard to transcribe.</a:documentation>
          <list>
            <ref name="data.word"/>
            <zeroOrMore>
              <ref name="data.word"/>
            </zeroOrMore>
          </list>
        </attribute>
      </optional>
      <optional>
        <attribute name="hand">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Where the difficulty in transcription arises from action (partial deletion, etc.)
                assignable to an identifiable hand, signifies the hand responsible for the action.</a:documentation>
          <ref name="data.pointer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="agent">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Where the difficulty in transcription arises from damage, categorizes the cause of
                the damage, if it can be identified.
Sample values include: 1] rubbing; 2] mildew; 3] smoke</a:documentation>
          <ref name="data.enumerated"/>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="name">
    <element name="name">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(name, proper noun) contains a proper noun or noun phrase. [3.5.1. ]</a:documentation>
      <ref name="macro.phraseSeq"/>
      <ref name="att.global.attributes"/>
      <ref name="att.naming.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="address">
    <element name="address">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a postal  address, for example of a
        publisher, an organization, or an individual. [3.5.2.  2.2.4.  3.11.2.3. ]</a:documentation>
      <group>
        <zeroOrMore>
          <ref name="model.global"/>
        </zeroOrMore>
        <oneOrMore>
          <group>
            <ref name="model.addrPart"/>
          </group>
          <zeroOrMore>
            <ref name="model.global"/>
          </zeroOrMore>
        </oneOrMore>
      </group>
      <ref name="att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="addrLine">
    <element name="addrLine">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(address line) contains one line of a postal address. [3.5.2.  2.2.4.  3.11.2.3. ]</a:documentation>
      <ref name="macro.phraseSeq"/>
      <ref name="att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="street">
    <element name="street">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">a full street address including any name or number identifying a
        building as well as the name of the street or route on which it is
        located. [3.5.2. ]</a:documentation>
      <ref name="macro.phraseSeq"/>
      <ref name="att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="postCode">
    <element name="postCode">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(postal code) contains a numerical or alphanumeric code used as part of a postal address to simplify
        sorting or delivery of mail.  [3.5.2. ]</a:documentation>
      <text/>
      <ref name="att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="postBox">
    <element name="postBox">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(postal box or post office box) contains a number or other identifier for some postal delivery point other than a street
    address.  [3.5.2. ]</a:documentation>
      <text/>
      <ref name="att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="date">
    <element name="date">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a date in any format. [3.5.4.  2.2.4.  2.5.  3.11.2.3.  15.2.3.  13.3.6. ]</a:documentation>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="model.gLike"/>
          <ref name="model.phrase"/>
          <ref name="model.global"/>
        </choice>
      </zeroOrMore>
      <ref name="att.global.attributes"/>
      <ref name="att.datable.attribute.calendar"/>
      <ref name="att.datable.attribute.period"/>
      <ref name="att.datable.w3c.attributes"/>
      <ref name="att.editLike.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="abbr">
    <element name="abbr">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(abbreviation) contains an abbreviation of any sort. [3.5.5. ]</a:documentation>
      <ref name="macro.phraseSeq"/>
      <ref name="att.global.attributes"/>
      <ref name="att.responsibility.attributes"/>
      <optional>
        <attribute name="type">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">allows the encoder to classify the abbreviation according to some convenient
                typology.
Sample values include: 1] suspension; 2] contraction; 3] brevigraph; 4] superscription; 5] acronym; 6] title; 7] organization; 8] geographic</a:documentation>
          <ref name="data.enumerated"/>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="list">
    <element name="list">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(list) contains any sequence of items organized as a list. [3.7. ]</a:documentation>
      <group>
        <zeroOrMore>
          <choice>
            <group>
              <ref name="model.divTop"/>
            </group>
            <group>
              <ref name="model.global"/>
            </group>
          </choice>
        </zeroOrMore>
        <choice>
          <oneOrMore>
            <ref name="item"/>
            <zeroOrMore>
              <ref name="model.global"/>
            </zeroOrMore>
          </oneOrMore>
          <group>
            <optional>
              <empty/>
            </optional>
            <optional>
              <empty/>
            </optional>
            <oneOrMore>
              <zeroOrMore>
                <ref name="model.global"/>
              </zeroOrMore>
              <ref name="item"/>
              <zeroOrMore>
                <ref name="model.global"/>
              </zeroOrMore>
            </oneOrMore>
          </group>
        </choice>
        <zeroOrMore>
          <group>
            <group>
              <ref name="model.divBottom"/>
            </group>
            <zeroOrMore>
              <ref name="model.global"/>
            </zeroOrMore>
          </group>
        </zeroOrMore>
      </group>
      <ref name="att.global.attributes"/>
      <ref name="att.sortable.attributes"/>
      <optional>
        <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" name="type" a:defaultValue="simple">
          <a:documentation>describes the form of the list.
Suggested values include: 1] ordered; 2] bulleted; 3] simple; 4] gloss</a:documentation>
          <choice>
            <value>ordered</value>
            <a:documentation>list items are numbered or lettered. </a:documentation>
            <value>bulleted</value>
            <a:documentation>list items are marked with a bullet or other typographic device. </a:documentation>
            <value>simple</value>
            <a:documentation>list items are not numbered or bulleted. </a:documentation>
            <value>gloss</value>
            <a:documentation>each list item glosses some term or concept, which is given by a label element
            preceding the list item.</a:documentation>
            <data type="Name"/>
          </choice>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="item">
    <element name="item">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains one component of a list. [3.7.  2.5. ]</a:documentation>
      <ref name="macro.specialPara"/>
      <ref name="att.global.attributes"/>
      <ref name="att.sortable.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="head">
    <element name="head">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(heading) contains any type of heading, for example the title of a section, or the heading of a list,
    glossary, manuscript description, etc. [4.2.1. ]</a:documentation>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="model.gLike"/>
          <ref name="model.phrase"/>
          <ref name="model.inter"/>
          <ref name="model.lLike"/>
          <ref name="model.global"/>
        </choice>
      </zeroOrMore>
      <ref name="att.global.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="note">
    <element name="note">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a note or annotation. [3.8.1.  2.2.6.  3.11.2.6.  9.3.5.4. ]</a:documentation>
      <ref name="macro.specialPara"/>
      <ref name="att.global.attributes"/>
      <ref name="att.placement.attributes"/>
      <ref name="att.pointing.attributes"/>
      <ref name="att.responsibility.attributes"/>
      <ref name="att.typed.attributes"/>
      <optional>
        <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" name="anchored" a:defaultValue="true">
          <a:documentation>indicates whether the copy text shows the exact place of reference for the note.</a:documentation>
          <ref name="data.truthValue"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="targetEnd">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to the end of the span to which the note is attached, if the note is not embedded
        in the text at that point.</a:documentation>
          <list>
            <ref name="data.pointer"/>
            <zeroOrMore>
              <ref name="data.pointer"/>
            </zeroOrMore>
          </list>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="graphic">
    <element name="graphic">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the location of an inline graphic, illustration, or figure. [3.9. ]</a:documentation>
      <zeroOrMore>
        <ref name="model.glossLike"/>
      </zeroOrMore>
      <ref name="att.global.attributes"/>
      <ref name="att.internetMedia.attributes"/>
      <optional>
        <attribute name="width">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The display width of the image</a:documentation>
          <ref name="data.outputMeasurement"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="height">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">The display height of the image</a:documentation>
          <ref name="data.outputMeasurement"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="scale">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A scale factor to be applied to the image to make it the desired display size</a:documentation>
          <ref name="data.numeric"/>
        </attribute>
      </optional>
      <attribute name="url">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(uniform resource locator) A URL which refers to the image itself.</a:documentation>
        <ref name="data.pointer"/>
      </attribute>
      <empty/>
    </element>
  </define>
  <define name="lb">
    <element name="lb">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(line break) marks the start of a new (typographic) line in some edition or version of a text. [3.10.3.  7.2.5. ]</a:documentation>
      <empty/>
      <ref name="att.global.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.sourced.attributes"/>
      <ref name="att.spanning.attributes"/>
      <ref name="att.breaking.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="respStmt">
    <element name="respStmt">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(statement of responsibility) supplies a statement of responsibility for the intellectual content of a text, edition,
    recording, or series, where the specialized elements for authors, editors, etc. do not suffice
    or do not apply. May also be used to encode information about individuals or organizations 
    which have played a role in the production or distribution of a bibliographic work. [3.11.2.2.  2.2.1.  2.2.2.  2.2.5. ]</a:documentation>
      <choice>
        <group>
          <oneOrMore>
            <ref name="resp"/>
          </oneOrMore>
          <oneOrMore>
            <ref name="model.nameLike.agent"/>
          </oneOrMore>
        </group>
        <group>
          <oneOrMore>
            <ref name="model.nameLike.agent"/>
          </oneOrMore>
          <oneOrMore>
            <ref name="resp"/>
          </oneOrMore>
        </group>
      </choice>
      <ref name="att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="resp">
    <element name="resp">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(responsibility) contains a phrase describing the nature of a person's intellectual responsibility, or an organization's role 
    in the production or distribution of a work. [3.11.2.2.  2.2.1.  2.2.2.  2.2.5. ]</a:documentation>
      <ref name="macro.phraseSeq.limited"/>
      <ref name="att.global.attributes"/>
      <ref name="att.canonical.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="title">
    <element name="title">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a title for any kind of work. [3.11.2.2.  2.2.1.  2.2.5. ]</a:documentation>
      <ref name="macro.paraContent"/>
      <ref name="att.global.attributes"/>
      <ref name="att.canonical.attributes"/>
      <optional>
        <attribute name="level">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the bibliographic level for a title, that is, whether
                                        it identifies an article, book, journal, series, or
                                        unpublished material.</a:documentation>
          <choice>
            <value>a</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(analytic) analytic title (article, poem, or other item
                                                  published as part of a larger item) </a:documentation>
            <value>m</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(monographic) monographic title (book, collection, or
                                                  other item published as a distinct item,
                                                  including single volumes of multi-volume
                                                  works) </a:documentation>
            <value>j</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(journal) journal title </a:documentation>
            <value>s</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(series) series title </a:documentation>
            <value>u</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(unpublished) title of unpublished material (including
                                                  theses and dissertations unless
                                                  published by a commercial press)</a:documentation>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">classifies the title according to some convenient typology.
Sample values include: 1] main; 2] sub(subordinate) ; 3] alt(alternate) ; 4] short; 5] desc(descriptive) </a:documentation>
          <ref name="data.enumerated"/>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="publisher">
    <element name="publisher">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides the name of the organization responsible for the publication or distribution of a
        bibliographic item. [3.11.2.3.  2.2.4. ]</a:documentation>
      <ref name="macro.phraseSeq"/>
      <ref name="att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="pubPlace">
    <element name="pubPlace">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(publication place) contains the name of the place where a bibliographic item was published. [3.11.2.3. ]</a:documentation>
      <ref name="macro.phraseSeq"/>
      <ref name="att.global.attributes"/>
      <ref name="att.naming.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="bibl">
    <element name="bibl">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(bibliographic citation) contains a loosely-structured bibliographic citation of which the sub-components may or may
    not be explicitly tagged.  [3.11.1.  2.2.7.  15.3.2. ]</a:documentation>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="model.gLike"/>
          <ref name="model.highlighted"/>
          <ref name="model.pPart.data"/>
          <ref name="model.pPart.edit"/>
          <ref name="model.segLike"/>
          <ref name="model.ptrLike"/>
          <ref name="model.biblPart"/>
          <ref name="model.global"/>
        </choice>
      </zeroOrMore>
      <ref name="att.global.attributes"/>
      <ref name="att.typed.attributes"/>
      <ref name="att.sortable.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="teiCorpus">
    <element name="teiCorpus">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains the whole of a TEI encoded corpus, comprising a single corpus header and one or
    more TEI elements, each containing a single text header and a text. [4.  15.1. ]</a:documentation>
      <group>
        <ref name="teiHeader"/>
        <oneOrMore>
          <choice>
            <ref name="TEI"/>
            <ref name="teiCorpus"/>
          </choice>
        </oneOrMore>
      </group>
      <ref name="att.global.attributes"/>
      <optional>
        <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" name="version" a:defaultValue="5.0">
          <a:documentation>The version of the TEI scheme</a:documentation>
          <ref name="data.version"/>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="teiHeader">
    <element name="teiHeader">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(TEI Header) supplies the descriptive and declarative information making up an electronic title page
    prefixed to every TEI-conformant text. [2.1.1.  15.1. ]</a:documentation>
      <group>
        <ref name="fileDesc"/>
        <zeroOrMore>
          <ref name="model.teiHeaderPart"/>
        </zeroOrMore>
        <optional>
          <ref name="revisionDesc"/>
        </optional>
      </group>
      <ref name="att.global.attributes"/>
      <optional>
        <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" name="type" a:defaultValue="text">
          <a:documentation>specifies the kind of document to which the header is attached, for example whether it
        is a corpus or individual text.
Sample values include: 1] text; 2] corpus</a:documentation>
          <ref name="data.enumerated"/>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="fileDesc">
    <element name="fileDesc">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(file description) contains a full bibliographic description of an electronic file. [2.2.  2.1.1. ]</a:documentation>
      <group>
        <group>
          <ref name="titleStmt"/>
          <optional>
            <empty/>
          </optional>
          <optional>
            <ref name="extent"/>
          </optional>
          <ref name="publicationStmt"/>
          <optional>
            <empty/>
          </optional>
          <optional>
            <empty/>
          </optional>
        </group>
        <oneOrMore>
          <ref name="sourceDesc"/>
        </oneOrMore>
      </group>
      <ref name="att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="titleStmt">
    <element name="titleStmt">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(title statement) groups information about the title of a work and those responsible for its content. [2.2.1.  2.2. ]</a:documentation>
      <group>
        <oneOrMore>
          <ref name="title"/>
        </oneOrMore>
        <zeroOrMore>
          <ref name="model.respLike"/>
        </zeroOrMore>
      </group>
      <ref name="att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="extent">
    <element name="extent">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">describes the approximate size of a text as stored on some carrier medium, whether digital
    or non-digital, specified in any convenient units. [2.2.3.  2.2.  3.11.2.3. ]</a:documentation>
      <ref name="macro.phraseSeq"/>
      <ref name="att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="publicationStmt">
    <element name="publicationStmt">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(publication statement) groups information concerning the publication or distribution of an electronic or other
    text.  [2.2.4.  2.2. ]</a:documentation>
      <choice>
        <oneOrMore>
          <ref name="model.pLike"/>
        </oneOrMore>
        <oneOrMore>
          <ref name="model.publicationStmtPart"/>
        </oneOrMore>
      </choice>
      <ref name="att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="idno">
    <element name="idno">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identifier) supplies any form of identifier used to identify some object,
  such as a bibliographic item, a person, a title, an organization,
  etc. in a standardized way. [2.2.4.  2.2.5.  3.11.2.3. ]</a:documentation>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="model.gLike"/>
          <ref name="idno"/>
        </choice>
      </zeroOrMore>
      <ref name="att.global.attributes"/>
      <ref name="att.sortable.attributes"/>
      <optional>
        <attribute name="type">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">categorizes the identifier, for example as an ISBN, Social
      Security number, etc. </a:documentation>
          <ref name="data.enumerated"/>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="availability">
    <element name="availability">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies information about the availability of a text, for example any restrictions on its
    use or distribution, its copyright status, any licence applying to it, etc. [2.2.4. ]</a:documentation>
      <oneOrMore>
        <choice>
          <ref name="model.availabilityPart"/>
          <ref name="model.pLike"/>
        </choice>
      </oneOrMore>
      <ref name="att.global.attributes"/>
      <optional>
        <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" name="status" a:defaultValue="unknown">
          <a:documentation>supplies a code identifying the current availability of the text. </a:documentation>
          <choice>
            <value>free</value>
            <a:documentation>the text is freely available. </a:documentation>
            <value>unknown</value>
            <a:documentation>the status of the text is unknown. </a:documentation>
            <value>restricted</value>
            <a:documentation>the text is not freely available. </a:documentation>
          </choice>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="licence">
    <element name="licence">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains information about a licence or other legal agreement
  applicable to the text. [2.2.4. ]</a:documentation>
      <ref name="macro.specialPara"/>
      <ref name="att.global.attributes"/>
      <ref name="att.pointing.attributes"/>
      <ref name="att.datable.attribute.calendar"/>
      <ref name="att.datable.attribute.period"/>
      <ref name="att.datable.w3c.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="sourceDesc">
    <element name="sourceDesc">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(source description) describes the source from which an electronic text was derived or generated, typically a
    bibliographic description in the case of a digitized text, or a phrase such as "born digital"
    for a text which has no previous existence. [2.2.7. ]</a:documentation>
      <choice>
        <oneOrMore>
          <ref name="model.pLike"/>
        </oneOrMore>
        <oneOrMore>
          <choice>
            <ref name="model.biblLike"/>
            <ref name="model.sourceDescPart"/>
            <ref name="model.listLike"/>
          </choice>
        </oneOrMore>
      </choice>
      <ref name="att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="projectDesc">
    <element name="projectDesc">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(project description) describes in detail the aim or purpose for which an electronic file was encoded, together
    with any other relevant information concerning the process by which it was assembled or
    collected. [2.3.1.  2.3.  15.3.2. ]</a:documentation>
      <oneOrMore>
        <ref name="model.pLike"/>
      </oneOrMore>
      <ref name="att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="classDecl">
    <element name="classDecl">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(classification declarations) contains one or more taxonomies defining any classificatory
codes used elsewhere in the text. [2.3.6.  2.3. ]</a:documentation>
      <oneOrMore>
        <empty/>
      </oneOrMore>
      <ref name="att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="category">
    <element name="category">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains an individual descriptive category, possibly nested within a superordinate
    category, within a user-defined taxonomy. [2.3.6. ]</a:documentation>
      <group>
        <choice>
          <oneOrMore>
            <ref name="catDesc"/>
          </oneOrMore>
          <zeroOrMore>
            <ref name="model.glossLike"/>
          </zeroOrMore>
        </choice>
        <zeroOrMore>
          <ref name="category"/>
        </zeroOrMore>
      </group>
      <ref name="att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="catDesc">
    <element name="catDesc">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(category description) describes some category within a taxonomy or text typology, either in the form of a brief
    prose description or in terms of the situational parameters used by the TEI formal textDesc. [2.3.6. ]</a:documentation>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="model.limitedPhrase"/>
          <ref name="model.catDescPart"/>
        </choice>
      </zeroOrMore>
      <ref name="att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="profileDesc">
    <element name="profileDesc">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(text-profile description) provides a detailed description of non-bibliographic aspects of a text, specifically the
    languages and sublanguages used, the situation in which it was produced, the participants and
    their setting. [2.4.  2.1.1. ]</a:documentation>
      <group>
        <zeroOrMore>
          <ref name="model.profileDescPart"/>
        </zeroOrMore>
      </group>
      <ref name="att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="langUsage">
    <element name="langUsage">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(language usage) describes the languages, sublanguages, registers, dialects, etc.
represented within a text. [2.4.2.  2.4.  15.3.2. ]</a:documentation>
      <oneOrMore>
        <ref name="language"/>
      </oneOrMore>
      <ref name="att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="language">
    <element name="language">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes a single language or sublanguage used within a text. [2.4.2. ]</a:documentation>
      <ref name="macro.phraseSeq.limited"/>
      <ref name="att.global.attributes"/>
      <attribute name="ident">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identifier) Supplies a language code constructed as defined in BCP 47 which is used to identify the
        language documented by this element, and which is referenced by the global
        xml:lang attribute.</a:documentation>
        <ref name="data.language"/>
      </attribute>
      <optional>
        <attribute name="usage">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the approximate percentage (by volume) of the text which uses this language. </a:documentation>
          <data type="nonNegativeInteger">
            <param name="maxInclusive">100</param>
          </data>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="revisionDesc">
    <element name="revisionDesc">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(revision description) summarizes the revision history for a file. [2.5.  2.1.1. ]</a:documentation>
      <choice>
        <ref name="list"/>
        <oneOrMore>
          <ref name="change"/>
        </oneOrMore>
      </choice>
      <ref name="att.global.attributes"/>
      <ref name="att.docStatus.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="change">
    <element name="change">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">documents a change or set of changes made during the production
  of a source document, or during the revision of an electronic file. [2.5.  2.4.1. ]</a:documentation>
      <ref name="macro.specialPara"/>
      <ref name="att.datable.attribute.calendar"/>
      <ref name="att.datable.attribute.period"/>
      <ref name="att.datable.w3c.attributes"/>
      <ref name="att.docStatus.attributes"/>
      <ref name="att.global.attributes"/>
      <ref name="att.typed.attributes"/>
      <optional>
        <attribute name="target">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to one or more elements that belong to this change.</a:documentation>
          <list>
            <ref name="data.pointer"/>
            <zeroOrMore>
              <ref name="data.pointer"/>
            </zeroOrMore>
          </list>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="TEI">
    <element name="TEI">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(TEI document) contains a single TEI-conformant document,
comprising a TEI header and a text, either in isolation or as part of a
teiCorpus element. [4.  15.1. ]</a:documentation>
      <group>
        <ref name="teiHeader"/>
        <choice>
          <group>
            <oneOrMore>
              <ref name="model.resourceLike"/>
            </oneOrMore>
            <optional>
              <ref name="text"/>
            </optional>
          </group>
          <ref name="text"/>
        </choice>
      </group>
      <ns xmlns="http://purl.oclc.org/dsdl/schematron" prefix="tei" uri="http://www.tei-c.org/ns/1.0"/>
      <ns xmlns="http://purl.oclc.org/dsdl/schematron" prefix="rng" uri="http://relaxng.org/ns/structure/1.0"/>
      <ref name="att.global.attributes"/>
      <optional>
        <attribute name="version">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the major version number of the TEI Guidelines against
      which this document is valid.</a:documentation>
          <ref name="data.version"/>
        </attribute>
      </optional>
      <empty/>
    </element>
  </define>
  <define name="text">
    <element name="text">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a single text of any kind, whether unitary or composite, for example a poem or
    drama, a collection of essays, a novel, a dictionary, or a corpus sample. [4.  15.1. ]</a:documentation>
      <group>
        <zeroOrMore>
          <ref name="model.global"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="model.global"/>
        </zeroOrMore>
        <choice>
          <ref name="body"/>
        </choice>
        <zeroOrMore>
          <ref name="model.global"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="model.global"/>
        </zeroOrMore>
      </group>
      <ref name="att.global.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="body">
    <element name="body">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(text body) contains the whole body of a single unitary text, excluding any front or back matter. [4. ]</a:documentation>
      <group>
        <zeroOrMore>
          <ref name="model.global"/>
        </zeroOrMore>
        <optional>
          <group>
            <group>
              <ref name="model.divTop"/>
            </group>
            <zeroOrMore>
              <choice>
                <ref name="model.global"/>
                <ref name="model.divTop"/>
              </choice>
            </zeroOrMore>
          </group>
        </optional>
        <optional>
          <group>
            <group>
              <ref name="model.divGenLike"/>
            </group>
            <zeroOrMore>
              <choice>
                <ref name="model.global"/>
                <ref name="model.divGenLike"/>
              </choice>
            </zeroOrMore>
          </group>
        </optional>
        <group>
          <choice>
            <oneOrMore>
              <group>
                <group>
                  <ref name="model.divLike"/>
                </group>
                <zeroOrMore>
                  <choice>
                    <ref name="model.global"/>
                    <ref name="model.divGenLike"/>
                  </choice>
                </zeroOrMore>
              </group>
            </oneOrMore>
            <oneOrMore>
              <group>
                <group>
                  <ref name="model.div1Like"/>
                </group>
                <zeroOrMore>
                  <choice>
                    <ref name="model.global"/>
                    <ref name="model.divGenLike"/>
                  </choice>
                </zeroOrMore>
              </group>
            </oneOrMore>
            <group>
              <oneOrMore>
                <group>
                  <ref name="model.common"/>
                </group>
                <zeroOrMore>
                  <ref name="model.global"/>
                </zeroOrMore>
              </oneOrMore>
              <optional>
                <choice>
                  <oneOrMore>
                    <group>
                      <group>
                        <ref name="model.divLike"/>
                      </group>
                      <zeroOrMore>
                        <choice>
                          <ref name="model.global"/>
                          <ref name="model.divGenLike"/>
                        </choice>
                      </zeroOrMore>
                    </group>
                  </oneOrMore>
                  <oneOrMore>
                    <group>
                      <group>
                        <ref name="model.div1Like"/>
                      </group>
                      <zeroOrMore>
                        <choice>
                          <ref name="model.global"/>
                          <ref name="model.divGenLike"/>
                        </choice>
                      </zeroOrMore>
                    </group>
                  </oneOrMore>
                </choice>
              </optional>
            </group>
          </choice>
        </group>
        <zeroOrMore>
          <group>
            <group>
              <ref name="model.divBottom"/>
            </group>
            <zeroOrMore>
              <ref name="model.global"/>
            </zeroOrMore>
          </group>
        </zeroOrMore>
      </group>
      <ref name="att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="div">
    <element name="div">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(text division) contains a subdivision of the front, body, or back of a text. [4.1. ]</a:documentation>
      <group>
        <zeroOrMore>
          <choice>
            <ref name="model.divTop"/>
            <ref name="model.global"/>
          </choice>
        </zeroOrMore>
        <optional>
          <choice>
            <group>
              <oneOrMore>
                <choice>
                  <ref name="model.divLike"/>
                  <ref name="model.divGenLike"/>
                </choice>
                <zeroOrMore>
                  <ref name="model.global"/>
                </zeroOrMore>
              </oneOrMore>
            </group>
            <group>
              <oneOrMore>
                <group>
                  <ref name="model.common"/>
                </group>
                <zeroOrMore>
                  <ref name="model.global"/>
                </zeroOrMore>
              </oneOrMore>
              <zeroOrMore>
                <choice>
                  <ref name="model.divLike"/>
                  <ref name="model.divGenLike"/>
                </choice>
                <zeroOrMore>
                  <ref name="model.global"/>
                </zeroOrMore>
              </zeroOrMore>
            </group>
          </choice>
          <zeroOrMore>
            <group>
              <ref name="model.divBottom"/>
            </group>
            <zeroOrMore>
              <ref name="model.global"/>
            </zeroOrMore>
          </zeroOrMore>
        </optional>
      </group>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
        <choice>
          <value>recto</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the front side of the card usually containing a
                                        picture</a:documentation>
          <value>verso</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the back side of the card usually containing the message
                                        and the addressee</a:documentation>
          <value>message</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">a part of the card containing a message</a:documentation>
          <value>destination</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the part of the card containing the address and other
                                        information about its sending e.g. stamps or
                                        postmarks</a:documentation>
        </choice>
      </attribute>
      <ref name="att.global.attributes"/>
      <ref name="att.divLike.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="dateline">
    <element name="dateline">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a brief description of the place, date, time, etc. of production of a letter,
    newspaper story, or other work, prefixed or suffixed to it as a kind of heading or trailer.  [4.2.2. ]</a:documentation>
      <ref name="macro.phraseSeq"/>
      <ref name="att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="salute">
    <element name="salute">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(salutation) contains a salutation or greeting prefixed to a foreword, dedicatory epistle, or other
    division of a text, or the salutation in the closing of a letter, preface, etc. [4.2.2. ]</a:documentation>
      <ref name="macro.phraseSeq"/>
      <ref name="att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="signed">
    <element name="signed">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(signature) contains the closing salutation, etc., appended to a foreword,
dedicatory epistle, or other division of a text.  [4.2.2. ]</a:documentation>
      <ref name="macro.phraseSeq"/>
      <ref name="att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="postscript">
    <element name="postscript">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a postscript, e.g. to a letter. [4.2. ]</a:documentation>
      <group>
        <zeroOrMore>
          <choice>
            <ref name="model.global"/>
            <ref name="model.divTopPart"/>
          </choice>
        </zeroOrMore>
        <group>
          <ref name="model.common"/>
        </group>
        <zeroOrMore>
          <choice>
            <ref name="model.global"/>
            <ref name="model.common"/>
          </choice>
        </zeroOrMore>
        <zeroOrMore>
          <group>
            <ref name="model.divBottomPart"/>
          </group>
          <zeroOrMore>
            <ref name="model.global"/>
          </zeroOrMore>
        </zeroOrMore>
      </group>
      <ref name="att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="figure">
    <element name="figure">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">groups elements representing or containing graphic information
  such as an illustration, formula,  or    figure. [14.4. ]</a:documentation>
      <zeroOrMore>
        <choice>
          <ref name="model.headLike"/>
          <ref name="model.common"/>
          <ref name="figDesc"/>
          <ref name="model.graphicLike"/>
          <ref name="model.global"/>
          <ref name="model.divBottomPart"/>
        </choice>
      </zeroOrMore>
      <ref name="att.global.attributes"/>
      <ref name="att.placement.attributes"/>
      <ref name="att.typed.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="figDesc">
    <element name="figDesc">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(description of figure) contains a brief prose description of the appearance or content
of a graphic figure, for use when documenting an image without
displaying it. [14.4. ]</a:documentation>
      <ref name="macro.limitedContent"/>
      <ref name="att.global.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="stamp">
    <element name="stamp">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a word or phrase describing a
stamp or similar device. [10.3.3. ]</a:documentation>
      <ref name="macro.phraseSeq"/>
      <optional>
        <attribute name="type">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
          <choice>
            <value>postmark</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">information in the postmark</a:documentation>
            <value>publicity</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">slogan or publicity stamped when card was posted</a:documentation>
            <value>postage</value>
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">description of any postage stamp or seal affixed to the
                                        card</a:documentation>
          </choice>
        </attribute>
      </optional>
      <ref name="att.global.attributes"/>
      <ref name="att.datable.attribute.calendar"/>
      <ref name="att.datable.attribute.period"/>
      <ref name="att.datable.w3c.attributes"/>
      <empty/>
    </element>
  </define>
  <define name="att.global.facs.attributes">
    <ref name="att.global.facs.attribute.facs"/>
  </define>
  <define name="att.global.facs.attribute.facs">
    <optional>
      <attribute name="facs">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(facsimile) points to all or part of an image which corresponds with the content of the element.</a:documentation>
        <list>
          <ref name="data.pointer"/>
          <zeroOrMore>
            <ref name="data.pointer"/>
          </zeroOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <define name="att.global.change.attributes">
    <ref name="att.global.change.attribute.change"/>
  </define>
  <define name="att.global.change.attribute.change">
    <optional>
      <attribute name="change">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to one or more change elements documenting
      a state or revision campaign to which the element bearing this
      attribute and its children have been assigned by the encoder.</a:documentation>
        <list>
          <ref name="data.pointer"/>
          <zeroOrMore>
            <ref name="data.pointer"/>
          </zeroOrMore>
        </list>
      </attribute>
    </optional>
  </define>
  <start>
    <choice>
      <ref name="TEI"/>
      <ref name="teiCorpus"/>
    </choice>
  </start>
</grammar>
