Projects/Lodel/lodel.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Lodel ODD</title>
         </titleStmt>
         <publicationStmt>
            <p>Publication Information</p>
         </publicationStmt>
         <sourceDesc>
            <p>Information about the source</p>
         </sourceDesc>
      </fileDesc>
  </teiHeader>
  <text>
      <body>


         <schemaSpec ident="lodel" start="TEI">

<moduleRef key="tei"/>
<moduleRef key="header" include="appInfo application availability
				 edition encodingDesc extent fileDesc
				 idno keywords language langUsage
				 notesStmt profileDesc projectDesc
				 publicationStmt rendition sourceDesc
				 tagsDecl teiHeader textClass titleStmt" />
<moduleRef key="analysis" include="s" />
<moduleRef key="linking" include="ab anchor" />
<moduleRef key="namesdates" include="affiliation forename orgName
				     persName roleName surname" />
<moduleRef key="figures" include="cell figure row table"/>
<moduleRef key="tagdocs" include="code" />
<moduleRef key="textstructure" include="back body div front TEI text" />
<moduleRef key="transcr" include="ex"/>
<moduleRef key="core" include="abbr author bibl biblFull biblScope
			       date desc editor email graphic head hi
			       item label lb list listBibl meeting
			       name note p pb ptr publisher pubPlace q
			       ref relatedItem resp respStmt title" />

<classSpec ident="att.global" module="tei" mode="change" type="atts">
<attList>
<attDef ident="n" mode="delete"/>
<attDef ident="rendition" mode="delete"/>
<attDef ident="style" mode="delete"/>
<attDef ident="xml:base" mode="delete"/>
<attDef ident="xml:space" mode="delete"/>
</attList>
</classSpec>

<classSpec ident="att.global.linking" mode="delete" module="tei" type="atts"/>
<classSpec ident="att.global.analytic" mode="delete" module="tei" type="atts"/>
<classSpec ident="att.global.facs" mode="delete" module="tei" type="atts"/>
<classSpec ident="att.global.change" mode="delete" module="tei" type="atts"/>
<classSpec ident="att.declaring" mode="delete" module="tei" type="atts"/>
<classSpec ident="att.fragmentable" mode="delete" module="tei" type="atts"/>
<classSpec ident="att.editLike" mode="delete" module="tei" type="atts"/>
<classSpec ident="att.datable" mode="delete" module="tei" type="atts"/>
<classSpec ident="att.naming" mode="delete" module="tei" type="atts"/>

<elementSpec ident="abbr" mode="change" module="core">
<attList>
<attDef ident="rend"  mode="delete"/>
</attList></elementSpec>

<elementSpec ident="anchor" mode="change" module="core">
<attList>
<attDef ident="corresp"  mode="add"/>
</attList></elementSpec>



      </schemaSpec>
      
</body>
  </text>
</TEI>
