Projects/CINES/Samples/queen/Meta/justTheWords.odd

<?xml version="1.0"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0"
   xml:lang="en">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Just the words</title>
            <author>Lou Burnard</author>
         </titleStmt>
         <publicationStmt>
            <distributor>Lou Burnard Consulting</distributor>
            <availability status="free">
               <licence/>
            </availability>
         </publicationStmt>
         <sourceDesc>
            <p>Text hand edited; schemaSpec autogenerated</p>
         </sourceDesc>
      </fileDesc>
      <revisionDesc>
         <change when="2014-03-12" who="#LB">substial revisions for CINES exercise</change>
         <change when="2010-02-02" who="#LB">first version</change>
      </revisionDesc>
   </teiHeader>
   <text>
      <body>
         <p>This ODD documents a minimal TEI schema for use with the Queen's Christmas Broadcast
            Corpus using a bare minimum of tags and word-level linguistic analysis. </p>
         <div>
            <head>Basic text structure</head>
            <p>In this very simple schema, a document contains just a <gi>body</gi>, though this may
               be subdivided using nested <gi>div</gi> elements. Within the <gi>div</gi> elements
               only <gi>head</gi> and <gi>p</gi> elements are permitted. <specList>
                  <specDesc key="div"/>
                  <specDesc key="head"/>
                  <specDesc key="p"/>
               </specList>
            </p>
            <p>The <gi>head</gi> and <gi>p</gi> elements have the same structure: they must contain
               at least one <gi>s</gi> element, representing a sentence-like unit. The <gi>s</gi>
               element can contain any number of <gi>w</gi> or <gi>pc</gi> elements, representing
               lexical and punctuation tokens respectively. To make formatting easier, white space
               is also permitted within <gi>s</gi> elements.</p>
         </div>
         <div>
            <head>Analytic elements</head>
            <p>This schema uses only the <gi>s</gi>, <gi>w</gi>, and <gi>pc</gi> elements from the
               analysis module. </p>
            <p>The <gi>w</gi> element carries the following attributes: <specDesc key="w"
                  atts="type lemma"/> These codes are generated by the <code>treeTagger</code>
               program. </p>
            <p>The <gi>pc</gi> element carries the following attributes: <specDesc key="pc"
                  atts="type"/>
            </p>
         </div>
         <div>
            <head>Header structure</head>
            <p>A simplified version of the TEI Header is defined, following recommendations for
               compatibility with the CINES archival ingest format. At the top level, a header must
               contain a <gi>fileDesc</gi>, a<gi>profileDesc</gi> and a <gi>revisionDesc</gi>. </p>
            <p>The <gi>fileDesc</gi> must contain the following elements: <specList>
                  <specDesc key="fileDesc"/>
                  <specDesc key="titleStmt"/>
                  <specDesc key="publicationStmt"/>
                  <specDesc key="sourceDesc"/>
               </specList>
            </p>
            
            <p>Within the <gi>titleStmt</gi> only <gi>title</gi>, <gi>author</gi>, and
                  <gi>respStmt</gi> are permitted. The <gi>publicationStmt</gi> should contain a
                  <gi>distributor</gi>, followed optionally by an <gi>address</gi> or
                  <gi>pubPlace</gi> and <gi>date</gi>. The <gi>sourceDesc</gi> contains only a
                  <gi>note</gi>. </p>
            
            <p>The <gi>profileDesc</gi> must contain the following elements: <specList>
                  <specDesc key="profileDesc"/>
                  <specDesc key="langUsage"/>
                  <specDesc key="language" atts="ident"/>
                  <specDesc key="textClass"/>
                  <specDesc key="keywords"/>
                  <specDesc key="term"/>
               </specList>
            </p>
            <p>The <gi>revisionDesc</gi> must contain the following elements: <specList>
                  <specDesc key="revisionDesc"/>
                  <specDesc key="change"/>
               </specList>
            </p>
         </div>
         <div>
            <head>Class and macro modifications</head>
            <p>Several TEI attribute classes are simplified. The attributes xml:space, rend,
               rendition, and style are removed from the att.global class, so that this now makes
               available to all elements only the following attributes: <specList>
                  <specDesc key="att.global" atts="xml:id xml:lang xml:base n"/>
               </specList>
               <att>xml:base</att> is retained for technical reasons only; without it oXyGen does
               not correctly validate documents using xInclude.</p>
            <p>Most content models are drastically simplified. To ensure that the Header elements do
               not contain linguistic segmentation elements, the macros
                  <ident>macro.phraseSeq</ident> and <ident>macro.specialPara</ident> are redefined
               to contain text only.</p>
         </div>
         <div>
            <head>Schema Specification</head>
            <p>An initial schema specification was automatically generated from the entire corpus using
               oddbyexample.xsl on 14 feb 2010. This was then manually edited and simplified to
               produce the following minimal ODD. </p>
            <schemaSpec ident="justTheWords" start="TEI ">
               <moduleRef key="tei"/>
               <moduleRef key="header"
                  include="teiHeader fileDesc titleStmt  publicationStmt availability licence distributor idno sourceDesc profileDesc langUsage language textClass keywords revisionDesc change"/>
               <moduleRef key="core" include="p note head author title date term"/>
               <moduleRef key="textstructure" include="TEI text body div head"/>
               <moduleRef key="analysis" include="s w pc"/>
               <classSpec type="model" ident="model.emphLike" mode="delete"/>
               <classSpec ident="att.global" module="tei" type="atts" mode="change">
                  <attList>
                     <attDef ident="xml:space" mode="delete"/>
                     <attDef ident="rend" mode="delete"/>
                     <attDef ident="style" mode="delete"/>
                     <attDef ident="rendition" mode="delete"/>
                     <!--attDef ident="xml:base" mode="delete"/-->
                  </attList>
               </classSpec>
               <classSpec ident="att.declarable" module="tei" type="atts" mode="delete"/>
               <classSpec ident="att.divLike" module="tei" type="atts" mode="delete"/>
               <classSpec ident="att.typed" module="tei" type="atts" mode="change">
                  <attList>
                     <attDef ident="subtype" mode="delete"/>
                  </attList>
               </classSpec>
               <classSpec ident="att.segLike" module="tei" type="atts" mode="delete"/>
               <classSpec ident="att.declaring" module="tei" type="atts" mode="delete"/>
               <classSpec ident="att.canonical" module="tei" type="atts" mode="delete"/>
               <macroSpec ident="macro.specialPara" mode="change">
                  <content>
                     <rng:text/>
                  </content>
               </macroSpec>
               <macroSpec ident="macro.phraseSeq" mode="change">
                  <content>
                     <rng:text/>
                  </content>
               </macroSpec>
               <macroSpec ident="macro.paraContent" mode="change">
                  <content>
                     <rng:text/>
                  </content>
               </macroSpec>
               <elementSpec ident="note" mode="change">
                  <classes>
                     <memberOf key="att.global"/>
                     <memberOf key="att.typed"/>
                  </classes>
                  <attList >
                     <attDef ident="anchored" mode="delete"/>
                     <attDef ident="targetEnd" mode="delete"/>
                  </attList>  
               </elementSpec>
              <!-- <elementSpec ident="title" mode="change">
                  <content>
                     <rng:text/>
                  </content>
               </elementSpec>
               <elementSpec ident="author" mode="change">
                  <content>
                     <rng:text/>
                  </content>
               </elementSpec>
               <elementSpec ident="distributor" mode="change">
                  <content>
                     <rng:text/>
                  </content>
               </elementSpec>
               <elementSpec ident="licence" mode="change">
                  <content>
                     <rng:text/>
                  </content>
               </elementSpec>-->
               <elementSpec ident="head" mode="change">
                  <content>
                     <rng:oneOrMore>
                        <rng:ref name="s"/>
                     </rng:oneOrMore>
                  </content>
               </elementSpec>
               <elementSpec ident="w" mode="change">
                  <content>
                     <rng:text/>
                  </content>
                  <attList>
                     <attDef ident="lemmaRef" mode="delete"/>
                     <attDef ident="type" mode="change">
                        <valList mode="add" type="closed">
                           <valItem ident="CC"/>
                           <valItem ident="CD"/>
                           <valItem ident="DT"/>
                           <valItem ident="EX"/>
                           <valItem ident="IN"/>
                           <valItem ident="JJ"/>
                           <valItem ident="JJR"/>
                           <valItem ident="JJS"/>
                           <valItem ident="MD"/>
                           <valItem ident="NN"/>
                           <valItem ident="NNS"/>
                           <valItem ident="NP"/>
                           <valItem ident="NPS"/>
                           <valItem ident="PDT"/>
                           <valItem ident="POS"/>
                           <valItem ident="PP"/>
                           <valItem ident="PPs"/>
                           <valItem ident="RB"/>
                           <valItem ident="RBR"/>
                           <valItem ident="RBS"/>
                           <valItem ident="RP"/>
                           <valItem ident="TO"/>
                           <valItem ident="UH"/>
                           <valItem ident="VB"/>
                           <valItem ident="VBD"/>
                           <valItem ident="VBG"/>
                           <valItem ident="VBN"/>
                           <valItem ident="VBP"/>
                           <valItem ident="VBZ"/>
                           <valItem ident="VH"/>
                           <valItem ident="VHD"/>
                           <valItem ident="VHG"/>
                           <valItem ident="VHN"/>
                           <valItem ident="VHP"/>
                           <valItem ident="VHZ"/>
                           <valItem ident="VV"/>
                           <valItem ident="VVD"/>
                           <valItem ident="VVG"/>
                           <valItem ident="VVN"/>
                           <valItem ident="VVP"/>
                           <valItem ident="VVZ"/>
                           <valItem ident="WDT"/>
                           <valItem ident="WP"/>
                           <valItem ident="WPs"/>
                           <valItem ident="WRB"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>
               <elementSpec ident="pc" mode="change">
                  <content>
                     <rng:text/>
                  </content>
                  <attList>
                     <attDef ident="force" mode="delete"/>
                     <attDef ident="unit" mode="delete"/>
                     <attDef ident="pre" mode="delete"/>
                     <attDef ident="type" mode="change">
                        <valList mode="add" type="closed">
                           <valItem ident="SENT"/>
                           <valItem ident="cp"/>
                           <valItem ident="cq"/>
                           <valItem ident="op"/>
                           <valItem ident="oq"/>
                           <valItem ident="sub"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>
               <classSpec ident="att.global.analytic" module="analysis" type="atts" mode="change">
                  <attList>
                     <attDef ident="ana" mode="delete"/>
                  </attList>
               </classSpec>
               <elementSpec ident="p" mode="change">
                  <content>
                     <rng:oneOrMore>
                        <rng:ref name="s"/>
                     </rng:oneOrMore>
                  </content>
               </elementSpec>
               <elementSpec ident="s" mode="change">
                  <content>
                     <rng:oneOrMore>
                        <rng:choice>
                           <rng:ref name="pc"/>
                           <rng:ref name="w"/>
                        </rng:choice>
                     </rng:oneOrMore>
                  </content>
               </elementSpec>
               <elementSpec ident="date" mode="change">
                  <attList>
                     <attDef ident="calendar" mode="delete"/>
                     <attDef ident="type" mode="delete"/>
                  </attList>
               </elementSpec>
               <elementSpec ident="sourceDesc" mode="change">
                  <content>
                     <rng:ref name="note"/>
                  </content>
                  <attList>
                     <attDef ident="n" mode="delete"/>
                     <attDef ident="xml:lang" mode="delete"/>
                  </attList>
               </elementSpec>
            </schemaSpec>
         </div>
      </body>
   </text>
</TEI>
