Talks/2013-03-lille/cartes/virgolos.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en" xmlns:rnc="http://relaxng.org">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Virgolos schema: derived by ODD by Example from Anais files, hand edited for English</title>
            </titleStmt>
          
            <publicationStmt>
                <p/>
            </publicationStmt>
            <sourceDesc>
                <p>generated by oddbyexample.xsl, based on analyzing 14 files from
                    /home/lou/Dropbox/ADONIS/ANGD-2011/Structured</p><p>Revised manually for DHOXSS</p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            
            <schemaSpec ident="virgolos" start="TEI teiCorpus">
                <moduleRef key="core"
                    include="abbr addrLine address bibl date del emph  foreign gap graphic head item lb list name note p postBox postCode pubPlace publisher q resp respStmt street teiCorpus title unclear"/>
                <moduleRef key="header"
                    include="availability catDesc category change classDecl extent fileDesc idno keywords langUsage language licence profileDesc projectDesc publicationStmt revisionDesc sourceDesc teiHeader titleStmt"/>
                <moduleRef key="textstructure"
                    include="TEI body dateline div salute postscript signed text"/>
                <moduleRef key="figures" include="figure figDesc"/>
                <moduleRef key="msdescription" include="stamp"/>
                <moduleRef key="transcr" include="att.global.facs"/>
                <moduleRef key="tei"/>
                

                <elementSpec ident="div" mode="change" module="textstructure">
                    <attList >
                        <attDef ident="type" mode="replace" usage="req" >
                            <valList type="closed">
                                <valItem ident="recto">
                                    <desc>the front side of the card usually containing a
                                        picture</desc>
                                </valItem>
                                <valItem ident="verso">
                                    <desc>the back side of the card usually containing the message
                                        and the addressee</desc>
                                </valItem>
                                <valItem ident="message">
                                    <desc>a part of the card containing a message</desc>
                                </valItem>
                                <valItem ident="destination">
                                    <desc>the part of the card containing the address and other
                                        information about its sending e.g. stamps or
                                        postmarks</desc>
                                </valItem>

                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                
                <elementSpec ident="stamp" mode="change" module="textstructure">
                    <attList>
                        <attDef ident="type" mode="replace">
                            <valList type="closed">
                                <valItem ident="postmark">
                                    <desc>information in the postmark</desc>
                                </valItem>
                                <valItem ident="publicity">
                                    <desc>slogan or publicity stamped when card was posted</desc>
                                </valItem>
                                <valItem ident="postage">
                                    <desc>description of any postage stamp or seal affixed to the
                                        card</desc>
                                </valItem>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>

                <classSpec ident="att.ascribed" module="tei" type="atts" mode="delete"/>


                <classSpec ident="att.canonical" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="key" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.ranging" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="atLeast" mode="delete"/>
                        <attDef ident="atMost" mode="delete"/>
                        <attDef ident="min" mode="delete"/>
                        <attDef ident="max" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.dimensions" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="unit" mode="delete"/>
                        <attDef ident="quantity" mode="delete"/>
                        <attDef ident="extent" mode="delete"/>
                        <attDef ident="precision" mode="delete"/>
                        <attDef ident="scope" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.damaged" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="hand" mode="delete"/>
                        <attDef ident="agent" mode="delete"/>
                        <attDef ident="degree" mode="delete"/>
                        <attDef ident="group" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.breaking" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="break" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.datable.w3c" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="period" mode="delete"/>
                        <attDef ident="notBefore" mode="delete"/>
                        <attDef ident="notAfter" mode="delete"/>
                        <attDef ident="from" mode="delete"/>
                        <attDef ident="to" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.declarable" module="tei" type="atts" mode="delete"/>

                <classSpec ident="att.declaring" module="tei" type="atts" mode="delete"/>

                <classSpec ident="att.divLike" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="org" mode="delete"/>
                        <attDef ident="sample" mode="delete"/>
                        <attDef ident="part" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.docStatus" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="status" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.duration.w3c" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="dur" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.responsibility" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="cert" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.editLike" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="evidence" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.global" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="rendition" mode="delete"/>
                        <attDef ident="xml:base" mode="delete"/>
                        <attDef ident="xml:space" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.handFeatures" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="scribe" mode="delete"/>
                        <attDef ident="scribeRef" mode="delete"/>
                        <attDef ident="script" mode="delete"/>
                        <attDef ident="scriptRef" mode="delete"/>
                        <attDef ident="medium" mode="delete"/>
                        <attDef ident="scope" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.internetMedia" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="mimeType" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.interpLike" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="type" mode="delete"/>
                        <attDef ident="inst" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.measurement" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="unit" mode="delete"/>
                        <attDef ident="quantity" mode="delete"/>
                        <attDef ident="commodity" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.naming" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="role" mode="delete"/>
                        <attDef ident="nymRef" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.placement" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="place" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.typed" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="subtype" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.pointing" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="target" mode="delete"/>
                        <attDef ident="evaluate" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.pointing.group" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="domains" mode="delete"/>
                        <attDef ident="targFunc" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.readFrom" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="source" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.scoping" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="target" mode="delete"/>
                        <attDef ident="match" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.segLike" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="function" mode="delete"/>
                        <attDef ident="part" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.sourced" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="ed" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.spanning" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="spanTo" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.tableDecoration" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="role" mode="delete"/>
                        <attDef ident="rows" mode="delete"/>
                        <attDef ident="cols" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.timed" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="start" mode="delete"/>
                        <attDef ident="end" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.transcriptional" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="hand" mode="delete"/>
                        <attDef ident="status" mode="delete"/>
                        <attDef ident="seq" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.translatable" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="version" mode="delete"/>
                    </attList>
                </classSpec>
                <classSpec ident="att.personal" module="tei" type="atts" mode="change">
                    <attList>
                        <attDef ident="full" mode="delete"/>
                        <attDef ident="sort" mode="delete"/>
                    </attList>
                </classSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>
