Projects/odd4crit/odd4crit.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title type="short">odd4crit</title>
            <title>ODD for critical editions</title>
         </titleStmt>
         <publicationStmt>
            <p>Unpublished first draft </p>
         </publicationStmt>
         <sourceDesc>
            <p>Derived from <ref
                  target="https://www.tei-c.org/Vault/P5/current/xml/tei/odd/p5subset.xml">base
                  odd</ref> after an analysis of 6 files in
               /home/lou/Public/tei-fr/Projects/markKit</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <schemaSpec ident="oddbyexample" start="TEI teiCorpus">
            <moduleRef key="tei"/>
            <!--Checking module textcrit-->
            <classRef key="att.textCritical"/>
            <classRef key="att.witnessed"/>
            <classRef key="model.rdgLike"/>
            <classRef key="model.rdgPart"/>
            <moduleRef key="textcrit" include="app lem rdg listWit witness"/>
            <elementSpec ident="app" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
                  <attDef ident="loc" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="lem" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="corr"/>
                     </valList>
                  </attDef>
                  <attDef ident="cause" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="rdg" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="antecorr"/>
                     </valList>
                  </attDef>
                  <attDef ident="cause" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="hom"/>
                        <valItem ident="order"/>
                        <valItem ident="ortho"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="listWit" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="sortKey" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="witness" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="sortKey" mode="delete"/>
               </attList>
            </elementSpec>
            <classSpec ident="att.textCritical" type="atts" mode="change">
               <attList>
                  <attDef ident="varSeq" mode="delete"/>
                  <attDef ident="require" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module msdescription-->
            <classRef key="model.physDescPart"/>
            <!--Checking module namesdates-->
            <classRef key="model.persNamePart"/>
            <moduleRef key="namesdates"
               include="persName placeName listPerson listPlace person place"/>
            <elementSpec ident="persName" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="placeName" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="listPerson" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
                  <attDef ident="sortKey" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="listPlace" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
                  <attDef ident="sortKey" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="person" mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="sex" mode="delete"/>
                  <attDef ident="gender" mode="delete"/>
                  <attDef ident="age" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="sortKey" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="place" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
                  <attDef ident="sortKey" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module dictionaries-->
            <classRef key="att.lexicographic"/>
            <classRef key="model.entryLike"/>
            <classRef key="model.formPart"/>
            <classRef key="model.gramPart"/>
            <classRef key="model.lexicalRefinement"/>
            <classRef key="model.morphLike"/>
            <classRef key="model.ptrLike.form"/>
            <classSpec ident="att.lexicographic" type="atts" mode="change">
               <attList>
                  <attDef ident="expand" mode="delete"/>
                  <attDef ident="split" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="location" mode="delete"/>
                  <attDef ident="mergedIn" mode="delete"/>
                  <attDef ident="opt" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module tagdocs-->
            <classRef key="att.combinable"/>
            <classRef key="att.identified"/>
            <classRef key="model.contentPart"/>
            <classSpec ident="att.combinable" type="atts" mode="change">
               <attList>
                  <attDef ident="mode" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.identified" type="atts" mode="change">
               <attList>
                  <attDef ident="ident" mode="delete"/>
                  <attDef ident="predeclare" mode="delete"/>
                  <attDef ident="module" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.anchoring" type="atts" mode="change">
               <attList>
                  <attDef ident="targetEnd" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.ascribed.directed" type="atts" mode="change">
               <attList>
                  <attDef ident="toWhom" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.canonical" type="atts" mode="change">
               <attList>
                  <attDef ident="key" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.dimensions" type="atts" mode="change">
               <attList>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="precision" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.damaged" type="atts" mode="change">
               <attList>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="degree" mode="delete"/>
                  <attDef ident="group" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable" type="atts" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.editLike" type="atts" mode="change">
               <attList>
                  <attDef ident="evidence" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.media" type="atts" mode="change">
               <attList>
                  <attDef ident="width" mode="delete"/>
                  <attDef ident="height" mode="delete"/>
                  <attDef ident="scale" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.naming" type="atts" mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="nymRef" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing" type="atts" mode="change">
               <attList>
                  <attDef ident="targetLang" mode="delete"/>
                  <attDef ident="evaluate" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing.group" type="atts" mode="change">
               <attList>
                  <attDef ident="domains" mode="delete"/>
                  <attDef ident="targFunc" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.segLike" type="atts" mode="change">
               <attList>
                  <attDef ident="function" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.edition" type="atts" mode="change">
               <attList>
                  <attDef ident="ed" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.timed" type="atts" mode="change">
               <attList>
                  <attDef ident="start" mode="delete"/>
                  <attDef ident="end" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.transcriptional" type="atts" mode="change">
               <attList>
                  <attDef ident="status" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="seq" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.personal" type="atts" mode="change">
               <attList>
                  <attDef ident="full" mode="delete"/>
                  <attDef ident="sort" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module core-->
            <moduleRef key="core"
               include="p foreign hi quote cit term sic unclear list item head note index pb author title bibl listBibl teiCorpus"/>
            <elementSpec ident="p" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="part" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="N"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="foreign" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="hi" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="quote" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="cit" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="biblia"/>
                        <valItem ident="interp"/>
                        <valItem ident="source"/>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="cf"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="term" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="sortKey" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="sic" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="unclear" mode="change">
               <attList>
                  <attDef ident="reason" mode="delete"/>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="list" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="sortKey" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="item" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="head" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
                  <attDef ident="place" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="margin"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="note" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="place" mode="delete"/>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="index" mode="change">
               <attList>
                  <attDef ident="indexName" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="pb" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
                  <attDef ident="break" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="no"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="author" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="title" mode="change">
               <attList>
                  <attDef ident="level" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="bibl" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="1Cor"/>
                        <valItem ident="1Mcc"/>
                        <valItem ident="1Rg"/>
                        <valItem ident="1Thess"/>
                        <valItem ident="1Tim"/>
                        <valItem ident="2Cor"/>
                        <valItem ident="2Mcc"/>
                        <valItem ident="2Par"/>
                        <valItem ident="2Rg"/>
                        <valItem ident="Abd"/>
                        <valItem ident="Act"/>
                        <valItem ident="Apc"/>
                        <valItem ident="Col"/>
                        <valItem ident="Ct"/>
                        <valItem ident="Dn"/>
                        <valItem ident="Dt"/>
                        <valItem ident="Eccli"/>
                        <valItem ident="Ecl"/>
                        <valItem ident="Est"/>
                        <valItem ident="Ex"/>
                        <valItem ident="Ez"/>
                        <valItem ident="Gal"/>
                        <valItem ident="Gn"/>
                        <valItem ident="Hab"/>
                        <valItem ident="Hbr"/>
                        <valItem ident="Iac"/>
                        <valItem ident="Ier"/>
                        <valItem ident="Io"/>
                        <valItem ident="Iob"/>
                        <valItem ident="Ios"/>
                        <valItem ident="Is"/>
                        <valItem ident="Lc"/>
                        <valItem ident="Lv"/>
                        <valItem ident="Mc"/>
                        <valItem ident="Mt"/>
                        <valItem ident="Nm"/>
                        <valItem ident="Phlp"/>
                        <valItem ident="Prv"/>
                        <valItem ident="Ps"/>
                        <valItem ident="Rm"/>
                        <valItem ident="Rt"/>
                        <valItem ident="Sap"/>
                        <valItem ident="So"/>
                        <valItem ident="Tb"/>
                     </valList>
                  </attDef>
                  <attDef ident="subtype" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="1"/>
                        <valItem ident="10"/>
                        <valItem ident="103"/>
                        <valItem ident="106"/>
                        <valItem ident="11"/>
                        <valItem ident="111"/>
                        <valItem ident="118"/>
                        <valItem ident="12"/>
                        <valItem ident="122"/>
                        <valItem ident="13"/>
                        <valItem ident="131"/>
                        <valItem ident="132"/>
                        <valItem ident="14"/>
                        <valItem ident="142"/>
                        <valItem ident="144"/>
                        <valItem ident="147"/>
                        <valItem ident="15"/>
                        <valItem ident="16"/>
                        <valItem ident="18"/>
                        <valItem ident="19"/>
                        <valItem ident="2"/>
                        <valItem ident="20"/>
                        <valItem ident="21"/>
                        <valItem ident="22"/>
                        <valItem ident="23"/>
                        <valItem ident="24"/>
                        <valItem ident="25"/>
                        <valItem ident="26"/>
                        <valItem ident="28"/>
                        <valItem ident="29"/>
                        <valItem ident="3"/>
                        <valItem ident="30"/>
                        <valItem ident="31"/>
                        <valItem ident="33"/>
                        <valItem ident="34"/>
                        <valItem ident="36"/>
                        <valItem ident="37"/>
                        <valItem ident="4"/>
                        <valItem ident="40"/>
                        <valItem ident="41"/>
                        <valItem ident="43"/>
                        <valItem ident="44"/>
                        <valItem ident="45"/>
                        <valItem ident="48"/>
                        <valItem ident="5"/>
                        <valItem ident="50"/>
                        <valItem ident="51"/>
                        <valItem ident="55"/>
                        <valItem ident="56"/>
                        <valItem ident="6"/>
                        <valItem ident="61"/>
                        <valItem ident="62"/>
                        <valItem ident="63"/>
                        <valItem ident="7"/>
                        <valItem ident="72"/>
                        <valItem ident="77"/>
                        <valItem ident="79"/>
                        <valItem ident="8"/>
                        <valItem ident="82"/>
                        <valItem ident="84"/>
                        <valItem ident="9"/>
                        <valItem ident="94"/>
                     </valList>
                  </attDef>
                  <attDef ident="sortKey" mode="delete"/>
                  <attDef ident="status" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="draft"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="listBibl" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="sortKey" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="teiCorpus" mode="change">
               <attList>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module figures-->
            <!--Checking module header-->
            <moduleRef key="header"
               include="teiHeader fileDesc titleStmt publicationStmt sourceDesc"/>
            <elementSpec ident="teiHeader" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="fileDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="titleStmt" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publicationStmt" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="sourceDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <!--Checking module gaiji-->
            <!--Checking module verse-->
            <!--Checking module transcr-->
            <!--Checking module linking-->
            <classRef key="att.global.linking"/>
            <classSpec ident="att.global.linking" type="atts" mode="change">
               <attList>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module analysis-->
            <classRef key="att.global.analytic"/>
            <classRef key="att.linguistic"/>
            <classSpec ident="att.linguistic" type="atts" mode="change">
               <attList>
                  <attDef ident="lemma" mode="delete"/>
                  <attDef ident="lemmaRef" mode="delete"/>
                  <attDef ident="pos" mode="delete"/>
                  <attDef ident="msd" mode="delete"/>
                  <attDef ident="join" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module textstructure-->
            <moduleRef key="textstructure" include="TEI text body div"/>
            <elementSpec ident="TEI" mode="change">
               <attList>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="text" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="body" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="div" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="org" mode="delete"/>
                
                  <attDef ident="sample" mode="delete"/>
                     
                  <attDef ident="part" mode="delete"/>
                     
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </elementSpec>
         </schemaSpec>
      </body>
   </text>
</TEI>
