Projects/castellanie/generated.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>castellanie customization</title>
         </titleStmt>
         <editionStmt>
            <edition>generated on     
	   <date>2015-02-06T17:23:02Z</date>
            </edition>
         </editionStmt>
         <publicationStmt>
            <p/>
         </publicationStmt>
         <sourceDesc>
            <p>hand-edited from version generated by oddbyexample.xsl, based on analyzing 
	    114 files from
	    file:/home/lou/Public/tei-fr/Projects/marj/ALL/</p>
         </sourceDesc>
      </fileDesc>
      <!-- removed attributes provided by defaultVal -->
      <!-- checked that all inherited atts are actually used -->
   </teiHeader>
   <text>
      <body>
         <schemaSpec ident="castellanie" start="TEI ">
            <moduleRef key="tei"/>
            <classSpec ident="att.ascribed" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.canonical" module="tei" type="atts" mode="change"><!-- include=key -->
               <attList>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.ranging" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.dimensions" module="tei" type="atts" mode="change"><!-- include=extent-->
               <attList>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="precision" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.damaged" module="tei" type="atts" mode="change"><!-- include=agent -->
               <attList>
                  <attDef ident="hand" mode="delete"/>
                  <attDef ident="degree" mode="delete"/>
                  <attDef ident="group" mode="delete"/> 
               </attList>
            </classSpec>
            <classSpec ident="att.breaking" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.cReferencing" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.datable.w3c" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.datable" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datcat" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.declaring" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.docStatus" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.duration.w3c" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.duration.iso" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.editLike" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="evidence" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.global" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.handFeatures" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.internetMedia"
                       module="tei"
                       type="atts"
                       mode="delete"/>
            <classSpec ident="att.media" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="width" mode="delete"/>
                  <attDef ident="height" mode="delete"/>
                  <attDef ident="scale" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.resourced" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.interpLike" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.measurement" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.naming" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="nymRef" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.typed" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.pointing.group"
                       module="tei"
                       type="atts"
                       mode="change">
               <attList>
                  <attDef ident="domains" mode="delete"/>
                  <attDef ident="targFunc" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.readFrom" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.scoping" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.segLike" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="function" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.sortable" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.edition" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.spanning" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.styleDef" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.tableDecoration"
                       module="tei"
                       type="atts"
                       mode="delete"/>
            <classSpec ident="att.timed" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.transcriptional"
                       module="tei"
                       type="atts"
                       mode="change">
               <attList>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="seq" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.translatable" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.citing" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.source" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.personal" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="sort" mode="delete"/>
               </attList>
            </classSpec>
            <moduleRef key="core"
                       include="add date del foreign head hi item lb list milestone name note p pb quote resp respStmt sic title unclear"/>
          <elementSpec ident="p" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="head"/>
                        <valItem ident="verso"/>
                     </valList>
                  </attDef>
                  <attDef ident="part" mode="delete"><!-- delete default value -->
                     <!--<valList mode="add" type="closed">
                        <valItem ident="N"/>
                     </valList>-->
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="foreign" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="hi" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident=""/>
                        <valItem ident="césure"/>
                        <valItem ident="italics"/>
                        <valItem ident="itlics"/>
                        <valItem ident="rend"/>
                        <valItem ident="sup"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="quote" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="sic" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="add" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="autreMain"/>
                     </valList>
                  </attDef>
                  <attDef ident="status" mode="delete"/>
                     <!--<valList mode="add" type="closed">
                        <valItem ident="unremarkable"/>
                     </valList>-->
                
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="place" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident=""/>
                        <valItem ident="bottom"/>
                        <valItem ident="endOfLine"/>
                        <valItem ident="endOfPar"/>
                        <valItem ident="enfOfLine"/>
                        <valItem ident="enfOfLines"/>
                        <valItem ident="intelinear"/>
                        <valItem ident="interlinar"/>
                        <valItem ident="interlinear"/>
                        <valItem ident="leftMArgin"/>
                        <valItem ident="leftMargin"/>
                        <valItem ident="rightMargin"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="del" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident=""/>
                        <valItem ident="biffé"/>
                        <valItem ident="grattage"/>
                        <valItem ident="overstrike"/>
                        <valItem ident="scratched"/>
                        <valItem ident="underline_dotted"/>
                        <valItem ident="underlined"/>
                        <valItem ident="underlined_dotted"/>
                     </valList>
                  </attDef>
                  <attDef ident="hand" mode="delete"/>
                  <attDef ident="status" mode="delete"/>
                    <!-- <valList mode="add" type="closed">
                        <valItem ident="unremarkable"/>
                     </valList>-->
              
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="unclear" mode="change">
               <attList>
                  <attDef ident="hand" mode="delete"/>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="name" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="full" mode="delete"/>
     <!--                <valList mode="add" type="closed">
                        <valItem ident="yes"/>
                     </valList>-->
                  <attDef ident="from-iso" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="date" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="debut"/>
                        <valItem ident="fin"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="list" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="item" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="head" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="note" mode="change">
               <attList>
                  <attDef ident="targetEnd" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="place" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="foot"/>
                     </valList>
                  </attDef>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="césure"/>
                        <valItem ident="refbibl"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="milestone" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="unit" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="vue"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="pb" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="lb" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="respStmt" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="key" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="resp" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="key" mode="delete"/>
                  <attDef ident="from-iso" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="title" mode="change">
               <attList>
                  <attDef ident="level" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="key" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <moduleRef key="header"
                       include="change edition editionStmt fileDesc publicationStmt revisionDesc seriesStmt sourceDesc teiHeader titleStmt"/>
      <elementSpec ident="teiHeader" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                     <!--<valList mode="add" type="closed">
                        <valItem ident="text"/>
                     </valList>-->
               
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="fileDesc" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="titleStmt" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="editionStmt" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="edition" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publicationStmt" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="seriesStmt" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="sourceDesc" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="default" mode="delete"/>
                   <!--  <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
             -->
               </attList>
            </elementSpec>
            <elementSpec ident="revisionDesc" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="change" mode="change">
               <attList>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="from-iso" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <classSpec ident="att.patternReplacement"
                       module="header"
                       type="atts"
                       mode="delete"/>

            <moduleRef key="namesdates" include="orgName persName roleName"/>
  <elementSpec ident="orgName" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="from-iso" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="full" mode="delete"/>
                     <!--<valList mode="add" type="closed">
                        <valItem ident="yes"/>
                     </valList>-->
                  
                  <attDef ident="key" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="persName" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="from-iso" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="full" mode="delete"/>
                   <!--  <valList mode="add" type="closed">
                        <valItem ident="yes"/>
                     </valList>-->
                 
                  <attDef ident="key" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="roleName" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="full" mode="delete"/>
                     <!--<valList mode="add" type="closed">
                        <valItem ident="yes"/>
                     </valList>-->
                  
                  <attDef ident="key" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <classSpec ident="att.datable.custom"
                       module="namesdates"
                       type="atts"
                       mode="delete"/>
            <classSpec ident="att.datable.iso"
                       module="namesdates"
                       type="atts"
                       mode="change">
               <attList>
                  <attDef ident="when-iso" mode="delete"/>
                  <attDef ident="notBefore-iso" mode="delete"/>
                  <attDef ident="notAfter-iso" mode="delete"/>
                  <attDef ident="to-iso" mode="delete"/>
               </attList>
            </classSpec>
     
           <!-- <classSpec ident="att.ascribed" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.canonical" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.ranging" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.dimensions" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="precision" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.damaged" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="hand" mode="delete"/>
                  <attDef ident="degree" mode="delete"/>
                  <attDef ident="group" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.breaking" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.cReferencing" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.datable.w3c" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.datable" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datcat" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.declaring" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.docStatus" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.duration.w3c" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.duration.iso" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.editLike" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="evidence" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.global" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.handFeatures" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.internetMedia"
                       module="tei"
                       type="atts"
                       mode="delete"/>
            <classSpec ident="att.media" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="width" mode="delete"/>
                  <attDef ident="height" mode="delete"/>
                  <attDef ident="scale" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.resourced" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.interpLike" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.measurement" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.naming" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="nymRef" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.typed" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.pointing.group"
                       module="tei"
                       type="atts"
                       mode="change">
               <attList>
                  <attDef ident="domains" mode="delete"/>
                  <attDef ident="targFunc" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.readFrom" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.scoping" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.segLike" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="function" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.sortable" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.edition" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.spanning" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.styleDef" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.tableDecoration"
                       module="tei"
                       type="atts"
                       mode="delete"/>
            <classSpec ident="att.timed" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.transcriptional"
                       module="tei"
                       type="atts"
                       mode="change">
               <attList>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="seq" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.translatable" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.citing" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.source" module="tei" type="atts" mode="delete"/>
            <classSpec ident="att.personal" module="tei" type="atts" mode="change">
               <attList>
                  <attDef ident="sort" mode="delete"/>
               </attList>
            </classSpec>-->
            <moduleRef key="textstructure" include="TEI body div text"/>
           <elementSpec ident="TEI" mode="change">
               <attList>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="text" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="body" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="div" mode="change">
               <attList>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="org" mode="delete"/>
                     <!--<valList mode="add" type="closed">
                        <valItem ident="uniform"/>
                     </valList>-->
            
                  <attDef ident="sample" mode="delete"/>
                     <!--<valList mode="add" type="closed">
                        <valItem ident="complete"/>
                     </valList>-->
               
                  <attDef ident="part" mode="delete"/>
                    <!-- <valList mode="add" type="closed">
                        <valItem ident="N"/>
                     </valList>
                 -->
                              <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="annex"/>
                        <valItem ident="recepte"/>
                        <valItem ident="sub"/>
                        <valItem ident="subaccount"/>
                        <valItem ident="verso"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <moduleRef key="transcr" include="damage subst supplied"/>
            <elementSpec ident="damage" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="encre_délavée"/>
                        <valItem ident="parchemin_froissé"/>
                        <valItem ident="support_détruit"/>
                        <valItem ident="support_endommagé"/>
                     </valList>
                  </attDef>
                  <attDef ident="agent" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="parchemin_froissé"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="subst" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
                  <attDef ident="status" mode="delete"/>
                     <!--<valList mode="add" type="closed">
                        <valItem ident="unremarkable"/>
                     </valList>
            -->
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="supplied" mode="change">
               <attList>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="rend" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="détruit"/>
                        <valItem ident="support"/>
                     </valList>
                  </attDef>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <classSpec ident="att.global.facs"
                       module="transcr"
                       type="atts"
                       mode="delete"/>
            <classSpec ident="att.global.change"
                       module="transcr"
                       type="atts"
                       mode="delete"/>
            <classSpec ident="att.coordinated"
                       module="transcr"
                       type="atts"
                       mode="delete"/>
         </schemaSpec>
      </body>
   </text>
</TEI>
